<apex:page standardController="BSureC_Customer_Basic_Info_Stage__c" extensions="BSureC_ImportCustomerUploadProcess">
 <script>
    var strfilename='';
    
    function valFile(fname)
    {
    strfilename=fname;
    }
    
    function validateFile()
    {
        var arr1 = strfilename.split("\\");
        var len = arr1.length;
        var img1 = arr1[len-1];
        var filext = img1.substring(img1.lastIndexOf(".")+1);
        
          if(filext=='csv' && filext!='')
          {
          return true;
          }
          
          if(filext!='csv' && filext!='')
          {
          alert('Please upload csv file only');
          return false;
          }
          
          if(filext=='')
          {
          alert('Please upload file');
          return false;
          }
            
            
    } 
</script>  
<apex:form id="formId">
<apex:pageMessages ></apex:pageMessages>
<apex:sectionHeader title="" subtitle="Upload Customer Information" />

<apex:pageBlock id="pbid2">
<apex:pageBlockSection title="Upload file" columns="1" id="pbsid" collapsible="false">
<apex:pageblockSectionItem >
    <apex:outputLabel >
        <b>{!$Label.BsureC_Upload_File}:</b>
    </apex:outputLabel>
    <apex:inputFile fileName="{!filename}" id="filename" value="{!bfilecontent}" onchange="valFile(this.value)"></apex:inputFile>
</apex:pageblockSectionItem>    
</apex:pageBlockSection>

<apex:pageBlockSection columns="1" >
<apex:pageblockSectionItem >
<apex:outputpanel >
<center><apex:commandButton action="{!SaveDetailsFile}" value="Upload" id="theButton" style="width:70px;" onclick="return validateFile();"/>
        <apex:commandButton action="{!doCancel}" value="{!$Label.BSureC_Cancel}" id="cancelButton" style="width:70px;" /></center>
</apex:outputpanel>
</apex:pageblockSectionItem>
</apex:pageBlockSection>

</apex:pageBlock>
<script>
var vpbsid1 = document.getElementById('j_id0:formId:pbid2:pbsid');

vpbsid1.firstChild.style.cssText = "background-color: "+ "#58ACFA" + ";" +"background-repeat:no-repeat;"+"background-position:left;";
</script>
</apex:form>  
</apex:page>