<apex:page controller="bSureS_CreditSafePDFController" readOnly="true" showHeader="false" sidebar="false" 
    applyBodyTag="false" standardStylesheets="false"  renderAs="pdf">
    <!-- renderAs="pdf" -->
  <apex:styleSheet value="{!URLFOR($Resource.bSureS_CreditSafeCSS)}" />
  <link rel="stylesheet" href="{!URLFOR($Resource.bSureS_Creditsafe)}"/> 
      <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
             <title>Creditsafe</title>
        </head>
        <body>
            <apex:form >
                <apex:image url="{!$Resource.bSureS_CreditSafeImage}" width="210" height="70"/>
                <h2> {!PDFbean.CS_BusinessName}<br /> 
                    <apex:image url="{!$Resource.bSureS_Redline}" width="1085" height="5"/>
                </h2>
                <div style="background-image:url('{!$Resource.bSureS_CreditsafeRating}'); color:#fff; background-repeat: no-repeat;
                    font-family:Arial, Helvetica, sans-serif;" width="620px" height="145px" > <!-- class="maindiv" main div -->
                
                  <div style="text-align:center; width:116px; float:left; font-family:Arial, Helvetica, sans-serif; padding-top:7px;">Rating<br />
                    <span style="font-size:24px; font-weight:bold">{!PDFbean.CS_Rating.CommonValue}</span><br />
                    <div class="ae">A-E</div>
                    <div class="score">{!PDFbean.CS_Rating.ProviderValue}</div>
                  </div>
                  <div class="padfont country " > {!PDFbean.CS_Country} </div>
                  <div class="padfont status"> {!PDFbean.CS_CompanyStatusCode} </div>
                  <div class="padfont currency"> {!PDFbean.ReportCurrency} </div>
                  <div class="padfont language" > {!PDFbean.ReportLanguage} </div>
                  
                  <div class="sliderball"  style=" padding-left:{!SliderVal}px">
                     <apex:image url="{!$Resource.bSureS_PointerBall}" width="29" height="26" alt="pointer"/><br />
                  <div class="pointerscore">{!PDFbean.CS_Rating.ProviderValue}</div>
                  
                  </div>
                </div>
                 <!-- Company Summary section -->
                 
                <table width="700" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <th width="250" align="left">Company Summary </th>
                      <th width="331" align="left">&nbsp;</th>
                    </tr>
                    <tr >
                        <td align="left" width="250" style="border-right:0">Business Name</td>
                        <td align="left" width="331"> {!PDFbean.CS_BusinessName}</td>
                    </tr>
                    <tr>
                        <td align="left" width="250">Country</td>
                        <td align="left" width="331"> {!PDFbean.CS_Country}</td>
                    </tr>
                    <tr>
                        <td align="left" width="250">Number</td>
                        <td align="left" width="331"> {!PDFbean.CS_CompanyNumber}</td>
                    </tr>
                    <tr>
                        <td align="left" width="250">Company Registration Number</td>
                        <td align="left" width="331"> {!PDFbean.CS_CompanyRegistrationNumber}</td>
                    </tr>
                    <tr>
                        <td align="left" width="250">ActivityCode</td>
                        <td align="left" width="331"> {!PDFbean.CS_MainActivity.ActivityCode}</td>
                    </tr>
                    <tr>
                        <td align="left" width="250">Activity Description</td>
                        <td align="left" width="331"> {!PDFbean.CS_MainActivity.ActivityDescription}</td>
                    </tr>
                    <tr>
                        <td align="left" width="250">Company Status </td>
                        <td align="left" width="331">  {!PDFbean.CS_CompanyStatus} &nbsp;({!PDFbean.CS_CompanyStatusCode})  </td>
                    </tr>
                    <tr>
                        <td align="left" width="250">Latest Turnover Figure</td>
                        <td align="left" width="331"> {!PDFbean.CS_LatestTurnoverFigure}</td>
                    </tr>
                    <tr>
                        <td align="left" width="250">Latest Shareholders Equity Figure</td>
                        <td align="left" width="331"> {!PDFbean.CS_LatestShareholdersEquityFigure}</td>
                    </tr>
                    <tr>
                        <td align="left" width="250"> Credit Score&nbsp;(A - E)</td>
                        <td align="left" width="331"> {!PDFbean.CS_Rating.CommonValue}</td>
                    </tr>
                    <tr>
                        <td align="left" width="250">Common Description</td>
                        <td align="left" width="331"> {!PDFbean.CS_Rating.CommonDescription}</td>
                    </tr>
                    <tr>
                        <td align="left" width="250"> Credit Limit</td>
                        <td align="left" width="331"> {!PDFbean.CS_Rating.CreditLimit}</td>
                    </tr>
                    <tr>
                        <td align="left" width="250"> Local Score&nbsp;({!PDFbean.CS_Rating.ProviderValueMin} - 
                        {!PDFbean.CS_Rating.ProviderValueMax})</td>
                        <td align="left" width="331"> {!PDFbean.CS_Rating.ProviderValue}</td>
                    </tr>
                    <tr>
                        <td align="left" width="250"> Local Description</td>
                        <td align="left" width="331"> {!PDFbean.CS_Rating.ProviderDescription}</td>
                    </tr>
                </table>
                <br/>
                
                 <!-- Basic Information section -->
                 <table width="700" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <th width="250" align="left">Basic Information </th>
                      <th width="331" align="left">&nbsp;</th>
                    </tr>
                     <tr>
                        <td align="left" width="250">Business Name</td>
                        <td align="left" width="331"> {!PDFbean.BI_BusinessName}</td>
                    </tr>
                     <tr>
                        <td align="left" width="250">Registered Company Name</td>
                        <td align="left" width="331"> {!PDFbean.BI_RegisteredCompanyName}</td>
                    </tr>
                     <tr>
                        <td align="left" width="250">Company Registration Number</td>
                        <td align="left" width="331"> {!PDFbean.BI_CompanyRegistrationNumber}</td>
                    </tr>
                     <tr>
                        <td align="left" width="250">Country</td>
                        <td align="left" width="331"> {!PDFbean.BI_Country}</td>
                    </tr>
                     <tr>
                        <td align="left" width="250">Date of Company Registration</td>
                        <td align="left" width="331"> {!PDFbean.BI_DateofCompanyRegistration}</td>
                    </tr>
                     <tr>
                        <td align="left" width="250">Date of Starting Operations</td>
                        <td align="left" width="331"> {!PDFbean.BI_DateofStartingOperations}</td>
                    </tr>
                     <tr>
                        <td align="left" width="250">Legal Form</td>
                        <td align="left" width="331"> {!PDFbean.BI_LegalForm}</td>
                    </tr>
                    <tr>
                        <td align="left" width="250">Company Status</td>
                        <td align="left" width="331"> {!PDFbean.BI_CompanyStatus}&nbsp;({!PDFbean.BI_CompanyStatusCode}) </td>
                    </tr>
                    <tr>
                        <td align="left" width="250">Currency of this Report</td>
                        <td align="left" width="331"> {!PDFbean.ReportCurrency}</td>
                    </tr>
                    <tr>
                        <td align="left" width="250">Principal Activity Code</td>
                        <td align="left" width="331"> {!PDFbean.BI_PrincipalActivityCode}</td>
                    </tr>
                    <tr>
                        <td align="left" width="250">Principal Activity Description</td>
                        <td align="left" width="331"> {!PDFbean.BI_PrincipalActivityDescription}</td>
                    </tr>
                    <tr>
                        <td align="left" width="250">Contact Address</td>
                        <td align="left" width="331"> {!PDFbean.BI_ContactAddress.SimpleValue}</td>
                    </tr>
                    <tr>
                        <td align="left" width="250">Contact Telephone Number</td>
                        <td align="left" width="331"> {!PDFbean.BI_ContactAddress.Telephone}</td>
                    </tr>
                 </table>
                 <br/>
                 <!-- Activities -->
                 <apex:outputpanel rendered="{!PDFbean.Activity_Lst.size!=null}">
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <th width="250" align="left">Activities </th>
                          <th width="331" align="left">&nbsp;</th>
                        </tr>
                         <tr>
                            <td align="left" width="250" style="font-weight:bold" >ActivityCode</td>
                            <td align="left" width="331" style="font-weight:bold">Activity Description </td>
                        </tr>
                        <apex:repeat value="{!PDFbean.Activity_Lst}" var="int">
                            <tr>
                                <td align="left" width="250"> {!int.ActivityCode}</td>
                                <td align="left" width="331"> {!int.ActivityDescription}</td>
                            </tr>
                        </apex:repeat>
                     </table>
                     <br/>
                 </apex:outputpanel>
                 <!-- Previous Names -->
                 <apex:outputpanel rendered="{!PDFbean.PrevoiusNames_Lst.size!=null}">
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <th width="250" align="left">Previous Names </th>
                          <th width="331" align="left">&nbsp;</th>
                        </tr>
                        <tr>
                            <td align="left" width="250" style="font-weight:bold">Name </td>
                            <td align="left" width="331" style="font-weight:bold">DateChanged </td>
                        </tr>
                        <apex:repeat value="{!PDFbean.PrevoiusNames_Lst}" var="int">
                            <tr>
                                <td align="left" width="250">{!int.PreviousName}</td>
                                <td align="left" width="331">{!int.DateChanged} </td>
                            </tr>
                        </apex:repeat>
                     </table>
                     <br/>
                 </apex:outputpanel>
                 <!-- Current Rating -->
                 <apex:outputpanel rendered="{!PDFbean.CurrentCreditRating!=0}">
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <th width="250" align="left">Current Credit Ratings </th>
                          <th width="331" align="left">&nbsp;</th>
                        </tr>
                         <tr>
                            <td align="left" width="250" >Credit Value  &nbsp;(A-E) </td>
                            <td align="left" width="331" >{!PDFbean.CurrentCreditRating.CommonValue} </td>
                        </tr>   
                         <tr>
                            <td align="left" width="250" > Description </td>
                            <td align="left" width="331" >{!PDFbean.CurrentCreditRating.CommonDescription} </td>
                        </tr>   
                         <tr>
                            <td align="left" width="250" >Credit Limit </td>
                            <td align="left" width="331" >{!PDFbean.CurrentCreditRating.CreditLimit} </td>
                        </tr>   
                         <tr>
                            <td align="left" width="250" >Credit Score &nbsp;({!PDFbean.CurrentCreditRating.ProviderValueMin} - 
                            {!PDFbean.CurrentCreditRating.ProviderValueMax}) </td>
                            <td align="left" width="331" >{!PDFbean.CurrentCreditRating.ProviderValue} </td>
                        </tr>   
                         <tr>
                            <td align="left" width="250" >Provider Description </td>
                            <td align="left" width="331" >{!PDFbean.CurrentCreditRating.ProviderDescription} </td>
                        </tr>
                        <tr>
                            <td align="left" width="250" >Current Contract Limit </td>
                            <td align="left" width="331" >{!PDFbean.CurrentContractLimit} </td>
                        </tr>   
                      </table >
                      <br/>
                  </apex:outputpanel>
                  <!-- Previous Rating -->
                  <apex:outputpanel rendered="{!PDFbean.PreviousCreditRating!=0}">
                  <table width="700" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <th width="250" align="left">Previous Credit Ratings </th>
                      <th width="331" align="left">&nbsp;</th>
                    </tr>
                     <tr>
                        <td align="left" width="250" > Credit Value  &nbsp;(A-E) </td>
                        <td align="left" width="331" >{!PDFbean.PreviousCreditRating.CommonValue} </td>
                    </tr>   
                     <tr>
                        <td align="left" width="250" >Description </td>
                        <td align="left" width="331" >{!PDFbean.PreviousCreditRating.CommonDescription} </td>
                    </tr>   
                     <tr>
                        <td align="left" width="250" >Credit Limit </td>
                        <td align="left" width="331" >{!PDFbean.PreviousCreditRating.CreditLimit} </td>
                    </tr>   
                     <tr>
                        <td align="left" width="250" >Credit Score &nbsp;({!PDFbean.PreviousCreditRating.ProviderValueMin} - 
                        {!PDFbean.PreviousCreditRating.ProviderValueMax}) </td>
                        <td align="left" width="331" >{!PDFbean.PreviousCreditRating.ProviderValue} </td>
                    </tr>   
                     <tr>
                        <td align="left" width="250" >Provider Description </td>
                        <td align="left" width="331" >{!PDFbean.PreviousCreditRating.ProviderDescription} </td>
                    </tr>
                    <tr>
                        <td align="left" width="250" >Date Of Latest Rating Change </td>
                        <td align="left" width="331" >{!PDFbean.DateOfLatestRatingChange} </td>
                    </tr>   
                  </table>
                  <br/>
                </apex:outputpanel>                  
                  <!-- Contact Information -->
                <apex:outputpanel rendered="{!PDFbean.MainAddress!=0}">
                  <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <th width="250" align="left">Contact Information </th>
                          <th width="331" align="left">&nbsp;</th>
                        </tr>
                        <tr>
                            <td align="left" width="250" style="font-weight:bold">Address </td>
                            <td align="left" width="331" style="font-weight:bold">Phone</td>
                        </tr>
                        <tr>
                            <td align="left" width="250" >{!PDFbean.MainAddress.SimpleValue} </td>
                            <td align="left" width="331" >{!PDFbean.MainAddress.Telephone}</td>
                        </tr>   
                        <apex:repeat value="{!PDFbean.OtherAddresses}" var="int">
                            <tr>
                                <td align="left" width="250"> {!int.SimpleValue}</td>
                                <td align="left" width="331"> {!int.Telephone}</td>
                            </tr>
                        </apex:repeat>
                      </table>
                      <br/>
                  </apex:outputpanel>
                  <apex:outputpanel rendered="{!PDFbean.Websites.size!=null}">
                      <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <th width="250" align="left">Websites </th>
                          <th width="331" align="left">&nbsp;</th>
                        </tr>
                         <apex:repeat value="{!PDFbean.Websites}" var="int">
                            <tr>
                                <td align="left" width="250"> <a href="{!int.Website}" >{!int.Website}</a></td>
                                <td align="left" width="331"> &nbsp;</td>
                            </tr>
                        </apex:repeat>
                      </table>
                      <br/>
                  </apex:outputpanel>
                  <!-- Share Capital -->
                  <apex:outputpanel rendered="{!PDFbean.IssuedShareCapital!=null}">
                      <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <th width="250" align="left">Share Capital Structure </th>
                          <th width="331" align="left">&nbsp;</th>
                        </tr>
                        <tr>
                            <td align="left" width="250" >IssuedShareCapital </td>
                            <td align="left" width="331" >{!PDFbean.IssuedShareCapital}</td>
                        </tr>
                      </table>
                      <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="250" align="left">Name </th>
                            <th width="331" align="left">Share Percent</th>
                        </tr> 
                         <apex:repeat value="{!PDFbean.Shareholders}" var="int">
                            <tr>
                                <td align="left" width="250" > {!int.name}</td>
                                <td align="left" width="331" >{!int.SharePercentage} </td>
                            </tr> 
                         </apex:repeat>                      
                     </table>
                     <br/>
                  </apex:outputpanel>
                 <apex:outputpanel rendered="{!PDFbean.Directorlst.size!=null}"> 
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <th width="250" align="left">Directors</th>
                          <th width="250" align="left">&nbsp;</th>
                          <th width="250" align="left">&nbsp;</th>
                          <th width="250" align="left">&nbsp;</th>
                        </tr>
                        <tr>
                            <td align="left" width="250" style="font-weight:bold">Name </td>
                            <td align="left" width="250" style="font-weight:bold">Position </td>
                            <td align="left" width="250" style="font-weight:bold">Address</td>
                            <td align="left" width="250" style="font-weight:bold">Appointment Date</td>
                        </tr> 
                        <apex:repeat value="{!PDFbean.Directorlst}" var="int">
                            <tr>
                                <td align="left" width="250">{!int.Name} </td>
                                <td align="left" width="250">{!int.Position} </td>
                                <td align="left" width="250">{!int.SimpleAddress}</td>
                                <td align="left" width="250">{!int.AppointmentDate}</td>
                            </tr>
                        </apex:repeat>
                     </table>
                     <br/>
                  </apex:outputpanel>
                  <apex:outputpanel rendered="{!PDFbean.Bankers.size!=null}">
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="250" align="left" >Bankers</th>
                            <th width="250" align="left">&nbsp;</th>
                        </tr>
                        <apex:repeat value="{!PDFbean.Bankers}" var="int">
                            <tr>
                                <td align="left" width="250">{!int} </td>
                                <td align="left" width="250">&nbsp;</td>
                            </tr>
                        </apex:repeat>
                     </table>
                      <br/>
                     </apex:outputpanel>    
                     <apex:outputpanel rendered="{!PDFbean.AuditorName.size!=null}">
                         <table width="700" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th width="250" align="left">Advisors</th>
                                <th width="250" align="left">&nbsp;</th>
                            </tr>
                            <apex:repeat value="{!PDFbean.AuditorName}" var="int">
                                <tr>
                                    <td align="left" width="250">{!int} </td>
                                    <td align="left" width="250">&nbsp;</td>
                                </tr>
                            </apex:repeat>
                         </table>
                          <br/>
                     </apex:outputpanel>
                     <apex:outputpanel rendered="{!PDFbean.EmployInfo.size!=Null}">   
                         <table width="700" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th width="250" align="left">Employee Information</th>
                                <th width="250" align="left">&nbsp;</th>
                            </tr>
                            <tr>
                                <td align="left" width="250" style="font-weight:bold" >Year</td>
                                <td align="left" width="331" style="font-weight:bold" >Number of Employees </td>
                            </tr>
                            <apex:repeat value="{!PDFbean.EmployInfo}" var="int">
                                <tr>
                                    <td align="left" width="250">{!int.Year} </td>
                                    <td align="left" width="331" >{!int.NumberOfEmployees}</td>
                                </tr>
                            </apex:repeat>
                         </table>
                         <br/>
                     </apex:outputpanel>
                 <!-- Group Structure -->
                 <apex:outputpanel rendered="{!(PDFbean.UltimateParent!=null || PDFbean.ImmediateParent!=null||PDFbean.AffiliatedCompaniesLst.size!=null)}">
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="200" align="left">Group Structure </th>
                            <th width="100" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                        </tr>
                        <tr>
                            <td align="left" width="200" style="font-weight:bold"> Name</td>
                            <td align="left" width="100" style="font-weight:bold"> Type</td>
                            <td align="left" width="100" style="font-weight:bold"> Id</td>
                            <td align="left" width="50" style="font-weight:bold"> Country</td>
                            <td align="left" width="100" style="font-weight:bold"> Safe Number</td>
                            <td align="left" width="100" style="font-weight:bold"> Status</td>
                            <td align="left" width="100" style="font-weight:bold"> Registration Number</td>
                        </tr>
                        <apex:outputpanel rendered="{!PDFbean.UltimateParent!=null}">
                            <tr>
                                <td align="left" width="200"> {!PDFbean.UltimateParent.Name}</td>
                                <td align="left" width="100"> Ultimate<br/>Parent</td>
                                <td align="left" width="100"> {!PDFbean.UltimateParent.Id}</td>
                                <td align="left" width="50"> {!PDFbean.UltimateParent.Country}</td>
                                <td align="left" width="100"> {!PDFbean.UltimateParent.SafeNumber}</td>
                                <td align="left" width="100"> {!PDFbean.UltimateParent.Status}</td>
                                <td align="left" width="100"> {!PDFbean.UltimateParent.RegistrationNumber}</td>
                            </tr>
                         </apex:outputpanel>
                         <apex:outputpanel rendered="{!PDFbean.ImmediateParent!=null}">
                            <tr>
                                <td align="left" width="200"> {!PDFbean.ImmediateParent.Name}</td>
                                <td align="left" width="100"> Immediate<br/>Parent</td>
                                <td align="left" width="100"> {!PDFbean.ImmediateParent.Id}</td>
                                <td align="left" width="50"> {!PDFbean.ImmediateParent.Country}</td>
                                <td align="left" width="100"> {!PDFbean.ImmediateParent.SafeNumber}</td>
                                <td align="left" width="100"> {!PDFbean.ImmediateParent.Status}</td>
                                <td align="left" width="100"> {!PDFbean.ImmediateParent.RegistrationNumber}</td>
                            </tr>
                         </apex:outputpanel>
                         <apex:outputpanel rendered="{!PDFbean.AffiliatedCompaniesLst.size!=null}">
                            <apex:repeat value="{!PDFbean.AffiliatedCompaniesLst}" var="int">
                                <tr>
                                    <td align="left" width="200"> {!int.Name}</td>
                                    <td align="left" width="100"> Affiliated<br/>Company</td>
                                    <td align="left" width="100"> {!int.Id}</td>
                                    <td align="left" width="50"> {!int.Country}</td>
                                    <td align="left" width="100"> {!int.SafeNumber}</td>
                                    <td align="left" width="100"> {!int.Status}</td>
                                    <td align="left" width="100"> {!int.RegistrationNumber}</td>
                                </tr>
                            </apex:repeat>
                        </apex:outputpanel>
                     </table>
                     <br/>
                  </apex:outputpanel>
                 <!-- Financial Statement -->
                 <apex:outputpanel rendered="{!PDFbean.FinancialStatements.size!=null}">
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="150" align="left">Financial Statements</th>
                            <th width="150" align="left">&nbsp;</th>
                            <th width="150" align="left">&nbsp;</th>
                            <th width="150" align="left">&nbsp;</th>
                        </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Year</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left" > {!int.YearEndDate}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Number Of Weeks</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.NumberOfWeeks}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Currency</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.CurrencyName}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Consolidated Accounts</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.ConsolidatedAccounts}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Revenue</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.Revenue}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Operating Costs</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.OperatingCosts}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Operating Profit</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.OperatingProfit}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Wages And Salaries</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.WagesAndSalaries}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Pension Costs</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.PensionCosts}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Depreciation</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.Depreciation}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Amortisation</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.Amortisation}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Financial Expenses</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.FinancialExpenses}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Profit Before Tax</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.ProfitBeforeTax}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Tax</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.Tax}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Profit After Tax</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.ProfitAfterTax}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Dividends</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.Dividends}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Other Appropriations</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.OtherAppropriations}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Retained Profit</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.RetainedProfit}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Total Tangible Assets</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.TotalTangibleAssets}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Total Intangible Assets</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.TotalIntangibleAssets}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Total Other Fixed Assets</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.TotalOtherFixedAssets}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Total Fixed Assets</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.TotalFixedAssets}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Total Inventories</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.TotalInventories}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Trade Receivables</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.TradeReceivables}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Miscellaneous Receivables</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.MiscellaneousReceivables}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Total Receivables</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.TotalReceivables}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Cash</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.Cash}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Other Current Assets</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.OtherCurrentAssets}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Total Current Assets</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.TotalCurrentAssets}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Total Assets</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.TotalAssets}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Trade Payables</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.TradePayables}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Bank Liabilities</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.BankLiabilities}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Other Loans Or Finance</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.OtherLoansOrFinance}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Miscellaneous Liabilities</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.MiscellaneousLiabilities}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Total Current Liabilities</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.TotalCurrentLiabilities}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Bank Liabilities Due After 1Year</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.BankLiabilitiesDueAfter1Year}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Other Loans Or Finance Due After 1Year</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.OtherLoansOrFinanceDueAfter1Year}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Miscellaneous Liabilities Due After 1Year</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.MiscellaneousLiabilitiesDueAfter1Year}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Total Long Term Liabilities</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.TotalLongTermLiabilities}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Total Liabilities</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.TotalLiabilities}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Called Up Share Capital</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.CalledUpShareCapital}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Revenue Reserves</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.RevenueReserves}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Other Reserves</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.OtherReserves}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Total Shareholders Equity</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.TotalShareholdersEquity}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Contingent Liabilities</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.ContingentLiabilities}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Working Capital</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.WorkingCapital}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> NetWorth</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.NetWorth}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> PreTax Profit Margin</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.PreTaxProfitMargin}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Return On Capital Employed</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.ReturnOnCapitalEmployed}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Return On Total Assets Employed</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.ReturnOnTotalAssetsEmployed}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Return On Net Assets Employed</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.ReturnOnNetAssetsEmployed}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Sales Or Net Working Capital</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.SalesOrNetWorkingCapital}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Stock Turnover Ratio</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.StockTurnoverRatio}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Debtor Days</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.DebtorDays}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Creditor Days</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.CreditorDays}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Current Ratio</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.CurrentRatio}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Liquidity Ratio Or AcidTest</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.LiquidityRatioOrAcidTest}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Current Debt Ratio</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.CurrentDebtRatio}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Gearing</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.Gearing}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Equity In Percentage</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.EquityInPercentage}</td>
                                </apex:repeat>
                            </tr>
                            <tr>
                                <td width="150" align="left" style="font-weight:bold"> Total Debt Ratio</td>
                                <apex:repeat value="{!PDFbean.FinancialStatements}" var="int" >
                                    <td width="150" align="left"> {!int.TotalDebtRatio}</td>
                                </apex:repeat>
                            </tr>
                     </table>
                     <br/>
                  </apex:outputpanel>
                 <!--  Court Judgements -->
                 <apex:outputpanel rendered="{!PDFbean.CourtJudgementsLst.size!=null}">
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="200" align="left">Court Judgements</th>
                            <th width="100" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                        </tr>
                        <tr>
                            <td width="100" align="left" style="font-weight:bold;" > Date</td>
                            <td  width="100" align="left" style="font-weight:bold;" > Court</td>
                            <td  width="100" align="left" style="font-weight:bold" > Amount </td>
                            <td  width="100" align="left" style="font-weight:bold" > Case Number</td>
                            <td  width="100" align="left" style="font-weight:bold" >Status </td>
                            <td  width="100" align="left" style="font-weight:bold" >IncomingRecordDetails </td>
                        </tr>
                        <apex:repeat value="{!PDFbean.CourtJudgementsLst}" var="int">
                        <tr>
                            <td  width="100" align="left" > {!int.Dte}</td>
                            <td width="100" align="left"> {!int.Court}</td>
                            <td width="100" align="left">{!int.Amount} </td>
                            <td width="100" align="left"> {!int.CaseNumber}</td>
                            <td width="100" align="left">{!int.Status} </td>
                            <td width="100" align="left">{!int.IncomingRecordDetails} </td>
                        </tr>
                        </apex:repeat>
                     </table>
                     <br/>
                 </apex:outputpanel>
                 <apex:outputpanel rendered="{!PDFbean.PaymentInfo!=null}">
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                         <tr>
                          <th width="331" align="left">Payment Data </th>
                          <th width="250" align="left">&nbsp;</th>
                        </tr>
                         <tr>
                            <td width="331" align="left">Total Trades Number </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.TotalTradesNumber}</td>
                        </tr>
                        <tr>
                            <td width="331" align="left">Continuous Trades Number </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.ContinuousTradesNumber}</td>
                        </tr>
                        <tr>
                            <td width="331" align="left" style="font-weight:bold">Trade Lines Information: </td>
                            <td width="250" align="left">&nbsp;</td>
                        </tr>
                        <apex:repeat value="{!PDFbean.PaymentInfo.TradeLinesInformation}" var="int"> 
                           <tr>
                                <td width="331" align="left"  style="font-weight:bold">{!int}</td>
                                <td width="331" align="left">&nbsp;</td>
                           </tr>
                            <tr>
                                <td width="331" align="left" >Number</td>
                                <td width="250" align="left">{!PDFbean.PaymentInfo.TradeLinesInformation[int].NumberVal}</td>
                            </tr>
                            <tr>
                                <td width="331" align="left" >Balance</td>
                                <td width="250" align="left">{!PDFbean.PaymentInfo.TradeLinesInformation[int].Balance}</td>
                            </tr>
                            <tr>
                                <td width="331" align="left">Current</td>
                                <td width="250" align="left">{!PDFbean.PaymentInfo.TradeLinesInformation[int].Current}</td>
                            </tr>
                            <tr>
                                <td width="331" align="left" >Range1to30</td>
                                <td width="250" align="left">{!PDFbean.PaymentInfo.TradeLinesInformation[int].Range1to30}</td>
                            </tr>
                            <tr>
                                <td width="331" align="left" >Range31to60</td>
                                <td width="250" align="left">{!PDFbean.PaymentInfo.TradeLinesInformation[int].Range31to60}</td>
                            </tr>
                             <tr>
                                <td width="331" align="left" >Range61to90</td>
                                <td width="250" align="left">{!PDFbean.PaymentInfo.TradeLinesInformation[int].Range61to90}</td>
                            </tr>
                            <tr>
                                <td width="331" align="left" >Range91plus</td>
                                <td width="250" align="left">{!PDFbean.PaymentInfo.TradeLinesInformation[int].Range91plus}</td>
                            </tr>
                        </apex:repeat>
                        <tr>
                            <td width="331" align="left">Total No of Invoices Available </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.TotalNoofInvoicesAvailable}</td>
                        </tr>
                         <tr>
                            <td width="331" align="left">Total No of Invoices Paid Before 30Days Due </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.TotalNoofInvoicesPaidBefore30DaysDue}</td>
                        </tr>
                         <tr>
                            <td width="331" align="left">Total No of Invoices Paid After 30Days Due </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.TotalNoofInvoicesPaidAfter30DaysDue}</td>
                        </tr>
                        <tr>
                            <td width="331" align="left">Total No of Invoices Owing Before 30Days Due </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.TotalNoofInvoicesOwingBefore30DaysDue}</td>
                        </tr>
                        <tr>
                            <td width="331" align="left">Total No of Invoices Owing After 30Days Due </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.TotalNoofInvoicesOwingAfter30DaysDue}</td>
                        </tr>
                        <tr>
                            <td width="331" align="left">Dbt </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.dbt}</td>
                        </tr>
                         <tr>
                            <td width="331" align="left">Payment Trend </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.PaymentTrend}</td>
                        </tr>
                         <tr>
                            <td width="331" align="left">Balance </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.Balance}</td>
                        </tr>
                         <tr>
                            <td width="331" align="left">Balance P1 </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.BalanceP1}</td>
                        </tr>
                         <tr>
                            <td width="331" align="left">Balance P2 </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.BalanceP2}</td>
                        </tr>
                         <tr>
                            <td width="331" align="left">Balance P3 </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.BalanceP3}</td>
                        </tr>
                         <tr>
                            <td width="331" align="left">Balance P4 </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.BalanceP4}</td>
                        </tr>
                        <tr>
                            <td width="331" align="left">Balance With in Terms </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.BalanceWithinTerms}</td>
                        </tr>
                        <tr>
                            <td width="331" align="left">Invoices Between 3 And 12 Months &nbsp;(Paid P1) </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.InvoicesBetween3And12MontsPaidP1}</td>
                        </tr>
                         <tr>
                            <td width="331" align="left">Invoices Between 3 And 12 Months &nbsp;(Paid P2) </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.InvoicesBetween3And12MontsPaidP2}</td>
                        </tr>
                         <tr>
                            <td width="331" align="left">Invoices Between 3 And 12 Months &nbsp;(Paid P3) </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.InvoicesBetween3And12MontsPaidP3}</td>
                        </tr>
                         <tr>
                            <td width="331" align="left">Invoices Between 3 And 12 Months &nbsp;(Paid P4) </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.InvoicesBetween3And12MontsPaidP4}</td>
                        </tr>
                         <tr>
                            <td width="331" align="left">Invoices Between 3 And 12 Months &nbsp;(Paid In Terms) </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.InvoicesBetween3And12MontsPaidInTerms}</td>
                        </tr>
                         <tr>
                            <td width="331" align="left">Invoices Between 3 And 12 Months &nbsp;(Total Paid) </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.InvoicesBetween3And12MontsTotalPaid}</td>
                        </tr>
                          <tr>
                            <td width="331" align="left">Invoices Last 3 Months &nbsp;(Paid P1) </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.InvoicesLast3MontsPaidP1}</td>
                        </tr>
                         <tr>
                            <td width="331" align="left">Invoices Last 3 Months  &nbsp;(Paid P2) </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.InvoicesLast3MontsPaidP2}</td>
                        </tr>
                         <tr>
                            <td width="331" align="left">Invoices Last 3 Months  &nbsp;(Paid P3) </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.InvoicesLast3MontsPaidP3}</td>
                        </tr>
                         <tr>
                            <td width="331" align="left">Invoices Last 3 Months  &nbsp;(Paid P4) </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.InvoicesLast3MontsPaidP4}</td>
                        </tr>
                         <tr>
                            <td width="331" align="left">Invoices Last 3 Months  &nbsp;(Paid In Terms) </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.InvoicesLast3MontsPaidInTerms}</td>
                        </tr>
                         <tr>
                            <td width="331" align="left">Invoices Last 3 Months  &nbsp;(Total Paid) </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.InvoicesLast3MontsTotalPaid}</td>
                        </tr>
                        <tr>
                            <td width="331" align="left">Total Trade Lines </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.TotalTradeLines}</td>
                        </tr>
                        <tr>
                            <td width="331" align="left">Total Trade Lines Outstanding </td>
                            <td width="250" align="left">{!PDFbean.PaymentInfo.TotalTradeLinesOutstanding}</td>
                        </tr>
                     </table>
                     <br/>
                 </apex:outputpanel>
                 <apex:outputpanel rendered="{!PDFbean.PaymentInfo.AnnualDbtWithTrend.size!=null}">
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="200" align="left">Annual Dbt With Trend</th>
                            <th width="200" align="left">&nbsp;</th>
                            <th width="200" align="left">&nbsp;</th>
                        </tr>   
                        <tr>
                            <td width="200" align="left" style="font-weight:bold">Month</td>
                            <td width="200" align="left" style="font-weight:bold">DBT Value</td>
                            <td width="200" align="left" style="font-weight:bold">DBT Trend</td>
                        </tr>
                        <apex:repeat value="{!PDFbean.PaymentInfo.AnnualDbtWithTrend}" var="int" >
                            <tr> 
                                <td width="200" align="left" >{!int.Month}</td>
                                <td width="200" align="left" >{!int.DBTValue}</td>
                                <td width="200" align="left" >{!int.DBTTrend}</td>
                            </tr>
                        </apex:repeat>
                     </table>
                     <br/>
                 </apex:outputpanel>
                <apex:outputpanel rendered="{!PDFbean.PaymentInfo.LastSixMonthsBalance.size!=null}">    
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="200" align="left">Last Six Months Balance</th>
                            <th width="200" align="left">&nbsp;</th>
                        </tr>
                        <tr>
                            <td width="200" align="left" style="font-weight:bold">Month</td>
                            <td width="200" align="left" style="font-weight:bold">Balance</td>
                        </tr>
                        <apex:repeat value="{!PDFbean.PaymentInfo.LastSixMonthsBalance}" var="int" >
                            <tr> 
                                <td width="200" align="left" >{!int.Month}</td>
                                <td width="200" align="left" >{!int.Balance}</td>
                            </tr>
                        </apex:repeat>
                     </table>
                     <br/>
                </apex:outputpanel>
                <apex:outputpanel rendered="{!PDFbean.CompanyHistory.size!=null}">
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="351" align="left">Company History&nbsp;(Event's)</th>
                            <th width="250" align="left">&nbsp;</th>
                        </tr>
                        <tr>
                            <td width="351" align="left" style="font-weight:bold">Date</td>
                            <td width="200" align="left" style="font-weight:bold">Description</td>
                        </tr>
                        <apex:repeat value="{!PDFbean.CompanyHistory}" var="int" >
                            <tr> 
                                <td width="351" align="left" >{!int.EventDate}</td>
                                <td width="250" align="left" >{!int.Description}</td>
                            </tr>
                        </apex:repeat>
                     </table>
                     <br/>
                </apex:outputpanel>
                <apex:outputpanel rendered="{!PDFbean.MortgageDetails.size!=null}">
                     <table  width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="351" align="left">Mortgage Summary</th>
                            <th width="250" align="left">&nbsp;</th>
                        </tr>
                        <tr>
                            <td width="351" align="left" >Outstanding</td>
                            <td width="250" align="left" >{!PDFbean.Outstanding}</td>
                        </tr>
                        <tr>
                            <td width="351" align="left" >Satisfied</td>
                            <td width="250" align="left" >{!PDFbean.Satisfied}</td>
                        </tr>
                     </table>
                     <br/>
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="300" align="left">Mortgage Details</th>
                            <th width="50" align="left">&nbsp;</th>
                            <th width="50" align="left">&nbsp;</th>
                            <th width="50" align="left">&nbsp;</th>
                            <th width="50" align="left">&nbsp;</th>
                            <th width="50" align="left">&nbsp;</th>
                            <th width="50" align="left">&nbsp;</th>
                            <th width="50" align="left">&nbsp;</th>
                        </tr>
                        <tr>
                            <td width="80" align="left" style="font-weight:bold">MortgageType</td>
                            <td width="80" align="left" style="font-weight:bold">Date Charge Created</td>
                            <td width="80" align="left" style="font-weight:bold">Date Charge Registered</td>
                            <td width="80" align="left" style="font-weight:bold">Date Charge Satisfied</td>
                            <td width="80" align="left" style="font-weight:bold">Status</td>
                            <td width="80" align="left" style="font-weight:bold">Persons Entitled</td>
                            <td width="100" align="left" style="font-weight:bold">Amount Secured</td>
                            <td width="100" align="left" style="font-weight:bold">Details</td>
                            
                        </tr>
                        <apex:repeat value="{!PDFbean.MortgageDetails}" var="int">
                            <tr>
                                <td width="80" align="left">{!int.MortgageType}</td>
                                <td width="80" align="left">{!int.DateChargeCreated}</td>
                                <td width="80" align="left">{!int.DateChargeRegistered}</td>
                                <td width="80" align="left">{!int.DateChargeSatisfied}</td>
                                <td width="80" align="left">{!int.Status}</td>
                                <td width="80" align="left">{!int.PersonsEntitled}</td>
                                <td width="100" align="left">{!int.AmountSecured}</td>
                                <td width="100" align="left">{!int.Details}</td>
                            </tr>
                        </apex:repeat>
                     </table>
                    <br/>
                </apex:outputpanel>
                 <apex:outputpanel rendered="{!PDFbean.MiscData!=null}">
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="351" align="left">Miscellaneous</th>
                            <th width="250" align="left">&nbsp;</th>
                        </tr>
                        <tr>
                            <td width="351" align="left"> First Reported Date</td>
                            <td width="250" align="left"> {!PDFbean.MiscData.FirstReportedDate}</td>
                        </tr>
                        <tr>
                            <td width="351" align="left"> Primary NAICS Code</td>
                            <td width="250" align="left"> {!PDFbean.MiscData.PrimaryNAICSCode}</td>
                        </tr>
                        <tr>
                            <td width="351" align="left"> Primary NAICS Code Description</td>
                            <td width="250" align="left"> {!PDFbean.MiscData.PrimaryNAICSCodeDescription}</td>
                        </tr>
                        <tr>
                            <td width="351" align="left"> Years In Business</td>
                            <td width="250" align="left"> {!PDFbean.MiscData.YearsInBusiness}</td>
                        </tr>
                        <tr>
                            <td width="351" align="left"> Address Type</td>
                            <td width="250" align="left"> {!PDFbean.MiscData.AddressType}</td>
                        </tr>
                        <tr>
                            <td width="351" align="left"> Location Type</td>
                            <td width="250" align="left"> {!PDFbean.MiscData.LocationType}</td>
                        </tr>
                        <tr>
                            <td width="351" align="left">SalesRange</td>
                            <td width="250" align="left"> {!PDFbean.MiscData.SalesRange}</td>
                        </tr>
                    </table>
                 </apex:outputpanel>
                 <br/>
                 <apex:outputpanel rendered="{!PDFbean.Primary!=null}">
                    <table width="700" border="0" cellspacing="0" cellpadding="0" > 
                        <tr>
                            <th width="200" align="left">Primary Corporate Records</th>
                            <th width="100" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                        </tr>
                        <tr>
                            <td width="30" align="left" style="font-weight:bold">Business<br/> Legal Name</td>
                            <td width="200" align="left" style="font-weight:bold">SOS Charter Number</td>
                            <td width="100" align="left" style="font-weight:bold">Status</td>
                            <td width="100" align="left" style="font-weight:bold">Incorporated State</td>
                            <td width="100" align="left" style="font-weight:bold">ForeignOrDomestic</td>
                            <td width="100" align="left" style="font-weight:bold">ProfitOrNonProfit</td>
                            <td width="100" align="left" style="font-weight:bold">Address</td>
                        </tr>
                        <tr>
                            <td width="30" align="left"  syle="word-wrap: break-word">{!PDFbean.Primary.BusinessLegalName}</td>
                            <td width="200" align="left" >{!PDFbean.Primary.SOSCharterNumber}</td>
                            <td width="100" align="left" >{!PDFbean.Primary.Status}</td>
                            <td width="100" align="left" >{!PDFbean.Primary.IncorporatedState}</td>
                            <td width="100" align="left" >{!PDFbean.Primary.ForeignOrDomestic}</td>
                            <td width="100" align="left" >{!PDFbean.Primary.ProfitOrNonProfit}</td>
                            <td width="100" align="left" >{!PDFbean.Primary.primaryAddress.Street}{!PDFbean.Primary.primaryAddress.City }
                                    {!PDFbean.Primary.primaryAddress.PostalCode}{!PDFbean.Primary.primaryAddress.Province}</td>
                        </tr>
                    </table>
                    <br/>
                 </apex:outputpanel>
                 <apex:outputpanel rendered="{!PDFbean.OtherList.size!=null}">
                    <table width="700" border="0" cellspacing="0" cellpadding="0" >
                        <tr>
                            <th width="30" align="left" >Other Corporate Records</th>
                            <th width="30" align="left">&nbsp;</th>
                            <th width="30" align="left">&nbsp;</th>
                            <th width="30" align="left">&nbsp;</th>
                            <th width="30" align="left">&nbsp;</th>
                            <th width="30" align="left">&nbsp;</th>
                            <th width="30" align="left">&nbsp;</th>
                            <th width="30" align="left">&nbsp;</th>
                        </tr>
                        <tr>
                            <td width="30" align="left" style="font-weight:bold">Business<br/> Legal Name</td>
                            <td width="30" align="left" style="font-weight:bold">SOS <br/>Charter Number</td>
                            <td width="30" align="left" style="font-weight:bold">Status</td>
                            <td width="10" align="left" style="font-weight:bold">Incorporated State</td>
                            <td width="30" align="left" style="font-weight:bold">Foreign Or Domestic</td>
                            <td width="30" align="left" style="font-weight:bold">Profit Or NonProfit</td>
                            <td width="30" align="left" style="font-weight:bold">Address</td>
                            <td width="30" align="left" style="font-weight:bold">Agent </td>
                        </tr>
                        <apex:repeat value="{!PDFbean.OtherList}" var="int">
                            <tr>
                                <td width="30" align="left"  syle="word-wrap: break-word">{!int.BusinessLegalName}</td>
                                <td width="30" align="left" >{!int.SOSCharterNumber}</td>
                                <td width="30" align="left" >{!int.Status}</td>
                                <td width="30" align="left" >{!int.IncorporatedState}</td>
                                <td width="30" align="left" >{!int.ForeignOrDomestic}</td>
                                <td width="30" align="left" >{!int.ProfitOrNonProfit}</td>
                                <td width="30" align="left" >{!int.primaryAddress.Street}<br/>{!int.primaryAddress.City }<br/>
                                    {!int.primaryAddress.PostalCode}<br/>{!int.primaryAddress.Province}</td>
                                <td width="30" align="left" > <b>{!int.AgentName} </b><br/>
                                {!int.AgentAddress.Street}<br/>
                                    {!int.AgentAddress.PostalCode}</td>
                            </tr>
                        </apex:repeat>
                    </table>    
                 </apex:outputpanel>
                 <apex:outputpanel rendered="{!(PDFbean.CompanyDBT!=null || PDFbean.IndustryDBT!=null)}">
                    <table width="700" border="0" cellspacing="0" cellpadding="0" >
                        <tr>
                            <th width="350" align="left" >DBT</th>
                            <th width="250" align="left">&nbsp;</th>
                        </tr>
                        <tr>
                            <td width="350" align="left" >Company DBT</td>
                            <td width="250" align="left">{!PDFbean.CompanyDBT}</td>
                        </tr>
                        <tr>
                            <td width="350"  align="left">Industry DBT </td>
                            <td width="250" align ="left">{!PDFbean.IndustryDBT}</td>
                        </tr>
                    </table>
                    <br/>
                 </apex:outputpanel>
                 <apex:outputpanel >
                    <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="200" align="left">Legal Filing Summary</th>
                            <th width="100" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                        </tr>
                        <tr>
                            <td width="200" align="left" style="font-weight:bold">Bankruptcy</td>
                            <td width="100" align="left" style="font-weight:bold">Tax Lien Filings</td>
                            <td width="100" align="left" style="font-weight:bold">Judgment Filings</td>
                            <td width="100" align="left" style="font-weight:bold">Sum</td>
                            <td width="100" align="left" style="font-weight:bold">UCC Filings</td>
                            <td width="100" align="left" style="font-weight:bold">Cautionary UCC Filings</td>
                        </tr>
                        <tr>
                            <td width="200" align="left" >{!PDFbean.Bankruptcy}</td>
                            <td width="100" align="left" >{!PDFbean.TaxLienFilings}</td>
                            <td width="100" align="left" >{!PDFbean.JudgmentFilings}</td>
                            <td width="100" align="left" >{!PDFbean.LegalSum}</td>
                            <td width="100" align="left" >{!PDFbean.UCCFilings}</td>
                            <td width="100" align="left" >{!PDFbean.CautionaryUCCFilings}</td>
                        </tr>
                    </table>
                      <br/>
                 </apex:outputpanel>
                 <apex:outputpanel rendered="{!PDFbean.UCCDetails.size!=null}">
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th width="200" align="left">UCC Details</th>
                                <th width="100" align="left">&nbsp;</th>
                                <th width="100" align="left">&nbsp;</th>
                                <th width="100" align="left">&nbsp;</th>
                                <th width="100" align="left">&nbsp;</th>
                                <th width="100" align="left">&nbsp;</th>
                            </tr>
                            <tr>
                                <td width="200" align="left" style="font-weight:bold">Filed Date</td>
                                <td width="100" align="left" style="font-weight:bold">Filing Number</td>
                                <td width="100" align="left" style="font-weight:bold">Jurisdiction</td>
                                <td width="100" align="left" style="font-weight:bold">Secured Party Name</td>
                                <td width="100" align="left" style="font-weight:bold">Secured Party Address</td>
                                <td width="100" align="left" style="font-weight:bold">Collateral</td>
                            </tr>
                            <apex:repeat value="{!PDFbean.UCCDetails}" var="int">
                                <tr>
                                    <td width="200" align="left" >{!int.FiledDate}</td>
                                    <td width="100" align="left" >{!int.FilingNumber}</td>
                                    <td width="100" align="left" >{!int.Jurisdiction}</td>
                                    <td width="100" align="left" >{!int.SecuredPartyName}</td>
                                    <td width="100" align="left" >{!int.SecuredPartyAddress.Street } <br/>{!int.SecuredPartyAddress.city}<br/>
                                        {!int.SecuredPartyAddress.Postalcode}
                                    </td>
                                    <td width="100" align="left" >{!int.Collateral}</td>
                                </tr>
                            </apex:repeat>
                        </table>
                         <br/>
                 </apex:outputpanel>
                 <apex:outputpanel rendered="{!PDFbean.TaxLienDetails.size!=null}">
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th width="200" align="left">Tax Lien Details</th>
                                <th width="100" align="left">&nbsp;</th>
                                <th width="100" align="left">&nbsp;</th>
                                <th width="100" align="left">&nbsp;</th>
                                <th width="100" align="left">&nbsp;</th>
                                <th width="100" align="left">&nbsp;</th>
                            </tr>
                            <tr>
                                <td width="200" align="left" style="font-weight:bold">Filed Date</td>
                                <td width="100" align="left" style="font-weight:bold">Filing Type</td>
                                <td width="100" align="left" style="font-weight:bold">Filed By</td>
                                <td width="100" align="left" style="font-weight:bold">Amount</td>
                                <td width="100" align="left" style="font-weight:bold">Filing Number</td>
                                <td width="100" align="left" style="font-weight:bold">Jurisdiction</td>
                            </tr>
                            <apex:repeat value="{!PDFbean.TaxLienDetails}" var="int">
                                <tr>
                                    <td width="200" align="left" >{!int.FiledDate}</td>
                                    <td width="100" align="left" >{!int.FilingType}</td>
                                    <td width="100" align="left" >{!int.FiledBy}</td>
                                    <td width="100" align="left" >{!int.Amount}</td>
                                    <td width="100" align="left" >{!int.FilingNumber} </td>
                                    <td width="100" align="left" >{!int.Jurisdiction}</td>
                                </tr>
                            </apex:repeat>
                        </table>
                         <br/>
                 </apex:outputpanel>
                  <apex:outputpanel rendered="{!PDFbean.JudgmentDetails.size!=null}">
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <th width="200" align="left">Judgment Details</th>
                                <th width="100" align="left">&nbsp;</th>
                                <th width="100" align="left">&nbsp;</th>
                                <th width="100" align="left">&nbsp;</th>
                                <th width="100" align="left">&nbsp;</th>
                                <th width="100" align="left">&nbsp;</th>
                            </tr>
                            <tr>
                                <td width="200" align="left" style="font-weight:bold">Filed Date</td>
                                <td width="100" align="left" style="font-weight:bold">Plaintiff</td>
                                <td width="100" align="left" style="font-weight:bold">Status</td>
                                <td width="100" align="left" style="font-weight:bold">Amount</td>
                                <td width="100" align="left" style="font-weight:bold">Filing Number</td>
                                <td width="100" align="left" style="font-weight:bold">Jurisdiction</td>
                            </tr>
                            <apex:repeat value="{!PDFbean.JudgmentDetails}" var="int">
                                <tr>
                                    <td width="200" align="left" >{!int.FiledDate}</td>
                                    <td width="100" align="left" >{!int.Plaintiff}</td>
                                    <td width="100" align="left" >{!int.Status}</td>
                                    <td width="100" align="left" >{!int.Amount}</td>
                                    <td width="100" align="left" >{!int.FilingNumber} </td>
                                    <td width="100" align="left" >{!int.Jurisdiction}</td>
                                </tr>
                            </apex:repeat>
                        </table>
                        <br/>
                 </apex:outputpanel>
                <apex:outputpanel rendered="{!PDFbean.AdditionalFinancials.size!=null}">
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="150" align="left">Additional Financials</th>
                            <th width="80" align="left">&nbsp;</th>
                            <th width="80" align="left">&nbsp;</th>
                            <th width="80" align="left">&nbsp;</th>
                            <th width="80" align="left">&nbsp;</th>
                            <th width="80" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                            <th width="100" align="left">&nbsp;</th>
                        </tr>
                        <tr>
                            <td width="80" align="left" style="font-weight:bold">Year End Date</td>
                            <td width="80" align="left" style="font-weight:bold">Export</td>
                            <td width="80" align="left" style="font-weight:bold">Cost Of Sales</td>
                            <td width="80" align="left" style="font-weight:bold">Directors Emoluments</td>
                            <td width="80" align="left" style="font-weight:bold">Revaluation Reserve</td>
                            <td width="80" align="left" style="font-weight:bold">Gross Profit</td>
                            <td width="100" align="left" style="font-weight:bold">Short Term HP Finance Lease Liabilities</td>
                            <td width="100" align="left" style="font-weight:bold">Long Term HP Finance Lease Liabilities</td>
                        </tr>
                        <apex:repeat value="{!PDFbean.AdditionalFinancials}" var="int">
                            <tr>
                                <td width="80" align="left">{!int.YearEndDate}</td>
                                <td width="80" align="left">{!int.ExportNumber}</td>
                                <td width="80" align="left">{!int.CostOfSales}</td>
                                <td width="80" align="left">{!int.DirectorsEmoluments}</td>
                                <td width="80" align="left">{!int.RevaluationReserve}</td>
                                <td width="80" align="left">{!int.GrossProfit}</td>
                                <td width="100" align="left">{!int.ShortTermHPFinanceLeaseLiabilities}</td>
                                <td width="100" align="left">{!int.LongTermHPFinanceLeaseLiabilities}</td>
                            </tr>
                        </apex:repeat>
                     </table>
                     <br/>
                </apex:outputpanel>
                <apex:outputpanel rendered="{!PDFbean.Commentaries.size!=null}">
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="450" align="left">Commentaries</th>
                            <th width="150" align="left">&nbsp;</th>
                        </tr>
                        <tr>
                            <td width="450" align="left" style="font-weight:bold" > Commentary Text</td>
                            <td width="150" align="left" style="font-weight:bold" >Positive Or Negative</td>
                        </tr>
                        <apex:repeat value="{!PDFbean.Commentaries}" var="int">
                            <tr>
                                <td width="450" align="left">{!int.CommentaryText}</td>
                                <td width="150" align="left">{!int.PositiveOrNegative}</td>
                            </tr>
                        </apex:repeat>
                     </table>
                     <br/>
                </apex:outputpanel>
                <apex:outputpanel rendered="{!PDFbean.ListOFCompanies.size!=null}">
                     <table width="700" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th width="350" align="left">Extended Group Structure</th>
                            <th width="80" align="left">&nbsp;</th>
                            <th width="80" align="left">&nbsp;</th>
                            <th width="80" align="left">&nbsp;</th>
                            <th width="80" align="left">&nbsp;</th>
                            <th width="80" align="left">&nbsp;</th>
                            <th width="80" align="left">&nbsp;</th>
                        </tr>
                        <tr>
                            <td width="150" align="left" style="font-weight:bold"> Group Id</td>
                            <td width="100" align="left" style="font-weight:bold">Country</td>
                            <td width="100" align="left" style="font-weight:bold">Company Name</td>
                            <td width="100" align="left" style="font-weight:bold">Registered Number</td>
                            <td width="100" align="left" style="font-weight:bold">Latest Annual Accounts</td>
                            <td width="100" align="left" style="font-weight:bold">Level</td>
                            <td width="100" align="left" style="font-weight:bold">Status</td>
                        </tr>
                        <apex:repeat value="{!PDFbean.ListOFCompanies}" var="int">
                            <tr>
                                <td width="150" align="left"> {!int.groupId}</td>
                                <td width="100" align="left">{!int.Country}</td>
                                <td width="100" align="left">{!int.CompanyName}</td>
                                <td width="100" align="left">{!int.RegisteredNumber}</td>
                                <td width="100" align="left">{!int.LatestAnnualAccounts}</td>
                                <td width="100" align="left">{!int.Level}</td>
                                <td width="100" align="left">{!int.Status}</td>
                            </tr>
                        </apex:repeat>
                     </table>
                 </apex:outputpanel>
            </apex:form>
        </body>
    </html>
</apex:page>