<apex:page controller="BSureC_Dashboard" showHeader="true"
    sidebar="false">
    <style>
.homeTab .tertiaryPalette {
    border-color: #35B4E9 !important;
}
</style>
 <script>
       var AnalystDashboard = 'false';
       AnalystDashboard="{!hideanalystlink}";
       
       var AdminDashboard = 'false';
       AdminDashboard="{!hideanalystlink}";
       
       if(AnalystDashboard == 'false')
       {       
        (document.getElementsByName("AdminID")[1]).style.display = "none";  
       }
       
       if(AdminDashboard == 'false')
       {                   
        (document.getElementsByName("AnalystID")[1]).style.display = "none";               
       }
	   function removeSerchbox()
	   {   
	       var a = [];
		   var re = new RegExp('\\bsearchCell\\b');
		   var els =document.getElementsByTagName("td");
		   for(var i=0,j=els.length; i<j; i++)
		   if(re.test(els[i].className))
		    a.push(els[i]);
		    var parent=a[0];
		   parent.style.display='none';
	   } 
	   var oldonload = window.onload;
	   if (typeof window.onload != 'function')
	   {     
	      window.onload = oldonload;
	   }
      else
      {  
        window.onload = function() 
        {     
          if(oldonload) 
          {      
             oldonload(); 
          }    
            removeSerchbox();
        }  
      }    
</script>

    <apex:form >    
        <apex:sectionHeader title="" subtitle="Dashboards" />       
        <apex:pageBlock mode="maindetail">        
            <apex:pageBlockSection title="All Customer Dashboards" columns="1">
            <br/>               
                <apex:pageBlockSectionItem rendered="{!hideanalystlink}">
                    <apex:outputlink id="AdminID" value="/{!DashboardID}" style="padding-left:20px;color:#3372E8;font-size:13px;">Customer Status Dashboard </apex:outputlink>
                </apex:pageBlockSectionItem>
				<apex:pageBlockSectionItem rendered="{!hideadminlink}">
					<apex:outputlink id="AnalystID" value="/{!DashboardIDAnal}" style="padding-left:20px;color:#3372E8;font-size:13px;" >Customer Status Dashboard</apex:outputlink>
				</apex:pageBlockSectionItem>                
                 <apex:pageBlockSectionItem >
                    <apex:outputlink value="/apex/BSureC_UserActivityDashboard" style="padding-left:20px;color:#3372E8;font-size:13px;">User Activity Dashboard</apex:outputlink>
                </apex:pageBlockSectionItem>
                
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
    
</apex:page>