<apex:page controller="BSureS_Masstransfer" sidebar="false"  action="{!CustomerData}" id="pgid">
<style type="text/css">
        .headers
        { 
            font-weight: bold; 
            font-size:140%;
            font-family: Arial,"Times New Roman",Georgia,Serif;
        }
        .titles
        { 
            font-weight: bold; 
            font-size:110%;
            font-family: Arial,"Times New Roman",Georgia,Serif;
        }
        .tableRow 
        {
            background: white;
            border: 1px solid #999;
            font-size: 12px;
            font-family: Arial,"Times New Roman",Georgia,Serif;
        }
        .innerTableRow
        {
            border-top-style:solid;
            border-top-width:1px;
            font-size: 12px;
            font-family: Arial,"Times New Roman",Georgia,Serif;
        }   
        body .bPageBlock .pbBody .pbSubheader 
        {
            border-width: 2px 0 0;
            border-style: solid;
            color: #27282E !important;
            padding: 4px 3px;
            font-family: Arial,"Times New Roman",Georgia,Serif;
        }
        .homeTab .tertiaryPalette {            
            border-color: #35B4E9 !important;
        }
                
    </style>
    <script>
		function getCookie(c_name)
		{
			var c_value = document.cookie;
			var c_start = c_value.indexOf(" " + c_name + "=");
			if (c_start == -1)
			{
				c_start = c_value.indexOf(c_name + "=");
			}	
			if (c_start == -1)
			{
				c_value = null;
			}
			else
			{
				c_start = c_value.indexOf("=", c_start) + 1;
				var c_end = c_value.indexOf(";", c_start);
				if (c_end == -1)
				{
					c_end = c_value.length;
				}
				c_value = unescape(c_value.substring(c_start,c_end));
			}
			return c_value;
		}
		
		function setCookie(c_name,value,exdays)
		{
			var exdate=new Date();
			//alert('Came here to set Cookie ');
			exdate.setDate(exdate.getDate() + exdays);
			var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
			//alert('Came here to set c_value ' + c_name + "=" + c_value);
			document.cookie = c_name + "=" + c_value;
			//document.cookie = "isTandCShown=true";
			//alert('Came here to set Cookie ' + document.cookie);
		}
		
		function checkCookie()
		{
			var isTnCpage = getCookie("isTandCShown");
			if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
		  	{
		  		//alert("Welcome again " + isTnCpage);
		  	}
			else
		  	{
		  		//alert("Welcome again else " + isTnCpage);
		  		setCookie("isTandCShown",true, null);
		  		var firstQry = window.location;
		  		if(firstQry != "")     
			   	{   
			     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
			   	}
		  	}
		}
	
		var referrerPage = document.referrer;
     		//alert('history===='+history.back(1));
		if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
		{   
		  	var secondqry = window.location;
		  	//alert('secondqry ========  '+encodeURIComponent(secondqry));
			if(secondqry != "")     
		   	{   
		     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
		   	}		  	 
	 	}
	 	else if(document.referrer == "")
	 	{
	 		checkCookie();
	 	}	 	
   	</script>
<apex:form id="frmid">
<table width="100%">
            <tr>
               <td style="font-size:20px; font-weight:bold; color:#086496;"><apex:image value="{!$Resource.BSureS_Logo}" height="25" width="25"/><b>{!$Label.BSureS_TransferofOWnership}</b></td>
               </tr>
               </table>
<script>
    var strselectbool='';
    var strselectboolcustomers='';
    function confirmfun()
    {
	    var changeduser='{!JSENCODE(str_AssignUser)}';
	
	    if(changeduser!='' && changeduser!=undefined)
	    {
	        var conf = confirm('{!$Label.BSureS_Massconfirmok}');
	        if(conf == false)
	        {
	            return false;
	        }
	    }
	    else
	    {
	    	alert('{!$Label.BSureS_Masspleaseselectuser}');
	    	return false;
	    }
    }
    var vcheckeduname;
    var vcheckeduid;
    var vcusername;
    var vcuserid;
    var flag="false";
    var ownerflag="false";    
    function funValue(uid,uname,cb)
    {   
        vcheckeduname = uname;
        //alert(vcheckeduname);
        vcheckeduid=uid;
        strselectbool='';
        inputElem = document.getElementsByTagName("input");
        for(var i=1; i<inputElem.length; i++)
        {
            
            if(inputElem[i].id.indexOf("checkedone")!=-1)
            {
                ownerflag="true";
                if(inputElem[i].name!=cb.name)
                {
                    inputElem[i].checked=false;
                }
            }
            strselectbool+=','+inputElem[i].checked;
        }
    }
    
    function CheckAssignOwner()
    {
    
        if(strselectbool.indexOf("true")==-1)
        {
        	alert('{!$Label.BSureS_Masspleaseselectuser}');
        	return false;
        }
        
        else
        {
         	return true;
        }
    }
    
    function custselect(cid,cname,cb)
    {
    
    //vcusername=
    vcuserid=cid;
    strselectboolcustomers='';
    inputElem = document.getElementsByTagName("input");
      for(var i=1; i<inputElem.length; i++)
        {
            strselectboolcustomers+=','+inputElem[i].checked;
        }
        

    
    }
     function Custempty()
     {
        if(strselectboolcustomers.indexOf("true")==-1)
        {
            alert('{!$Label.BSureS_Massselectaleastsupplier}');
            return false;
        }
        else
        {
         return true;
        }
     }
     
     function checkAll(cb)
{ 
//alert('hi'); 
strselectboolcustomers='';
var sel;
var inputElem = document.getElementsByTagName("input");

for(var i=0; i<inputElem.length; i++)
{ 
if(inputElem[i].id.indexOf("checkcust")!=-1)
{ 
inputElem[i].checked = cb.checked;
sel+=','+inputElem[i].checked;
}


}
strselectboolcustomers=sel;

}
      
</script>
<style type="text/css">
       .customPopup{
            background-color: white;
            border-style: solid;
            border-width: 4px;
            left: 50%;
            padding:10px;
            position: absolute;
            z-index: 9999;
            /* These are the 3 css properties you will need to tweak so the pop
            up displays in the center of the screen. First set the width. Then set
            margin-left to negative half of what the width is. You can also add
            the height property for a fixed size pop up.*/
            width: 500px;
            margin-left: -250px; 
            top:100px;
        }
</style> 


<apex:pageblock title=" {!$Label.BSureS_Massstep3selectsuppliers}" rendered="{!renselectcustomers}" id="pbcustid" mode="mainDetail">
<apex:outputpanel >
    <div align="right" style="display:{!IF(NOT(ISNULL(totallistsize)),'block','none')}">
<b><font size="1pt" >{!$Label.BSureS_MassPage} &nbsp;<apex:outputLabel value="{!pageNumber}"/>&nbsp;{!$Label.BSureS_MassOf}&nbsp;<apex:outputLabel value="{!totalPageNumber}"/>&nbsp;&nbsp;</font></b>
<font size="1pt">({!$Label.BSureS_MassResults}&nbsp;<apex:outputLabel value="{!PrevPageNumber}"/>&nbsp;{!$Label.BSureS_Massto}&nbsp;<apex:outputLabel value="{!NxtPageNumber}"/>&nbsp;{!$Label.BSureS_MassOf}&nbsp;<apex:outputLabel value="{!totallistsize}"/>)&nbsp;&nbsp;</font>
<apex:commandButton value="{!$Label.BSureS_MassFirst}" action="{!FirstbtnClick}" disabled="{!previousButtonEnabled}" reRender="frmid"></apex:commandButton>
<apex:commandButton value="<< {!$Label.BSureS_MassPrevious}" action="{!previousBtnClick}" disabled="{!previousButtonEnabled}" reRender="frmid"></apex:commandButton>
<apex:commandButton value="{!$Label.BSureS_MassNext} >>" action="{!nextBtnClick}"  disabled="{!nextButtonDisabled}" reRender="frmid"></apex:commandButton>
<apex:commandButton value="{!$Label.BSureS_MassLast}"  action="{!LastbtnClick}"  disabled="{!nextButtonDisabled}" reRender="frmid"></apex:commandButton>&nbsp;&nbsp;
</div>

</apex:outputpanel>
<apex:pageblocktable value="{!lst_Wrap_CustInfochangepag}" var="custinfochange" id="pbcusttable"> 
<apex:column >
<apex:facet name="header"><apex:inputCheckbox onclick="checkAll(this)">{!$Label.BSureS_Massmultiselect} 

</apex:inputCheckbox></apex:facet>
<apex:inputcheckbox value="{!custinfochange.bool_selected_cust}" id="checkcust" onclick="javascript:custselect('{!JSINHTMLENCODE(custinfochange.str_Custnameinfo)}','{!JSINHTMLENCODE(custinfochange.str_Custname)}',this);"/></apex:column>
<apex:column headervalue="{!$Label.BSureS_MassSuppliername}"> 
<apex:commandLink value="{!custinfochange.str_Custname}" action="{!FetchCustomerDetails}">
<apex:param name="CustomerId" value="{!custinfochange.str_Custnameinfo}"/>
</apex:commandLink></apex:column>
<apex:column headervalue="{!$Label.BSureS_Masscategory}" value="{!custinfochange.str_categoryname}"/>
<apex:column headervalue="{!$Label.BSureS_Massglobeid}" value="{!custinfochange.str_GlobeID}"/>
</apex:pageblocktable>
<apex:pageBlockButtons location="bottom">
<input value="Back" type="button" onclick="history.back();" class="btn"/>
<apex:commandButton action="{!ChangeInfo}" value="{!$Label.BSureS_Massselectsupplier}" id="theButton" onclick="return Custempty();">
</apex:commandButton>
</apex:pageBlockButtons>

</apex:pageblock>

<!-- --------------------------------------------------------------------------------------------------------- -->
<!--code deleted-->
<!-- -------------------------------------------------------------------------------------------------------- -->
<!-------------------------------------------------- LookUp------------------------------------------------ -->
<apex:outputlabel rendered="{!renselectcustomerchangel}" id="lout">

<apex:pageblock id="pgggb" mode="mainDetail" title="{!$Label.BSureS_Massstep4selectowner}">
<br/><br/>
<!-- <apex:inputText id="UserIDS" value="{!str_catUsers}" maxlength="100" style="width:50%">
    <c:BSureS_MassTransferComponent autocomplete_textbox="{!$Component.UserIDS}" objectname="User" additionalfield="LastName" profilename="{!CatID}"/>
  </apex:inputText>                  
    <script>vCustomer_name=document.getElementById('{!$Component.UserIDS}');</script>  -->
    <center><b><apex:outputlabel value="{!$Label.BSureS_MassUserName}" style="font-size:12px;"/></b>
                <apex:inputText id="UName" value="{!str_catUsers}" maxlength="150" style="width:20%">
                 <c:BSureS_MassTransferComponent autocomplete_textbox="{!$Component.UName}" objectname="User" additionalfield="Name" profilename="{!CatID}" ProfileIDs="{!profileIDS}" uid="{!strParmUserid}" CustIDs="{!str_custIDs}"/>

              </apex:inputText>             
                 <script>vCustomer_name=document.getElementById('{!JSENCODE($Component.UName)}');</script>  
                    
         <apex:commandbutton value="{!$Label.BSureS_MassSearch}" action="{!SearchCatUsers}" >
            </apex:commandbutton>   </center> <br/>
            <center>
            <apex:outputpanel style="align-left:50px;">
<div align="right" style="display:{!IF(NOT(ISNULL(totallistsize)),'block','none')}">
<b><font size="1pt" >{!$Label.BSureS_MassPage} &nbsp;<apex:outputLabel value="{!pageNumber}"/>&nbsp;{!$Label.BSureS_MassOf}&nbsp;<apex:outputLabel value="{!totalPageNumber}"/>&nbsp;&nbsp;</font></b>
<font size="1pt">({!$Label.BSureS_MassResults}&nbsp;<apex:outputLabel value="{!PrevPageNumber}"/>&nbsp;{!$Label.BSureS_Massto}&nbsp;<apex:outputLabel value="{!NxtPageNumber}"/>&nbsp;{!$Label.BSureS_MassOf}&nbsp;<apex:outputLabel value="{!totallistsize}"/>)&nbsp;&nbsp;</font>
<apex:commandButton value="{!$Label.BSureS_MassFirst}" action="{!FirstbtnClick}" disabled="{!previousButtonEnabled}" reRender="pgggb"></apex:commandButton>
<apex:commandButton value="<< {!$Label.BSureS_MassPrevious}" action="{!previousBtnClick}" disabled="{!previousButtonEnabled}" reRender="pgggb"></apex:commandButton>
<apex:commandButton value="{!$Label.BSureS_MassNext} >>" action="{!nextBtnClick}"  disabled="{!nextButtonDisabled}" reRender="pgggb"></apex:commandButton>
<apex:commandButton value="{!$Label.BSureS_MassLast}"  action="{!LastbtnClick}"  disabled="{!nextButtonDisabled}" reRender="pgggb"></apex:commandButton>&nbsp;&nbsp;
</div>


</apex:outputpanel> </center>
<center>
<apex:pageBlockTable value="{!lst_wrap_Custinfo_updatepag}" var="CustUser" style="width:50%"> 
<!--<apex:column headerValue="{!$Label.BSureS_MassChecktoselect}">
                    <apex:inputCheckbox value="{!CustUser.renUsercheck}" id="checkedone" onclick="javascript:funValue('{!JSINHTMLENCODE(CustUser.str_Customerid)}','{!JSINHTMLENCODE(CustUser.str_Cust_User)}',this);">                    
                    </apex:inputCheckbox>                   
                </apex:column>-->
            <apex:column headerValue="{!$Label.BSureS_MassUserName}" style="width:30px;"> 
                <apex:commandLink value="{!CustUser.str_Cust_User}"  action="{!ChangeCustomerOwnerShip}" >
                  <apex:param name="ChangedOwnerId" value="{!CustUser.str_Customerid}"/>                    
                  <apex:param name="ChangedOwnerName" value="{!CustUser.str_Cust_User}"/>
                </apex:commandLink>
            </apex:column>
        </apex:pageBlockTable> 
        </center>
        <center><apex:outputLabel rendered="{!if(lst_wrap_Custinfo_updatepag.size == 0,true,false)}"><font color="Red">{!$Label.BSureS_Massnouserswithprofile}</font></apex:outputLabel> </center>

</apex:pageblock>
<center><input value="Back" type="button" onclick="history.back();" class="btn"/></center>
</apex:outputlabel>
<!-- ---------------------------------------------------------------------------------------------- -->
<br/>
<br/>
<center><apex:outputlabel style="font-weight:bold;font-size:15px;color:#000000;" rendered="{!rensuccessfullassign}">
<apex:outputtext value="Selected Supplier Records from "/> &nbsp;&nbsp;
<apex:outputtext value="{!originaluser}"/> &nbsp;&nbsp;
<apex:outputtext value="to" />&nbsp;&nbsp;
<apex:outputtext value="{!changedusername}"/>&nbsp;&nbsp;
<apex:outputtext value="has successfully transfered" /><br/><br/>
<center><apex:commandbutton value="Goto first step" action="{!redirectFirststep}"/></center>
</apex:outputlabel>
</center>
<center>

</center>
</apex:form>
</apex:page>