<apex:page showHeader="true" sidebar="false" tabstyle="BSureC_Reports__tab">
    <style>
.homeTab .tertiaryPalette {
    border-color: #35B4E9 !important;
}
</style>
<script>
		function getCookie(c_name)
		{
			var c_value = document.cookie;
			var c_start = c_value.indexOf(" " + c_name + "=");
			if (c_start == -1)
			{
				c_start = c_value.indexOf(c_name + "=");
			}	
			if (c_start == -1)
			{
				c_value = null;
			}
			else
			{
				c_start = c_value.indexOf("=", c_start) + 1;
				var c_end = c_value.indexOf(";", c_start);
				if (c_end == -1)
				{
					c_end = c_value.length;
				}
				c_value = unescape(c_value.substring(c_start,c_end));
			}
			return c_value;
		}
		
		function setCookie(c_name,value,exdays)
		{
			var exdate=new Date();
			//alert('Came here to set Cookie ');
			exdate.setDate(exdate.getDate() + exdays);
			var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
			//alert('Came here to set c_value ' + c_name + "=" + c_value);
			document.cookie = c_name + "=" + c_value;
			//document.cookie = "isTandCShown=true";
			//alert('Came here to set Cookie ' + document.cookie);
		}
		
		function checkCookie()
		{
			var isTnCpage = getCookie("isTandCShown");
			if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
		  	{
		  		//alert("Welcome again " + isTnCpage);
		  	}
			else
		  	{
		  		//alert("Welcome again else " + isTnCpage);
		  		setCookie("isTandCShown",true, null);
		  		var firstQry = window.location;
		  		if(firstQry != "")     
			   	{   
			     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
			   	}
		  	}
		}
	
		var referrerPage = document.referrer;
     		//alert('history===='+history.back(1));
		if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
		{   
		  	var secondqry = window.location;
		  	//alert('secondqry ========  '+encodeURIComponent(secondqry));
			if(secondqry != "")     
		   	{   
		     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
		   	}		  	 
	 	}
	 	else if(document.referrer == "")
	 	{
	 		checkCookie();
	 	}	 	
   	</script>
<Script language="javascript" type="text/javascript">   
    function removeSerchbox()
    {  
       var a = []; 
       var re = new RegExp('\\bsearchCell\\b');
       var els =document.getElementsByTagName("td");
       for(var i=0,j=els.length; i<j; i++)
        if(re.test(els[i].className))
        a.push(els[i]);
        var parent=a[0];
       parent.style.display='none';
    } 
    var oldonload = window.onload;
    if (typeof window.onload != 'function')
    {     
       window.onload = oldonload;
    }
    else
    {  window.onload = function() 
       {     
          if(oldonload) 
          {      
             oldonload(); 
          }    
          removeSerchbox();
       }  
    } 
</Script> 
    <apex:form >
        <apex:sectionHeader title="" subtitle="Reports" />
        <apex:pageBlock mode="maindetail">
            <apex:pageBlockSection title="{!$Label.BSureC_ReportList}"
                columns="1">
          <br/>
                <apex:pageBlockSectionItem >
                    <a href='/apex/BSureC_CustomerInformationReport'
                        style="padding-left:20px;color:#3372E8;font-size:13px;">
                        {!$Label.BSureC_Customer_Information} </a>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <a href='/apex/BSureC_CustomerDocumentTypeReport'
                        style="padding-left:20px;color:#3372E8;font-size:13px;">
                        {!$Label.BSureC_Document_Type_Report}</a>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <a href='/apex/BSureC_ReviewDoneReport'
                        style="padding-left:20px;color:#3372E8;font-size:13px;">
                    {!$Label.BSureC_Completed_Reviews} </a>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <a href='/apex/BSureC_ReviewsOverdueReport'
                        style="padding-left:20px;color:#3372E8;font-size:13px;">
                    {!$Label.BSureC_Past_Due_Reviews}</a>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <a href='/apex/BSureC_ReviewsPendingReport'
                       style="padding-left:20px;color:#3372E8;font-size:13px;">
                       {!$Label.BSureC_Review_Pending_Report}</a>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem >
                    <a href='/apex/BSureC_ReviewWorklistForMangerAndAnalyst'
                        style="padding-left:20px;color:#3372E8;font-size:13px;">
                    {!$Label.BSureC_UpComing_Reviews} </a>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <a href='/apex/BSureC_UserActivityReport'
                        style="padding-left:20px;color:#3372E8;font-size:13px;">
                        {!$Label.BSureC_User_Activity}</a>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <a href='/apex/BSureC_CustomUserReport'
                        style="padding-left:20px;color:#3372E8;font-size:13px;">
                    {!$Label.BSureC_All_Users_Report} </a>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>