<apex:page controller="BSureC_CustomerDocumentTypeReport" cache="true" contentType="application/vnd.ms-Excel#Customer_DocumentType.xls" language="en-US" >
<script>
			function getCookie(c_name)
			{
				var c_value = document.cookie;
				var c_start = c_value.indexOf(" " + c_name + "=");
				if (c_start == -1)
				{
					c_start = c_value.indexOf(c_name + "=");
				}	
				if (c_start == -1)
				{
					c_value = null;
				}
				else
				{
					c_start = c_value.indexOf("=", c_start) + 1;
					var c_end = c_value.indexOf(";", c_start);
					if (c_end == -1)
					{
						c_end = c_value.length;
					}
					c_value = unescape(c_value.substring(c_start,c_end));
				}
				return c_value;
			}
			
			function setCookie(c_name,value,exdays)
			{
				var exdate=new Date();
				//alert('Came here to set Cookie ');
				exdate.setDate(exdate.getDate() + exdays);
				var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
				//alert('Came here to set c_value ' + c_name + "=" + c_value);
				document.cookie = c_name + "=" + c_value;
				//document.cookie = "isTandCShown=true";
				//alert('Came here to set Cookie ' + document.cookie);
			}
			
			function checkCookie()
			{
				var isTnCpage = getCookie("isTandCShown");
				if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
			  	{
			  		//alert("Welcome again " + isTnCpage);
			  	}
				else
			  	{
			  		//alert("Welcome again else " + isTnCpage);
			  		setCookie("isTandCShown",true, null);
			  		var firstQry = window.location;
			  		if(firstQry != "")     
				   	{   
				     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
				   	}
			  	}
			}
		
			var referrerPage = document.referrer;
      		//alert('history===='+history.back(1));
			if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
			{   
			  	var secondqry = window.location;
			  	//alert('secondqry ========  '+encodeURIComponent(secondqry));
				if(secondqry != "")     
			   	{   
			     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
			   	}		  	 
		 	}
		 	else if(document.referrer == "")
		 	{
		 		checkCookie();
		 	}	 	
    	</script>
<apex:pageBlock >
    <apex:pageblocktable value="{!lstDocumentWrapperexport}" var="doc" Id="PbTable" rendered="{!if(lstDocumentWrapperpag.size > 0,true,false)}"  style="width:100%" align="Left" border="1">
        <apex:Column Headervalue="Customer Name " value="{!Doc.strCustomername}"/>
 		<apex:Column Headervalue="Credit Account " value="{!Doc.strCreditAcc}"/>
             <apex:Column Headervalue="Document Type[Count]" >
                <apex:pageblockTable value="{!Doc.docwrap}" var="Cust">
                        <apex:column value="{!Cust.strdocname}  [{!Cust.doccount}]" ></apex:column>

                </apex:pageblockTable>
                        </apex:column>
            </apex:pageblocktable>  
</apex:pageBlock>
</apex:page>