<apex:page standardController="BSureC_Customer_Basic_Info__c"  extensions="bSureC_Experian_RL">
    <apex:form id="frm">
        <apex:pageBlock id="pg" >
            <apex:pageMessages />
            <apex:pageBlockTable value="{!Histrylist}" var="int">
                <apex:column headervalue="Action">
                    <apex:commandLink value="View" title="View" onclick="window.open('/{!int.Id}');"/>
                </apex:column>
                <apex:column value="{!int.Credit_Recommendation__c}" />
                <apex:column value="{!int.Company_DBT__c}" />
                <apex:column value="{!int.Highest_amt_extended__c}" />
                <apex:column value="{!int.CreatedDate}" />
            </apex:pageBlockTable>
        </apex:pageBlock>
    </apex:form>
</apex:page>