<apex:page controller="BSureC_CustomerInformationReport" sidebar="false" id="pgrpt" tabstyle="BSureC_Reports__tab">
    <style type="text/css">
    .homeTab .tertiaryPalette 
    { 
        border-color: #35B4E9 !important;
    } 
    .headers
     { 
         font-weight: bold; 
         font-size:110%;
     }
     .msg
     { 
         font-weight: bold; 
         font-size:14px;  
         color: red;
     }
    </style>
    <script>
        
          
        function funSearch(){
        alert('hey');
        fetchDetails(); 
         SearchAction();
       
        }  
         function funSearchAction()
        {
        
         SearchAction();
        }
        
        function funSearchSuppliers()
        {       
            window.open('/apex/BSureC_CustomerSearch?custName='+ '','mywindow','width=1000,height=700,top=30,left=100,toolbar=no,scrollBars=auto,resizable=no');
            return false;
        }  

        function removeSerchbox()
        {  
           var a = []; 
           var re = new RegExp('\\bsearchCell\\b');
           var els =document.getElementsByTagName("td");
           for(var i=0,j=els.length; i<j; i++)
            if(re.test(els[i].className))
            a.push(els[i]);
            var parent=a[0];
           parent.style.display='none';
        } 
        var oldonload = window.onload;
        if (typeof window.onload != 'function')
        {     
           window.onload = oldonload;
        }
        else
        {  window.onload = function() 
           {     
              if(oldonload) 
              {      
                 oldonload(); 
              }    
              removeSerchbox();
           }  
        } 
         
    </script>
    <apex:form id="frmDetails">
   
    <table  >
        <br/>
        <apex:sectionheader title=" " subtitle="{!$Label.BSureC_Customerinfo}" /> 
        <br/>
        </table>
        
         
        <table width="100%" id="tab1"  >
        <tr>
        <td colspan="3"><apex:outputLabel value="{!$Label.BSureC_SearchCriteria}" style="padding-left:00px;" styleClass="headers"/></td>
        </tr>
        <tr id="tabtr1">
<!--            <td width="30%"  style="text-decoration:none;" valign="center">-->
<!--            </td>  -->
<!--  First Column -->
            <td width="30%"   style="text-decoration:none;" valign="top">                
                <table width="100%" height="50%" align="left" cellspacing="3">
                    <tr>
                    <td colspan="2" align="center" style="padding-left:95px;">
                    <b>{!$Label.BsureC_Region_Information}</b>
                    </td>  
                    </tr>
                    <tr><td colspan="2"></td></tr>
                    <tr>
                        <td width="30%" align="right" style="padding-left:70px;"> 
                            <apex:outputLabel value="{!$Label.BSureC_Zone} "></apex:outputLabel>  
                        </td>
                        <td width="70%" align="left">
                            <apex:selectlist value="{!strZoneId}" id="strZoneID" size="1"  style="width:130px">
                   <apex:selectOptions value="{!lstZoneOptions}"> </apex:selectOptions>
                    <apex:actionSupport event="onchange"  action="{!getSubzonesoptions}" rerender="strSubzoneId,strCountryId,strAnalystId"/>
                </apex:selectlist>
                        </td>
                        </tr>
                        <tr>
                        <td width="30%" align="right">
                            <apex:outputLabel value="{!$Label.BSureC_Sub_Zone}"></apex:outputLabel>
                        </td>
                        <td width="70%" align="left">
                              <apex:selectlist value="{!strSubzoneId}" id="strSubzoneId" size="1"  style="width:130px">
                    <apex:selectOptions value="{!lstSubZoneOptions}"> </apex:selectOptions>
                     <apex:actionSupport event="onchange"  action="{!getCountriesOptions}"  rerender="strCountryId,strAnalystId" />
                    </apex:selectlist>
                        </td>
                        </tr>
                        <tr>
                        <td width="30%" align="right">
                            <apex:outputLabel value="{!$Label.BSureC_Country} "></apex:outputLabel>
                        </td>
                        <td width="70%" align="left" > 
                           <apex:selectlist value="{!strCountryId}" id="strCountryId" size="1"  style="width:130px">
                    <apex:selectOptions value="{!lstCoutryOptions}"> </apex:selectOptions>
                      <apex:actionSupport event="onchange"  action="{!getAnalystOptions}"  rerender="strAnalystId" />
<!--                   <apex:actionSupport event="onchange"  />-->
                    
               </apex:selectlist>
                        </td>
                    </tr>
                </table>
        </td>
        <!-- Second Column -->
        <td width="28%"  style="text-decoration:none;" valign="top">
        <table>
        <tr>
        <td valign="top" style="padding-left:180px;" colspan="2">
            <b>Analyst </b></td>
        </tr>
        <tr>
          <td width="40%" align="right" >
            <apex:outputLabel value="Analyst" style="padding-left:90px;" />&nbsp;
               </td >
                   <td width="60%" id="tabSubtdAnalyst" style="padding-left:00px;" >
                     <apex:selectlist value="{!strAnalystId}" id="strAnalystId" size="1"  style="width:134px">
                       <apex:selectOptions value="{!lstAnalystOptions}"> </apex:selectOptions>
                    </apex:selectlist>
                    </td>
                    </tr>
          <tr>
        <td valign="top" style="padding-left:180px;" colspan="2">
            <b><apex:outputtext value="{!$Label.BSureC_Collector}"></apex:outputtext></b></td>
        </tr>
        <tr>
          <td width="40%" align="right" >
            <apex:outputLabel value="{!$Label.BSureC_Collector}" style="padding-left:90px;" />&nbsp;
               </td >
                   <td width="60%" id="tabSubtdCollector" style="padding-left:00px;" >
                     <apex:selectlist value="{!strCollectorNames}" id="strCollectorNames" size="1"  style="width:134px">
                       <apex:selectOptions value="{!lstCollectorNames}"> </apex:selectOptions>
                    </apex:selectlist>
                    </td>
                    </tr>
        </table>
        </td>
     
        <!-- Third Column   -->
            <td   style="text-decoration:none;" valign="top" width="42%">
                <table width="100%" cellspacing="1" id="tabSub2" style="padding-left:50px;">
                    <tr>  
                         <td colspan="3" align="Center" style="padding-left:60px;">
                            <b>{!$Label.BSureC_Customerinfo}</b> 
                        </td>
                    </tr> 
                    <tr>
                        <td width="50%" align="left" 
                         nowrap="nowrap">
                            <apex:outputLabel value="{!$Label.BSureC_CustomerName}" />
                        </td>
                        <td width="50%"  id="tabSubtd2" nowrap="nowrap" style="padding-left:10px;">
                            <apex:inputText id="CustomerName" value="{!strCustomerId}" maxlength="100" style="width:130px;">
                                <c:BSureC_AutoComplete autocomplete_textbox="{!$Component.CustomerName}" objectname="BSureC_Customer_Basic_Info__c" additionalfield="Customer_Name__c"></c:BSureC_AutoComplete>
                            </apex:inputText> <img src="/s.gif" alt="alt" class="lookupIcon" onclick="return funSearchSuppliers();" onblur="this.className = 'lookupIcon';" onfocus="this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';" onmouseover="this.className = 'lookupIconOn';" title="Search" />
                            <script> vsupplier_name=document.getElementById('{!$Component.CustomerName}');</script>
                        </td>        
                    </tr>
                </table>  
            </td>
            </tr>
        <tr>
        <td height="10%"></td> 
        </tr>      
        <tr>  
         <apex:outputpanel id="id">
             <table width="100%" height="50%"  style="padding-left:350px;">
            
                    <tr>
                        <td width="70%" >
                       
                            <apex:commandbutton value="{!$Label.Search}"  onclick="return funSearchAction();" style="width:100px;" rerender="pb,export,ssrid"/>&nbsp;
                            <apex:commandbutton value="{!$Label.Cancel}"  action="{!cancel}" style="width:100px;" rerender="pb"/>&nbsp;
<!--                            <apex:commandbutton value="{!$Label.Clear}"  action="{!clear}" style="width:100px;" />&nbsp;-->
                            <apex:commandbutton value="{!$Label.BSureC_Export_To_Excel}" onclick="window.open('/{!reportId}');" id="export"  style="width:100px;" disabled="{!renSearch}"></apex:commandbutton>                           
                        </td>
                    </tr>
                      
                         
            </table>
             </apex:outputpanel>
        <td width="30%"  style="text-decoration:none;" height="10%"></td>
        </tr> 
        </table>       
        <br/>
         <apex:actionfunction name="SearchAction" action="{!fetchDetails}" rerender="pb,export,ssrid" status="counterStatus" />
                        <apex:actionStatus Id="counterStatus" >
                         <apex:facet name="start">
                            <apex:Image value="{!$Resource.AjaxAnimation}" style="padding-left:375px;" />    
                         </apex:facet>
                   <apex:facet name="stop" />              
                    </apex:actionstatus>
        <hr></hr>   
       
     
        </apex:form>    
        <apex:form id="ssrid">  
        <apex:pageBlock id="pb" mode="maindetail" title="Results" rendered="{!displayPanel}"> 
      
         <apex:outputText rendered="{!(ObjWorkList.size = 0)}" value="{!$Label.BSureC_No_Record_Found}" style="Padding-left:300px;" styleClass="msg" />
        
        <apex:outputpanel id="pnlsearch" rendered="{!!(ObjWorkList.size = 0)}" >
        <div align="right" style="display:{!IF(NOT(ISNULL(total_size)),'block','none')}">
            <b><font size="1pt" > Page &nbsp;<apex:outputLabel value="{!pageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totalPageNumber}"/>&nbsp;&nbsp;</font></b>
            <font size="1pt">Results&nbsp;<apex:outputLabel value="{!IF(objCustomerController.PageNumber == 1,1,((objCustomerController.PageNumber -1) * objCustomerController.PageSize)+1)}"/>&nbsp;to
                    &nbsp;<apex:outputLabel value="{!IF(objCustomerController.resultSize < objCustomerController.PageSize,objCustomerController.resultSize,objCustomerController.PageNumber * objCustomerController.pageSize)}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totalListSize}"/>&nbsp;&nbsp;</font>
            <apex:commandButton value="First" action="{!first}" disabled="{!previousButtonEnabled}" ></apex:commandButton>
            <apex:commandButton value="<< Previous" action="{!previous}" disabled="{!previousButtonEnabled}" ></apex:commandButton>
            <apex:commandButton value="Next >>" action="{!next}"  disabled="{!nextButtonDisabled}" ></apex:commandButton>
            <apex:commandButton value="Last"  action="{!last}"  disabled="{!nextButtonDisabled}" ></apex:commandButton>&nbsp;&nbsp;
        </div>
       
        <table border="0" width="100%" >
        <tr height="21px" >
            <td width="11%" bgcolor="#F3F1F3" valign="middle" rerender="pb">  
                <b>
                    <apex:commandLink action="{!SortData}" value="{!$Label.BSureC_CustomerName}" rerender="pb"
                        style="text-decoration:none" >
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression=='Customer_Name__c',true,false))}" styleClass="sortDesc"  alt="Sorted Descending" ></apex:image>
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Customer_Name__c',true,false))}" styleClass="sortAsc"   alt="Sorted Ascending" ></apex:image>
                        <apex:param value="Customer_Name__c" name="column" assignTo="{!sortExpression}" />
                    </apex:commandLink>
                </b>
            </td>
            <td width="11%" bgcolor="#F3F1F3" valign="middle" rerender="pb">  
                <b>
                    {!$Label.BSureC_Collector}                       
                </b>
            </td>
            <td width="8%" bgcolor="#F3F1F3" valign="middle" rerender="pb">
                <b>
                    <apex:commandLink action="{!SortData}" style="text-decoration:none" value="{!$Label.BSureC_GroupNumber}" rerender="pb">
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression=='Customer_Group_Id__c',true,false))}" styleClass="sortDesc"  alt="Sorted Descending" ></apex:image>
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Customer_Group_Id__c',true,false))}" styleClass="sortAsc"   alt="Sorted Ascending" ></apex:image>
                        <apex:param value="Customer_Group_Id__c" name="column" assignTo="{!sortExpression}" />
                    </apex:commandLink>
                </b>
            </td>
            
            <td width="4%" bgcolor="#F3F1F3" valign="middle" style="center">           
                <b>
                    <apex:commandLink action="{!SortData}" style="text-decoration:none" value="{!$Label.BSureC_City}" rerender="pb">
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression=='City__c',true,false))}" styleClass="sortDesc"  alt="Sorted Descending" ></apex:image>
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='City__c',true,false))}" styleClass="sortAsc"   alt="Sorted Ascending" ></apex:image>
                        <apex:param value="City__c" name="column" assignTo="{!sortExpression}" />
                    </apex:commandLink>
                </b>
            </td>
            <td width="4%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    <apex:commandLink action="{!SortData}" style="text-decoration:none" value="{!$Label.BSureC_State}" rerender="pb">  
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression=='State__c',true,false))}" styleClass="sortDesc"  alt="Sorted Descending" ></apex:image>
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='State__c',true,false))}" styleClass="sortAsc"   alt="Sorted Ascending" ></apex:image>
                        <apex:param value="State__c" name="column" assignTo="{!sortExpression}" />
                    </apex:commandLink>
                </b>
            </td>
             <td width="8%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    <apex:commandLink action="{!SortData}" style="text-decoration:none" value="{!$Label.BSureC_CreditNo}" rerender="pb">
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression=='Credit_Account__c',true,false))}" styleClass="sortDesc"  alt="Sorted Descending" ></apex:image>
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Credit_Account__c',true,false))}" styleClass="sortAsc"   alt="Sorted Ascending" ></apex:image>
                        <apex:param value="Credit_Account__c" name="column" assignTo="{!sortExpression}" />
                    </apex:commandLink>
                </b>
            </td>
             <td width="8%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    <apex:commandLink action="{!SortData}" style="text-decoration:none" value="{!$Label.BSureC_BillToAccount}" rerender="pb">
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression=='Bill_to_Account__c',true,false))}" styleClass="sortDesc"  alt="Sorted Descending" ></apex:image>
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Bill_to_Account__c',true,false))}" styleClass="sortAsc"   alt="Sorted Ascending" ></apex:image>
                        <apex:param value="Bill_to_Account__c" name="column" assignTo="{!sortExpression}" />
                    </apex:commandLink>
                </b>
            </td>  
             <td width="8%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    <apex:commandLink action="{!SortData}" style="text-decoration:none" value="{!$Label.BSureC_RiskCategory}" rerender="pb">
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression=='Risk_Category__c',true,false))}" styleClass="sortDesc"  alt="Sorted Descending" ></apex:image>
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Risk_Category__c',true,false))}" styleClass="sortAsc"   alt="Sorted Ascending" ></apex:image>
                        <apex:param value="Risk_Category__c" name="column" assignTo="{!sortExpression}" />
                    </apex:commandLink>
                </b>
            </td>
            <td width="8%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    {!$Label.BSureC_Credit_Limit}
                </b>   
            </td>
            <td width="6%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    {!$Label.BSureC_lastSale}
                </b> 
            </td>
             <td width="8%" bgcolor="#F3F1F3" valign="middle" rerender="pb">
                <b>
                    <apex:commandLink action="{!SortData}" style="text-decoration:none" value="{!$Label.BSureC_Category}">
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression=='Customer_Category__c',true,false))}" styleClass="sortDesc"  alt="Sorted Descending" ></apex:image>
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Customer_Category__c',true,false))}" styleClass="sortAsc"   alt="Sorted Ascending" ></apex:image>
                        <apex:param value="Customer_Category__c" name="column" assignTo="{!sortExpression}" />
                    </apex:commandLink>
                </b>
            </td>
             <td width="8%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    {!$Label.BSureC_Region}
                </b>   
            </td>
            
<!--            <td width="5%" bgcolor="#F3F1F3" valign="middle" rerender="pb">-->
<!--                <b>-->
<!--                    <apex:commandLink action="{!SortData}" style="text-decoration:none" value="{!$Label.BSureC_Region}">-->
<!--                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression=='Customer_Region__c',true,false))}" styleClass="sortDesc"  alt="Sorted Descending" ></apex:image>-->
<!--                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Customer_Region__c',true,false))}" styleClass="sortAsc"   alt="Sorted Ascending" ></apex:image>-->
<!--                        <apex:param value="Customer_Region__c" name="column" assignTo="{!sortExpression}" />-->
<!--                    </apex:commandLink>-->
<!--                </b>-->
<!--            </td>-->
            <td width="13%" bgcolor="#F3F1F3" valign="middle">
                <b>
                     {!$Label.BSureC_AssgnNonCrdtUsr} 
                </b> 
            </td>  
            
        </tr> 
        <apex:repeat value="{!ObjWorkList}" var="li" >
            <tr height="21px" valign="middle">
                <td>
                    <apex:outputlink value="BSureC_ViewCustomerDetails?id={!li.customerId}" target="_blank">{!li.Name}</apex:outputlink>
                </td>
                <td>
                    <apex:outputtext value="{!li.strCollector}"/>
                </td>
                <td>
                    <apex:outputtext value="{!li.GroupNumber}"/>
                </td>
                <td>
                    <apex:outputtext value="{!li.strcityLocation}"/>
                </td>  
                <td>
                    <apex:outputtext value="{!li.strstate}"/>
                </td>
                <td>
                    <apex:outputtext value="{!li.CreditAccount}"/>
                </td>
                <td>
                    <apex:outputtext value="{!li.Billtos}"/>
                </td>
                <td>
                    <apex:outputtext value="{!li.RiskCategory}"/>
                 </td>
                
                <td>
                   <apex:outputText value="{0,number,currency}">
                                <apex:param value="{!li.CreditLimit}" />
                            </apex:outputText>
                </td> 
                <td>
<!--                    <apex:outputtext value="{!li.LastSale}" />-->
                      <apex:outputText value="{0,date,MM/dd/yyyy}">
                        <apex:param value="{!li.LastSale}" />
                    </apex:outputText>
                </td> 
                  <td>
                    <apex:outputtext value="{!li.Lineofbusiness}" />
                </td> 
                  <td>
                    <apex:outputtext value="{!li.Region}" />
                </td> 
                
                  <td>
                    <apex:outputtext value="{!li.Usersassignedtothecustomer}" />   
                </td> 
            </tr>
        </apex:repeat>
        </table>
        
        <div align="right" style="display:{!IF(NOT(ISNULL(total_size)),'block','none')}">
            <b><font size="1pt" > Page &nbsp;<apex:outputLabel value="{!pageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totalPageNumber}"/>&nbsp;&nbsp;</font></b>
            <font size="1pt">Results&nbsp;<apex:outputLabel value="{!IF(objCustomerController.PageNumber == 1,1,((objCustomerController.PageNumber -1) * objCustomerController.PageSize)+1)}"/>&nbsp;to
                    &nbsp;<apex:outputLabel value="{!IF(objCustomerController.resultSize < objCustomerController.PageSize,objCustomerController.resultSize,objCustomerController.PageNumber * objCustomerController.pageSize)}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totalListSize}"/>&nbsp;&nbsp;</font>
            <apex:commandButton value="First" action="{!first}" disabled="{!previousButtonEnabled}" ></apex:commandButton>
            <apex:commandButton value="<< Previous" action="{!previous}" disabled="{!previousButtonEnabled}" ></apex:commandButton>
            <apex:commandButton value="Next >>" action="{!next}"  disabled="{!nextButtonDisabled}" ></apex:commandButton>
            <apex:commandButton value="Last"  action="{!last}"  disabled="{!nextButtonDisabled}" ></apex:commandButton>&nbsp;&nbsp;
        </div>
       
    </apex:outputpanel> 
    </apex:pageBlock>
</apex:form>  

 </apex:page>