<apex:page controller="BSureS_SupplierStatusReport13" readOnly="true">   
   <!-- <apex:pageBlock >
      <apex:repeat value="{!thousandBlocks}" var="block">
            <apex:dataTable value="{!block.cases}" var="c">
            <apex:column value="{!c.Supplier_Name__c}"/>
            <apex:column value="{!c.Review_Status__c}"/>
            <apex:column value="{!c.Analyst_Name__c}"/>
            <apex:column value="{!c.Group_Id__c}"/>
            <apex:column value="{!c.Supplier_Category__c}"/>
            <apex:column value="{!c.BSureS_Country__c}"/>  
            <apex:column value="{!c.Parent_Supplier_ID__r.Supplier_Name__c}"/>
            </apex:dataTable>
        </apex:repeat>
     </apex:pageBlock>   -->
     
     
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.8/css/dataTables.bootstrap.min.css"/>
   <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.8/js/dataTables.bootstrap.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"/>
      <script>
              var myApp = angular.module('myApp',[]);   
               myApp.controller('HomeController',function($scope){
                   
                     $scope.Variable = {};
                    
                     $scope.Variable = 'My Angular Table';
                   
                     
                     $scope.myData = {};
                     //$scope.myData.items = [ {text : "one"}, {text : "two"}, {text : "three"} ];
                     
                     var rowdata = '{!testjson}';
                     
                    $scope.parseddata = JSON.parse(rowdata);
                     console.log('rowdata-->'+rowdata);
                     console.log($scope.parseddata);
                     
                    
                    
               });   
   </script>
   <body ng-app="myApp" ng-controller="HomeController">
      <apex:form >
         {{Variable}} <br/><br/>
         
         <table Id="Acctable" class="table table-striped table-bordered table-hover" align="center">
            <thead>
               <tr>
                  <th >
                     id
                  </th>
                  <th>
                     Name
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="var in parseddata">
                  <td>{{var.Id}}</td>
                  <td>{{var.Supplier_Name__c}}</td>
               </tr>
            </tbody>
         </table>
      </apex:form>
      <script>
         $(document).ready(function() {
             $('#Acctable').DataTable();
         } );
      </script>
   </body>
</apex:page>