<apex:page StandardController="BSureS_Spend_History_Publish__c" extensions="BSureS_Create_SpendHistoryPublish" sidebar="false" tabstyle="Admin_Tool__tab">
<style type="text/css">
        .headers
        { 
            font-weight: bold; 
            font-size:140%;
            font-family: Arial,"Times New Roman",Georgia,Serif;
        }
        .titles
        { 
            font-weight: bold; 
            font-size:110%;
            font-family: Arial,"Times New Roman",Georgia,Serif;
        }
        .tableRow 
        {
            background: white;
            border: 1px solid #999;
            font-size: 12px;
            font-family: Arial,"Times New Roman",Georgia,Serif;
        }
        .innerTableRow
        {
            border-top-style:solid;
            border-top-width:1px;
            font-size: 12px;
            font-family: Arial,"Times New Roman",Georgia,Serif;
        }   
        body .bPageBlock .pbBody .pbSubheader 
        {
            border-width: 2px 0 0;
            border-style: solid;
            color: #27282E !important;
            padding: 4px 3px;
            font-family: Arial,"Times New Roman",Georgia,Serif;
        }
        .homeTab .tertiaryPalette {            
            border-color: #35B4E9 !important;
        }
                
    </style>
    <script>
        function getCookie(c_name)
        {
            var c_value = document.cookie;
            var c_start = c_value.indexOf(" " + c_name + "=");
            if (c_start == -1)
            {
                c_start = c_value.indexOf(c_name + "=");
            }   
            if (c_start == -1)
            {
                c_value = null;
            }
            else
            {
                c_start = c_value.indexOf("=", c_start) + 1;
                var c_end = c_value.indexOf(";", c_start);
                if (c_end == -1)
                {
                    c_end = c_value.length;
                }
                c_value = unescape(c_value.substring(c_start,c_end));
            }
            return c_value;
        }
        
        function setCookie(c_name,value,exdays)
        {
            var exdate=new Date();
            //alert('Came here to set Cookie ');
            exdate.setDate(exdate.getDate() + exdays);
            var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
            //alert('Came here to set c_value ' + c_name + "=" + c_value);
            document.cookie = c_name + "=" + c_value;
            //document.cookie = "isTandCShown=true";
            //alert('Came here to set Cookie ' + document.cookie);
        }
        
        function checkCookie()
        {
            var isTnCpage = getCookie("isTandCShown");
            if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
            {
                //alert("Welcome again " + isTnCpage);
            }
            else
            {
                //alert("Welcome again else " + isTnCpage);
                setCookie("isTandCShown",true, null);
                var firstQry = window.location;
                if(firstQry != "")     
                {   
                    window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
                }
            }
        }
    
        var referrerPage = document.referrer;
            //alert('history===='+history.back(1));
        if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
        {   
            var secondqry = window.location;
            //alert('secondqry ========  '+encodeURIComponent(secondqry));
            if(secondqry != "")     
            {   
                window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
            }            
        }
        else if(document.referrer == "")
        {
            checkCookie();
        }       
    </script>
<script>
    function emptycheck() 
    {
        var vardate=document.getElementById("{!JSENCODE($Component.frm.pb.pbs2.pbsi2.dt)}").value;
        var varamt=document.getElementById("{!JSENCODE($Component.frm.pb.pbs2.pbsi1.samt)}").value;
        var varperiod=document.getElementById("{!JSENCODE($Component.frm.pb.pbs2.pbsi3.speriod)}").value;
        if(vardate=='' || vardate==null)
        {
        alert('{!$Label.BSureS_spendhispleaseenter}');
        return false;
        }
        if(varamt=='' || varamt==null)
        {
        alert('{!$Label.BSureS_spendhisspendamtalert}');
        return false;
        }
        if(varperiod=='' || varperiod==null)
        {
        alert('{!$Label.BSureS_spendhisspendperiodalert}');
        return false;
        }
        return true;
    }
    function removeSerchbox()
    {  
       var a = [];
       var re = new RegExp('\\bsearchCell\\b');
       var els =document.getElementsByTagName("td");
       for(var i=0,j=els.length; i<j; i++)
        if(re.test(els[i].className))
        a.push(els[i]);
        var parent=a[0];
       parent.style.display='none';
    } 
    var oldonload = window.onload;
    if (typeof window.onload != 'function')
    {     
       window.onload = oldonload;
    }
    else
    {  window.onload = function() 
       {     
          if(oldonload) 
          {      
             oldonload(); 
          }    
          removeSerchbox();
       }  
    }
</script>
<apex:form id="frm">
<apex:sectionHeader title="" subtitle="{!$Label.BSureS_spendhispublishspend}" />
<apex:pagemessages />
<apex:pageblock mode="mainDetail" id="pb">
        <apex:pageBlockSection columns="1" title="{!$Label.BSureS_spendhissupinfo}"> 
             <c:BSureS_SupplierDetials supplierId="{!ObjSpendhistorypublish.Supplier_ID__c}" id="scId"/> 
        </apex:pageBlockSection>

<apex:pageblocksection title="{!$Label.BSureS_spendhisspendhistory}" id="pbs2" > 
<apex:pageBlockSectionItem id="pbsi1">
            <apex:outputLabel >{!$Label.BSureS_spendhisspendamt}<font color="red" size="3">*</font></apex:outputLabel>
            <apex:inputField value="{!ObjSpendhistorypublish.Spend_Amount__c}"  style="width:200px;" id="samt"/>
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem id="pbsi2">
            <apex:outputLabel >{!$Label.BSureS_spendhisdate}<font color="red" size="3">*</font></apex:outputLabel>
            <apex:inputField value="{!ObjSpendhistorypublish.Date__c}"  style="width:200px;" id="dt"/>
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem id="pbsi3">
            <apex:outputLabel >{!$Label.BSureS_spendhisspendperiod}<font color="red" size="3">*</font></apex:outputLabel>
            <apex:inputField value="{!ObjSpendhistorypublish.Spend_Period__c}"  style="width:200px;" id="speriod"/>
</apex:pageBlockSectionItem>
<apex:pageBlockSectionItem >
            <apex:outputLabel >{!$Label.BSureS_spendhissap}</apex:outputLabel>
            <apex:outputfield value="{!ObjSpendhistorypublish.Globe_ID__c}"  style="width:200px;" />
</apex:pageBlockSectionItem>
</apex:pageblocksection>
<center>
<apex:commandbutton value="{!$Label.BSureS_spendhissave}" action="{!Save}" onclick="return emptycheck();"/>
<apex:commandbutton value="{!$Label.BSureS_spendhiscancel}" action="{!Cancel}"/> 
</center>
</apex:pageblock>
</apex:form>
</apex:page>