<apex:page showHeader="true"  tabstyle="Admin_Tools__tab">
<script>
			function getCookie(c_name)
			{
				var c_value = document.cookie;
				var c_start = c_value.indexOf(" " + c_name + "=");
				if (c_start == -1)
				{
					c_start = c_value.indexOf(c_name + "=");
				}	
				if (c_start == -1)
				{
					c_value = null;
				}
				else
				{
					c_start = c_value.indexOf("=", c_start) + 1;
					var c_end = c_value.indexOf(";", c_start);
					if (c_end == -1)
					{
						c_end = c_value.length;
					}
					c_value = unescape(c_value.substring(c_start,c_end));
				}
				return c_value;
			}
			
			function setCookie(c_name,value,exdays)
			{
				var exdate=new Date();
				//alert('Came here to set Cookie ');
				exdate.setDate(exdate.getDate() + exdays);
				var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
				//alert('Came here to set c_value ' + c_name + "=" + c_value);
				document.cookie = c_name + "=" + c_value;
				//document.cookie = "isTandCShown=true";
				//alert('Came here to set Cookie ' + document.cookie);
			}
			
			function checkCookie()
			{
				var isTnCpage = getCookie("isTandCShown");
				if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
			  	{
			  		//alert("Welcome again " + isTnCpage);
			  	}
				else
			  	{
			  		//alert("Welcome again else " + isTnCpage);
			  		setCookie("isTandCShown",true, null);
			  		var firstQry = window.location;
			  		if(firstQry != "")     
				   	{   
				     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
				   	}
			  	}
			}
		
			var referrerPage = document.referrer;
      		//alert('history===='+history.back(1));
			if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
			{   
			  	var secondqry = window.location;
			  	//alert('secondqry ========  '+encodeURIComponent(secondqry));
				if(secondqry != "")     
			   	{   
			     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
			   	}		  	 
		 	}
		 	else if(document.referrer == "")
		 	{
		 		checkCookie();
		 	}	 	
    	</script>
<Script language="javascript" type="text/javascript">	
	function removeSerchbox()
	{  
	   var a = [];
	   var re = new RegExp('\\bsearchCell\\b');
	   var els =document.getElementsByTagName("td");
	   for(var i=0,j=els.length; i<j; i++)
	    if(re.test(els[i].className))
	    a.push(els[i]);
	    var parent=a[0];
	   parent.style.display='none';
	} 
	var oldonload = window.onload;
	if (typeof window.onload != 'function')
	{     
	   window.onload = oldonload;
	}
	else
	{  window.onload = function() 
	   {     
	      if(oldonload) 
	      {      
	         oldonload(); 
	      }    
	      removeSerchbox();
	   }  
	} 
	</Script>
	<apex:enhancedList type="BSureC_Category__c" height="550"
		rowsPerPage="100" id="AccountList" />
</apex:page>