<apex:page controller="BSureS_SupplierRiskReport" sidebar="false" id="pgrpt"  tabstyle="BSureS_Reports__tab">
    <style type="text/css">
        .homeTab .tertiaryPalette 
        { 
            border-color: #35B4E9 !important;
        } 
        .headers
        { 
            font-weight: bold; 
            font-size:110%;
        }
        .underlineheaders
        { 
            font-weight: bold; 
            font-size:140%;
            text-decoration:underline;
        }
        .subheaders
        { 
            font-weight: bold; 
            font-size:105%;
        }
        .msg
        { 
            font-weight: bold; 
            font-size:14px;
            color: red;
        }
    
   
         .customPopup{ 
              background-color: white;
              border-style: solid; 
              border-width: 4px;
              left: 50%; 
              padding:10px;
              position: absolute;
              z-index: 9999;
              /* These are the 3 css properties you will need to tweak so the pop 
              up displays in the center of the screen. First set the width. Then set 
              margin-left to negative half of what the width is. You can also add 
              the height property for a fixed size pop up.*/
              width: 500px;
              margin-left: -250px; 
              top:100px;
          } 

    </style>
    
    <script>
		function getCookie(c_name)
		{
			var c_value = document.cookie;
			var c_start = c_value.indexOf(" " + c_name + "=");
			if (c_start == -1)
			{
				c_start = c_value.indexOf(c_name + "=");
			}	
			if (c_start == -1)
			{
				c_value = null;
			}
			else
			{
				c_start = c_value.indexOf("=", c_start) + 1;
				var c_end = c_value.indexOf(";", c_start);
				if (c_end == -1)
				{
					c_end = c_value.length;
				}
				c_value = unescape(c_value.substring(c_start,c_end));
			}
			return c_value;
		}
		
		function setCookie(c_name,value,exdays)
		{
			var exdate=new Date();
			//alert('Came here to set Cookie ');
			exdate.setDate(exdate.getDate() + exdays);
			var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
			//alert('Came here to set c_value ' + c_name + "=" + c_value);
			document.cookie = c_name + "=" + c_value;
			//document.cookie = "isTandCShown=true";
			//alert('Came here to set Cookie ' + document.cookie);
		}
		
		function checkCookie()
		{
			var isTnCpage = getCookie("isTandCShown");
			if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
		  	{
		  		//alert("Welcome again " + isTnCpage);
		  	}
			else
		  	{
		  		//alert("Welcome again else " + isTnCpage);
		  		setCookie("isTandCShown",true, null);
		  		var firstQry = window.location;
		  		if(firstQry != "")     
			   	{   
			     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
			   	}
		  	}
		}
	
		var referrerPage = document.referrer;
     		//alert('history===='+history.back(1));
		if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
		{   
		  	var secondqry = window.location;
		  	//alert('secondqry ========  '+encodeURIComponent(secondqry));
			if(secondqry != "")     
		   	{   
		     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
		   	}		  	 
	 	}
	 	else if(document.referrer == "")
	 	{
	 		checkCookie();
	 	}	 	
   	</script>
    <script>
        
        
        function isNumberKey(evt)
        {
           var charCode = (evt.which) ? evt.which : event.keyCode
           if (charCode > 31 && (charCode < 48 || charCode > 57))
           {
              return false;
           }    
           return true;
        }
        function checkValidation(fromId,toId) 
        {               
            var fromDate;
            var toDate;                 
            var currentTime = new Date()
            var month = currentTime.getMonth() + 1 
            var day = currentTime.getDate()
            var year = currentTime.getFullYear()                            
            
             
            if(document.getElementById(fromId).value != ''){
                var valid = isDate(document.getElementById(fromId).value);                  
                if(valid == false){
                    alert('{!$Label.BSureS_From_Date_is_not_valid}');
                    return false;
                }
            }
            if(document.getElementById(toId).value != ''){
                var valid = isDate(document.getElementById(toId).value);                    
                if(valid == false){
                    alert('{!$Label.BSureS_To_Date_is_not_valid}');
                    return false;
                } 
            }
            
            if(document.getElementById(fromId).value != ''){
                fromDate = new Date(document.getElementById(fromId).value);
            }
            if(document.getElementById(fromId).value == '' )
            {
                alert('{!$Label.BSureS_Please_enter_From_Date}');
                return false;
            }                           
            if(document.getElementById(toId).value != ''){
                toDate =  new Date(document.getElementById(toId).value);
            }
            
            if(new Date(month + "/" + day + "/" + year) < fromDate){                    
                alert('{!$Label.BSureS_FromDate_should_not_be_greater_than_Today_s_Date}');
                return false;
            } 
            
            if(document.getElementById(toId).value == '' )
            {
                alert('{!$Label.BSureS_Please_enter_To_Date}');
                return false;
            }
                
            if(new Date(month + "/" + day + "/" + year) < toDate){
                alert('{!$Label.BSureS_To_Date_should_not_be_greater_than_Today_s_Date}');
                return false;
            } 
            if(fromDate > toDate)
            {
                alert('{!$Label.BSureS_From_Date_shold_not_be_greater_than_To_Date}');
                return false;
            }
            
            getResults();
            
            return false;               
        }
        
        function isDate(txtDate)
        {
            
            var currVal = txtDate;
            if(currVal == '')
                return false;
            
            var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/; //Declare Regex
            var dtArray = currVal.match(rxDatePattern); // is format OK?
            
            if (dtArray == null) 
                return false;
            
            //Checks for mm/dd/yyyy format.
            dtMonth = dtArray[1];
            dtDay= dtArray[3];
            dtYear = dtArray[5];   
            if (dtMonth < 1 || dtMonth > 12) 
                return false;               
            else if (dtDay < 1 || dtDay > 31)               
                return false;           
            else if ((dtMonth==4 || dtMonth==6 || dtMonth==9 || dtMonth==11) && dtDay ==31) 
                return false;
            else if (dtMonth == 2) 
            {
                var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));
                if (dtDay> 29 || (dtDay ==29 && !isleap)) 
                     return false;
            }
            return true;
        }        
        var oldonload = window.onload;
        window.onload = function() 
        {     
            if(oldonload) 
            {      
                oldonload(); 
            }    
            removeSerchbox();
            setFocus();
        }  
        function removeSerchbox()
        {  
            var a = [];
            var re = new RegExp('\\bsearchCell\\b');
            var els =document.getElementsByTagName("td");
            for(var i=0,j=els.length; i<j; i++)
                if(re.test(els[i].className))
                    a.push(els[i]);
            var parent=a[0];
            parent.style.display='none';
        }       
        function setFocus() 
        {
            document.getElementById("hiddenElementId").focus();
        }
        
        function funSearchSuppliers()
        {       
            window.open('/apex/BSureS_SupplierSearch?supName='+ '','mywindow','width=1000,height=700,top=30,left=100,toolbar=no,scrollBars=auto,resizable=no');
            return false;
        } 
        
        function funFocus()
        {
            document.getElementById("pbSupDetails").focus();
        } 
        function funCancel()
        {
            Cancel();
        } 
        
    </script>
    <apex:form id="frmDetails">
        <br/>
        <apex:sectionheader title="{!$Label.Supplier_Risk_Report}"/>
        
        <table width="100%">
            <tr>
                <td align="center">
                    <apex:messages styleClass="msg"/>
                </td>   
                <td align="right">
                  <apex:outputLabel value="*" styleClass="msg"/><apex:outputLabel value="Mandatory"/>
                </td>
            </tr>
        </table>
        
        <hr></hr>
        
        <table width="100%" id="tab1">
        <tr>
            <td colspan="3"><apex:outputLabel value="{!$Label.BSureS_Search_Criteria}" styleClass="headers"/></td>
        </tr>
        <tr height="12"></tr>
        <tr id="tabtr1"> 
                
            <td width="30%"  style="text-decoration:none;" id="tabtd1" valign="top" align="right">
                <table width="100%" style="padding-left:30px;" height="50%" align="center" cellspacing="0">
                    <tr>                    
                    <td align="left" colspan="2">
                    <b>Supplier Risk Period</b>
                    </td>
                    </tr>
                    <tr height="6"></tr>
                    <tr>
                        <td width="20%" align="left">
                        <apex:outputLabel value="{!$Label.BSureS_From_Date}" /><apex:outputLabel value="*" styleClass="msg"/>
                        </td>
                        <td width="70%" align="left">
                                <apex:inputtext id="fromDate" value="{!strFromDate}" onfocus="DatePicker.pickDate(false, this, false);" style="width:100px;" onKeyPress="return isNumberKey(this);" />
                                <span class="dateFormat"> [&nbsp;<a href="javascript:DatePicker.insertDate('{!JSINHTMLENCODE(strTodayDate)}', '{!JSINHTMLENCODE($Component.fromDate)}', true);">{!strTodayDate} </a>&nbsp;]</span>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" align="left">
                         <apex:outputLabel value="{!$Label.BSureS_To_Date}" /><apex:outputLabel value="*" styleClass="msg"/>
                        </td>
                        <td width="70%" align="left">
                            <apex:inputtext id="toDate" value="{!strToDate}" onfocus="DatePicker.pickDate(false, this, false);" style="width:100px;" onKeyPress="return isNumberKey(this);"/>
                                <span class="dateFormat"> [&nbsp;<a href="javascript:DatePicker.insertDate('{!JSINHTMLENCODE(strTodayDate)}', '{!JSINHTMLENCODE($Component.toDate)}', true);">{!strTodayDate} </a>&nbsp;]</span>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="30%"  style="text-decoration:none;"  id="tab2" valign="top" align="right">
                <table width="100%" height="50%" align="center" cellspacing="0" id="tabSub2">
                    <tr>
                        <td align="left" colspan="2">
                        <b>{!$Label.BSureS_Supplier_Information}</b>
                        </td>
                    </tr>
                    <tr height="6"></tr>
                    <tr id="tabSubtr2">
                        <td width="20%" align="left"> 
                            <apex:outputLabel value="{!$Label.SupplierName} " /> 
                        </td>
                        <td width="60%" align="left" id="tabSubtd2">
                            <apex:inputText id="SupplierName" value="{!strSupplierName}" maxlength="100" style="width:58%" >
                                <c:BSureS_AutoComplete autocomplete_textbox="{!$Component.SupplierName}" objectname="Vertex_BSureS__BSureS_Basic_Info__c" additionalfield="Vertex_BSureS__Supplier_Name__c"></c:BSureS_AutoComplete>
                            </apex:inputText> 
                            <b>&nbsp;or
                            </b>                 
                            <img src="/s.gif" alt="alt" class="lookupIcon" onclick="return funSearchSuppliers();" onblur="this.className = 'lookupIcon';" onfocus="this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';" onmouseover="this.className = 'lookupIconOn';" title=" Search"/>
                            <script>vsupplier_name=document.getElementById('{!JSENCODE($Component.SupplierName)}');</script>   
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" align="left">
                         <apex:outputLabel value="{!$Label.BSureS_Analyst}" /> 
                        </td>
                        <td width="60%" align="left">
                        <apex:inputText id="Analyst" value="{!strAnalystName}" maxlength="100" style="width:50%" >
                            <c:BSureS_AutoComplete autocomplete_textbox="{!$Component.Analyst}" objectname="User" additionalfield="Name" profilename="BSureS_Analyst"></c:BSureS_AutoComplete>
                        </apex:inputText> 
                        <apex:commandLink action="{!showBuyerDetails}">
                            <img src="/s.gif" alt="Vendor ID Lookup (New Window)" class="lookupIcon"  onblur="this.className = 'lookupIcon';"  onfocus="this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" title=" Lookup (New Window)"/>
                        </apex:commandLink>
                        <apex:outputPanel rendered="{!showeditrecs}" styleClass="customPopup" >
                            <apex:pageblock mode="maindetail">
                                <apex:pageBlockSection columns="6">
                                    <apex:outputlabel value="Search"/>
                                    <apex:inputText value="{!strAnalystSearch}" />
                                    <apex:commandButton value="GO" action="{!searchBtn}" rerender="userList"/>
                                </apex:pageBlockSection>                                
                                <apex:pageBlockTable value="{!lstAnalystUser}" var="assAnalyst" id="userList">
                                    <apex:column headerValue="Analyst" >
                                        <apex:commandLink value="{!assAnalyst.Name}" action="{!closepopup}" >
                                            <apex:param name="Analystid" value="{!assAnalyst.Name}"/>
                                        </apex:commandLink> 
                                    </apex:column>
                                </apex:pageBlockTable>                              
                                <apex:pageBlockButtons location="bottom" >
                                    <apex:commandButton action="{!closepopupBtn}"  value="Close"/> 
                                 </apex:pageBlockButtons>
                            </apex:pageblock>
                        </apex:outputPanel>
                        </td>
                    </tr>
                    
                </table>
            </td>
            <td width="30%"  style="text-decoration:none;" valign="top" align="right">                
                <table width="100%" height="50%" align="center" cellspacing="0">
                    <tr>                    
                    <td align="left" colspan="2">
                    <b>Region Information</b>
                    </td>
                    </tr>
                    <tr height="6"></tr>
                    <tr>
                        <td width="20%" align="left"> 
                            <apex:outputLabel value="{!$Label.BSureS_Zone} "></apex:outputLabel>
                        </td>
                        <td width="70%" align="left">
                            <apex:selectList value="{!strSupplierZone}" id="SZid" size="1" style="width:60%;"> 
                                <apex:selectOptions value="{!lstSZone}" /> 
                                <apex:actionSupport reRender="frmDetails" event="onchange" action="{!getSSubZoneList}"  />
                            </apex:selectList>  
                        </td>
                        </tr>
                        <tr>
                        <td width="20%" align="left">
                            <apex:outputLabel value="{!$Label.BSureS_SubZone} "></apex:outputLabel>
                        </td>
                        <td width="70%" align="left">
                            <apex:selectList value="{!strSupplierSubZone}" id="SSZid" size="1" style="width:60%;"> 
                                <apex:selectOptions value="{!lstSSubZone}" /> 
                                <apex:actionSupport reRender="frmDetails" event="onchange" action="{!getSCountriesList}" />
                            </apex:selectList> 
                        </td>
                        </tr>
                        <tr>
                        <td width="20%" align="left">
                            <apex:outputLabel value="{!$Label.BSureS_Country} "></apex:outputLabel>
                        </td>
                        <td width="70%" align="left" >
                            <apex:selectList value="{!strSupplierCountry}" id="SCid" size="1" style="width:60%;"> 
                                <apex:selectOptions value="{!lstSCountry}" />                                          
                            </apex:selectList> 
                        </td>
                    </tr>
                </table>
        </td>

        </tr>
        <tr>
        <td height="10%"></td>
        </tr>
        <tr>
            <td width="30%"  style="text-decoration:none;" height="10%">
                <input id="hiddenElementId" type="hidden" />
            </td>       
            <td  width="30%"  style="text-decoration:none;" >
                <table width="100%" height="50%" align="center">
                    <tr>
                        <td width="50%" align="right">
                            <input type="button" value="{!$Label.BSureS_Search}" id="Select" style="cursor:pointer;cursor:hand;" onClick="return checkValidation('{!$Component.fromDate}','{!$Component.toDate}')" width="50%"/>
                            <apex:actionFunction action="{!getResults}" name="getResults"  />  
                        </td>
                        <td width="50%" align="left">
                            <input type="button" value="{!$Label.BSureS_Cancel}" style="cursor:pointer;cursor:hand;" onClick="funCancel();"/>
                             <apex:actionFunction action="{!Cancel}" name="Cancel"  />    
                        </td>
                    </tr>
                </table>
            </td>
            <td width="30%"  style="text-decoration:none;" height="10%"></td>
        </tr>
        <tr>
            <td style="text-decoration:none;" colspan="3" >
                <apex:outputtext value="No Records found for the selected criteria" style="color:red;font-size:15px;font-weight:bold;padding-left:50px;" rendered="{!if(isSearch=true && lstRiskHigh.size ==0 && lstRiskMedium.size ==0 && lstRiskLow.size  == 0,true,false)}"> </apex:outputtext>
            </td>
            
        </tr>
        <tr>
            <td height="15%" colspan="3"></td>
        </tr>
    </table>
        
         <apex:pageblock id="pbResults" mode="maindetail" > 
            <apex:pageBlockSection title="{!$Label.BSureS_Results}" columns="1"  collapsible="false" >
            <br/>
                <table align="Center" width="100%" border="0" style="padding-left:30px;">
                    <apex:pageBlockSectionItem >                        
                        <apex:outputLabel value="Risk Level" styleclass="underlineheaders"/>                        
                        <apex:outputLabel value="Risk Count" styleclass="underlineheaders"></apex:outputLabel>                                  
                    </apex:pageBlockSectionItem> 
                    <apex:pageBlockSectionItem >
                        <apex:pageBlockSectionItem >
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="High Risk" styleclass="subheaders"/>&nbsp;
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                &nbsp;<apex:image url="{!$Resource.BSureS_ImgHigh}" ></apex:image>   
                            </apex:pageBlockSectionItem>                    
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:commandLink value="{!lstRiskHigh.size}" action="{!getSupDetails}" styleclass="headers" rendered="{!(lstRiskHigh.size > 0 )}"  onclick="location.href='#pgrpt:frmDetails:renderOpt'" rerender="renderOpt">
                                <apex:param name="Level" value="High"/>
                            </apex:commandLink> 
                            <apex:outputlabel value="0" rendered="{!(lstRiskHigh.size = 0 )}" styleclass="headers"></apex:outputlabel>                        
                        </apex:pageBlockSectionItem>               
                    </apex:pageBlockSectionItem> 
                    <apex:pageBlockSectionItem >
                        <apex:pageBlockSectionItem >
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Medium Risk" styleclass="subheaders"/>&nbsp;
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                &nbsp;<apex:image url="{!$Resource.BSureS_ImgMedium}" ></apex:image>
                            </apex:pageBlockSectionItem>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:commandLink value="{!lstRiskMedium.size}" action="{!getSupDetails}" styleclass="headers" rendered="{!(lstRiskMedium.size > 0 )}"  onclick="location.href='#pgrpt:frmDetails:renderOpt'" rerender="renderOpt">
                                <apex:param name="Level" value="Medium"/>
                            </apex:commandLink> 
                            <apex:outputlabel value="0" rendered="{!(lstRiskMedium.size = 0 )}" styleclass="headers"></apex:outputlabel>    
                        </apex:pageBlockSectionItem>                
                    </apex:pageBlockSectionItem>  
                    <apex:pageBlockSectionItem >
                        <apex:pageBlockSectionItem >
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Low Risk" styleclass="subheaders"/>&nbsp;
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                &nbsp;<apex:image url="{!$Resource.BSureS_ImgLow}" ></apex:image>
                            </apex:pageBlockSectionItem>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:commandLink value="{!lstRiskLow.size}" action="{!getSupDetails}" styleclass="headers" rendered="{!(lstRiskLow.size > 0 )}" onclick="location.href='#pgrpt:frmDetails:renderOpt'" rerender="renderOpt">
                                <apex:param name="Level" value="Low" />
                            </apex:commandLink> 
                            <apex:outputlabel value="0" rendered="{!(lstRiskLow.size = 0 )}" styleclass="headers"></apex:outputlabel>    
                        </apex:pageBlockSectionItem>               
                    </apex:pageBlockSectionItem>  
                </table> 
            </apex:pageBlockSection> 
         </apex:pageblock>
         <br/>
         <apex:outputpanel Id="renderOpt" > 
          <apex:pageblock id="pbSupDetails" mode="maindetail" rendered="{!if(lstSupDetailsPagination.size > 0,true,false)}">
            <apex:pageBlockSection title="Suppliers with a Risk Level of {!strSelectedRiskLvl}" columns="1"  collapsible="false" >
                <apex:outputpanel >
                    <table width="80%" >
                        <tr>
                            <td width="40%" align="center">
                                <apex:commandbutton value="{!$Label.BSureS_Export_To_Excel}"  style="width:100px;"  action="{!ExportToExcel}" disabled="{!(lstSupDetailsPagination.size = 0)}"  />
                            </td>
                            <td width="60%" align="right" >
                    
                                <div align="Center" style="display:{!IF(NOT(ISNULL(totallistsize)),'block','none')}">
                                     <b><font size="1pt" >Page &nbsp;<apex:outputLabel value="{!pageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totalPageNumber}"/>&nbsp;&nbsp;</font></b>
                                     <font size="1pt">Results&nbsp;<apex:outputLabel value="{!PrevPageNumber}"/>&nbsp;to&nbsp;<apex:outputLabel value="{!NxtPageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totallistsize}"/>&nbsp;&nbsp;</font>
                                     <apex:commandButton value="First" action="{!FirstbtnClick}" disabled="{!previousButtonEnabled}" reRender="pbSupDetails"></apex:commandButton>
                                     <apex:commandButton value="<< Previous" action="{!previousBtnClick}" disabled="{!previousButtonEnabled}" reRender="pbSupDetails"></apex:commandButton>
                                     <apex:commandButton value="Next >>" action="{!nextBtnClick}"  disabled="{!nextButtonDisabled}" reRender="pbSupDetails"></apex:commandButton>
                                     <apex:commandButton value="Last"  action="{!LastbtnClick}"  disabled="{!nextButtonDisabled}" reRender="pbSupDetails"></apex:commandButton>&nbsp;&nbsp;
                                </div>
                            </td>
                        </tr>
                    </table>                  
                </apex:outputpanel>
                <apex:pageblocktable value="{!lstSupDetailsPagination}" id="resultid" var="supresult" style="width:80%; ">
                    <apex:column style="width:50%;">
                        <apex:outputLink value="/{!supresult.Supplier_ID__c}" id="theLink" target="_blank">{!supresult.Supplier_ID__r.Supplier_Name__c}</apex:outputLink>
                         <apex:facet name="header">
                           <apex:commandLink value="{!$Label.BSureS_Supplier_Name}" action="{!Sort}" rerender="renderOpt" >
                                <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression== 'Supplier_ID__r.Supplier_Name__c',true,false))}" styleClass="sortDesc" title="Sorted Descending" alt="Sorted Descending" />
                                    <apex:image url="/s.gif"  rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Supplier_ID__r.Supplier_Name__c',true,false))}" styleClass="sortAsc" title="Sorted Ascending" alt="Sorted Ascending" />
                             <apex:param value="Supplier_ID__r.Supplier_Name__c" name="sortExpression" assignTo="{!sortExpression}" ></apex:param>
                             <apex:param name="Level" value="{!strSelectedRiskLvl}" />
                           </apex:commandLink> 
                         </apex:facet>
                    </apex:column>
                    <apex:column value="{!supresult.Supplier_ID__r.Globe_ID__c}">
                    <apex:facet name="header">
                       <apex:commandLink value="{!$Label.BSureS_Globe_ID}" action="{!Sort}"   rerender="renderOpt"  >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression== 'Supplier_ID__r.Globe_ID__c',true,false))}" styleClass="sortDesc" title="Sorted Descending" alt="Sorted Descending" />
                                <apex:image url="/s.gif"  rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Supplier_ID__r.Globe_ID__c',true,false))}" styleClass="sortAsc" title="Sorted Ascending" alt="Sorted Ascending" />
                         <apex:param value="Supplier_ID__r.Globe_ID__c" name="sortExpression" assignTo="{!sortExpression}" ></apex:param>
                       </apex:commandLink> 
                     </apex:facet>
                    </apex:column>
                    <apex:column headervalue="Risk Level" value="{!supresult.Risk_Level__c}" style="width:10%; "></apex:column>                    
                </apex:pageblocktable> 
            </apex:pageBlockSection> 
        </apex:pageblock>   
        </apex:outputpanel>           
    </apex:form> 

</apex:page>