<apex:page StandardController="BSureC_Assigned_Contacts__c"  sidebar="false" Extensions="BSureC_ContactsAssignment" tabstyle="Customer_Information__tab">

<style type="text/css">     
    .homeTab .tertiaryPalette {            
        border-color: #35B4E9 !important;
    }
  
</style>

<style type="text/css">
       .customPopup{ 
            background-color: white;
            border-style: solid; 
            border-width: 4px;
            left: 50%; 
            padding:10px;
            position: absolute;
            z-index: 9999;
            /* These are the 3 css properties you will need to tweak so the pop 
            up displays in the center of the screen. First set the width. Then set 
            margin-left to negative half of what the width is. You can also add 
            the height property for a fixed size pop up.*/
            width: 500px;
            margin-left: -250px; 
            top:100px;
        } 
</style> 
<script>
        function getCookie(c_name)
        {
            var c_value = document.cookie;
            var c_start = c_value.indexOf(" " + c_name + "=");
            if (c_start == -1)
            {
                c_start = c_value.indexOf(c_name + "=");
            }   
            if (c_start == -1)
            {
                c_value = null;
            }
            else
            {
                c_start = c_value.indexOf("=", c_start) + 1;
                var c_end = c_value.indexOf(";", c_start);
                if (c_end == -1)
                {
                    c_end = c_value.length;
                }
                c_value = unescape(c_value.substring(c_start,c_end));
            }
            return c_value;
        }
        
        function setCookie(c_name,value,exdays)
        {
            var exdate=new Date();
            //alert('Came here to set Cookie ');
            exdate.setDate(exdate.getDate() + exdays);
            var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
            //alert('Came here to set c_value ' + c_name + "=" + c_value);
            document.cookie = c_name + "=" + c_value;
            //document.cookie = "isTandCShown=true";
            //alert('Came here to set Cookie ' + document.cookie);
        }
        
        function checkCookie()
        {
            var isTnCpage = getCookie("isTandCShown");
            if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
            {
                //alert("Welcome again " + isTnCpage);
            }
            else
            {
                //alert("Welcome again else " + isTnCpage);
                setCookie("isTandCShown",true, null);
                var firstQry = window.location;
                if(firstQry != "")     
                {   
                    window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
                }
            }
        }
    
        var referrerPage = document.referrer;
            //alert('history===='+history.back(1));
        if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
        {   
            var secondqry = window.location;
            //alert('secondqry ========  '+encodeURIComponent(secondqry));
            if(secondqry != "")     
            {   
                window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
            }            
        }
        else if(document.referrer == "")
        {
            checkCookie();
        }       
    </script>
    <script>
    function cancelfun()
       {
           var conf = confirm('{!$Label.BSureC_CancelAlert}');
           if(conf == false)
           {
       
                return false;
           }
       }
    </script>
    <apex:sectionheader subtitle="Add Customer Contact" />
    <apex:form >
    
    <apex:pageBlock mode="maindetail">
    <apex:pageMessages />
    
    <apex:pageBlockSection columns="1" title="Customer Information">          
            <c:BSureC_CustomerDetials customerId="{!currentCustomerId}" />
    </apex:pageBlockSection>
    
    <apex:pageBlockSection title="Add Customer Contact" columns="2">
        <apex:pageBlockSectionItem >
            <apex:outputLabel >Contact Name<font color="red" size="3">*</font></apex:outputLabel>
            <apex:inputField value="{!BSureContactInfo.Contact_Name__c}" onkeypress="return isNumberKey(event)" style="width:200px;"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:outputLabel >Role</apex:outputLabel>
            <apex:inputField value="{!BSureContactInfo.Role__c}" style="width:200px;" />
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:outputLabel >{!$Label.Email_address}</apex:outputLabel>
            <apex:inputField value="{!BSureContactInfo.Email_address__c}"   style="width:200px;"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:outputLabel >{!$Label.Phone_Number}</apex:outputLabel>
            <apex:inputField value="{!BSureContactInfo.Phone_Number__c}"   onkeypress="return isNumberKey(event)" style="width:200px;"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:outputLabel >{!$Label.Fax}</apex:outputLabel>
            <apex:inputField value="{!BSureContactInfo.Fax__c}" onkeypress="return isNumberKey(event)"  style="width:200px;"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:outputLabel >{!$Label.Website_Link}</apex:outputLabel>
            <apex:inputField value="{!BSureContactInfo.Website_Link__c}" style="width:200px;"/>
        </apex:pageBlockSectionItem>
        <apex:pageBlockSectionItem >
            <apex:outputLabel >Comments</apex:outputLabel>
            <apex:inputField value="{!BSureContactInfo.Comments__c}" />
        </apex:pageBlockSectionItem>
    </apex:pageBlockSection>
    
    </apex:pageBlock>
    
    <center> 
    <apex:commandbutton value="{!$Label.Save}" action="{!SaveBSureCustomerContact}"/>
        <apex:commandbutton value="{!$Label.Cancel}" action="{!Cancel}"  onclick="return cancelfun()"/>
    </center>
    </apex:form>
    
    
    
</apex:page>