<apex:page Controller="BsureC_CreditTeamAsgnmnt" sidebar="false"  tabstyle="Customer_Information__tab">
<style type="text/css">
        .homeTab .tertiaryPalette {             
            border-color: #35B4E9 !important;
        }
</style>
    <script>
            function getCookie(c_name)
            {
                var c_value = document.cookie;
                var c_start = c_value.indexOf(" " + c_name + "=");
                if (c_start == -1)
                {
                    c_start = c_value.indexOf(c_name + "=");
                }   
                if (c_start == -1)
                {
                    c_value = null;
                }
                else
                {
                    c_start = c_value.indexOf("=", c_start) + 1;
                    var c_end = c_value.indexOf(";", c_start);
                    if (c_end == -1)
                    {
                        c_end = c_value.length;
                    }
                    c_value = unescape(c_value.substring(c_start,c_end));
                }
                return c_value;
            }
            
            function setCookie(c_name,value,exdays)
            {
                var exdate=new Date();
                //alert('Came here to set Cookie ');
                exdate.setDate(exdate.getDate() + exdays);
                var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
                //alert('Came here to set c_value ' + c_name + "=" + c_value);
                document.cookie = c_name + "=" + c_value;
                //document.cookie = "isTandCShown=true";
                //alert('Came here to set Cookie ' + document.cookie);
            }
            
            function checkCookie()
            {
                var isTnCpage = getCookie("isTandCShown");
                if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
                {
                    //alert("Welcome again " + isTnCpage);
                }
                else
                {
                    //alert("Welcome again else " + isTnCpage);
                    setCookie("isTandCShown",true, null);
                    var firstQry = window.location;
                    if(firstQry != "")     
                    {   
                        window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
                    }
                }
            }
        
            var referrerPage = document.referrer;
            //alert('history===='+history.back(1));
            if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
            {   
                var secondqry = window.location;
                //alert('secondqry ========  '+encodeURIComponent(secondqry));
                if(secondqry != "")     
                {   
                    window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
                }            
            }
            else if(document.referrer == "")
            {
                checkCookie();
            }       
        </script>
    <Script language="javascript" type="text/javascript">
    function getConfirmation()
    { 
       var myBoolean=new Boolean();
       myBoolean=confirm("{!$Label.BSureC_CancelAlert}");
       return myBoolean;
    }
    function removeSerchbox()
    {  
       var a = [];
       var re = new RegExp('\\bsearchCell\\b');
       var els =document.getElementsByTagName("td");
       for(var i=0,j=els.length; i<j; i++)
        if(re.test(els[i].className))
        a.push(els[i]);
        var parent=a[0];
       parent.style.display='none';
    } 
    var oldonload = window.onload;
    if (typeof window.onload != 'function')
    {     
       window.onload = oldonload;
    }
    else
    {  window.onload = function() 
       {     
          if(oldonload) 
          {      
             oldonload(); 
          }    
          removeSerchbox();
       }  
    }  
    </Script>
    <apex:sectionheader subtitle="Credit Team Assignment" />
<apex:form id="CreditTeamAssignment" >
    
    <apex:outputPanel layout="block" style="Height:500px">
        <apex:pageBlock mode="maindetail" >
        
         <apex:pageBlockSection title="{!$Label.BsureC_CustInfoBlock}" id="redSection" columns="1" collapsible="true" >
             <apex:pageBlockSectionItem >
                            <c:BSureC_CustomerDetials customerId="{!strCustomerId}" />
             </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
        <apex:pageBlockSection title="{!$Label.BSureC_CrdtTeamAssgnmnt}" id="CdtTmAssgnmnt" columns="1" collapsible="true" >
                <apex:pagemessages />
                <apex:pageBlockSectionItem >
                <apex:panelGrid columns="1" width="100%"  >
                    
                         <apex:panelGroup style="color:#404A53;" >
                       <apex:outputLabel value="{!$Label.BSureC_Analyst}"></apex:outputLabel> <font color="red" size="2">*</font>
                       </apex:panelGroup>
                       </apex:panelGrid>
                       
                            <apex:selectList id="anlist" value="{!selectedAnalystId}"  size="1" style="width:200px"  >
                                    <apex:selectOptions value="{!Analysts}"></apex:selectOptions>
                                    <apex:actionSupport event="onchange" reRender="CreditTeamAssignment"
                                        immediate="false" rendered="true" action="{!getManagers}" /> 
                            </apex:selectList>
                
                
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                <apex:panelGrid columns="1"  width="100%" >
                    
                         <apex:panelGroup style="color:#404A53;" > 
                        <apex:outputLabel id="idanalyst" value="{!$Label.BSureC_Manager}"   for="mgr"></apex:outputLabel>
                        <font color="red" size="2">*</font>
                        </apex:panelGroup> 
                       </apex:panelGrid>
                       <apex:outputlabel value="{!selectedManagername}" />
                    <!--    <apex:selectList id="mgr" value="{!selectedManagerId}"  size="1" style="width:200px;disabled:false" readonly="true" >
                                    <apex:selectOptions value="{!lstManagersOptionList}"></apex:selectOptions>
                                    <apex:actionSupport event="onchange" reRender="CreditTeamAssignment"
                                            immediate="false" rendered="true" action="{!getBackupAnalysts}" />  
                     </apex:selectList>  -->
                </apex:pageBlockSectionItem>
                
                
                <!--<apex:pageBlockSectionItem >
                <apex:panelGrid columns="1" width="100%"  >
                <apex:panelGroup style="color:#404A53;white-space:nowrap;" >
                <apex:outputLabel value="{!$Label.BSureC_BackupAnalyst}" for="mgr" ></apex:outputLabel>
                </apex:panelGroup>
                </apex:panelGrid>
                <apex:panelGrid columns="4"  >
                    
                         <apex:panelGroup >
                         <apex:outputLabel value="{!$Label.BSureC_AvailableAnalysts}" for="mgr1" style="color:#404A53"   ></apex:outputLabel>
                            <br></br>
                            <apex:selectList id="sel1" value="{!lstLeftSelectedId}" multiselect="true" style="width:200px"  size="5">
                                <apex:selectOptions value="{!unSelectedValues}" />
                                    </apex:selectList>
                                    </apex:panelGroup>
                                     <apex:panelGroup style="width:100px;text-align:center" >
                                        <table>
                                        <tr ></tr>
                                        <tr ></tr>
                                        <tr align="center"><td>{!$Label.BSureC_Add}</td></tr>
                                        <tr align="center"><td><apex:image value="{!$Resource.ForwardArrow}">
                                                <apex:actionSupport event="onclick"  action="{!selectclick}"   reRender="CreditTeamAssignment" /></apex:image></td></tr>
                                        <tr align="center"><td> <apex:image value="{!$Resource.BackwardArrow}"> 
                                                <apex:actionSupport event="onclick"  action="{!unselectclick}"  reRender="CreditTeamAssignment" />
                                            </apex:image></td></tr>
                                        <tr align="center"><td>{!$Label.BSureC_Remove}</td></tr>
                                        </table>
                                        </apex:panelGroup>
                                        <apex:panelGroup >
                                    <apex:outputLabel value="{!$Label.BSureC_SelectedAnalyst}" for="mgr1"  style="color:#404A53"  ></apex:outputLabel>
                                    <br></br>
                                    <apex:selectList id="sel2" value="{!lstRightSelectedId}" multiselect="true" style="width:200px" size="5">
                                        <apex:selectOptions value="{!SelectedValues}" />
                                    </apex:selectList>
                            </apex:panelGroup>
                        </apex:panelGrid>
                </apex:pageBlockSectionItem>
            
            --></apex:pageBlockSection>
            
            <apex:pageBlockSection title="Credit Team Assignment for Collectors" id="CdtTmAssgnmntCollector" columns="1" collapsible="true" >
               
                <apex:pageBlockSectionItem >
                <apex:panelGrid columns="1" width="100%"  >
                <apex:panelGroup style="color:#404A53;white-space:nowrap;" >
                <apex:outputLabel value="Primary Collector" for="mgr" ></apex:outputLabel>
                </apex:panelGroup>
                </apex:panelGrid>
                <apex:panelGrid columns="4"  >
                    
                         <apex:panelGroup >
                         <apex:outputLabel value="Available Collectors" for="mgr1" style="color:#404A53"   ></apex:outputLabel>
                            <br></br>
                            <apex:selectList id="AvailCollectors" value="{!lstLeftSelectedCollectorsId}" multiselect="true" style="width:200px"  size="5">
                                <apex:selectOptions value="{!unSelectedCollectors}" />
                                    </apex:selectList>
                                    </apex:panelGroup>
                                     <apex:panelGroup style="width:100px;text-align:center" >
                                        <table>
                                        <tr ></tr>
                                        <tr ></tr>
                                        <tr align="center"><td>{!$Label.BSureC_Add}</td></tr>
                                        <tr align="center"><td><apex:image value="{!$Resource.ForwardArrow}">
                                                <apex:actionSupport event="onclick"  action="{!selectclickCollectors}"   reRender="CreditTeamAssignment" /></apex:image></td></tr>
                                        <tr align="center"><td> <apex:image value="{!$Resource.BackwardArrow}"> 
                                                <apex:actionSupport event="onclick"  action="{!unselectclickCollectors}"  reRender="CreditTeamAssignment" />
                                            </apex:image></td></tr>
                                        <tr align="center"><td>{!$Label.BSureC_Remove}</td></tr>
                                        </table>
                                        </apex:panelGroup>
                                        <apex:panelGroup >
                                    <apex:outputLabel value="Selected Collectors" for="mgr1"  style="color:#404A53"  ></apex:outputLabel>
                                    <br></br>
                                    <apex:selectList id="sel2" value="{!lstRightSelectedCollectorsId}" multiselect="true" style="width:200px" size="5">
                                    <apex:selectOptions value="{!SelectedCollectors}" />
                                    </apex:selectList>
                            </apex:panelGroup>
                        </apex:panelGrid>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                <apex:panelGrid columns="1"  width="100%" >
                    
                         <apex:panelGroup style="color:#404A53;" > 
                        <apex:outputLabel id="idCollector" value="Collector's Manager"   for="mgr"></apex:outputLabel>
                        </apex:panelGroup> 
                       </apex:panelGrid>
                       <apex:outputlabel value="{!selectedCollectorManager}" />
                </apex:pageBlockSectionItem>
                
            </apex:pageBlockSection>           
            <apex:pageBlockButtons location="bottom" id="Buttons"  style="width:100%,align:center,colspan:2" >
                <apex:commandButton value="{!$Label.BSureC_Save}"    reRender="CreditTeamAssignment" Id="btnAssign"   action="{!AssignCreditTeam}"/>
                <span></span>
                <apex:commandButton value="{!$Label.BSureC_Cancel}"  onclick="return confirm('{!$Label.BSureC_CancelAlert}')" Id="btnCancle"   action="{!CancleAssignCreditTeam}"   />
            </apex:pageBlockButtons>
    </apex:pageBlock>
   </apex:outputPanel>
</apex:form>
</apex:page>