<apex:page controller="BSureC_ReviewDoneReport" cache="true" contentType="application/vnd.ms-excel#ReviewDone_Report.xls"  language="en-US" >
<script>
		function getCookie(c_name)
		{
			var c_value = document.cookie;
			var c_start = c_value.indexOf(" " + c_name + "=");
			if (c_start == -1)
			{
				c_start = c_value.indexOf(c_name + "=");
			}	
			if (c_start == -1)
			{
				c_value = null;
			}
			else
			{
				c_start = c_value.indexOf("=", c_start) + 1;
				var c_end = c_value.indexOf(";", c_start);
				if (c_end == -1)
				{
					c_end = c_value.length;
				}
				c_value = unescape(c_value.substring(c_start,c_end));
			}
			return c_value;
		}
		
		function setCookie(c_name,value,exdays)
		{
			var exdate=new Date();
			//alert('Came here to set Cookie ');
			exdate.setDate(exdate.getDate() + exdays);
			var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
			//alert('Came here to set c_value ' + c_name + "=" + c_value);
			document.cookie = c_name + "=" + c_value;
			//document.cookie = "isTandCShown=true";
			//alert('Came here to set Cookie ' + document.cookie);
		}
		
		function checkCookie()
		{
			var isTnCpage = getCookie("isTandCShown");
			if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
		  	{
		  		//alert("Welcome again " + isTnCpage);
		  	}
			else
		  	{
		  		//alert("Welcome again else " + isTnCpage);
		  		setCookie("isTandCShown",true, null);
		  		var firstQry = window.location;
		  		if(firstQry != "")     
			   	{   
			     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
			   	}
		  	}
		}
	
		var referrerPage = document.referrer;
     		//alert('history===='+history.back(1));
		if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
		{   
		  	var secondqry = window.location;
		  	//alert('secondqry ========  '+encodeURIComponent(secondqry));
			if(secondqry != "")     
		   	{   
		     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
		   	}		  	 
	 	}
	 	else if(document.referrer == "")
	 	{
	 		checkCookie();
	 	}	 	
   	</script>
<apex:pageblock >
	<apex:pageBlockTable value="{!lstCustomers}" var="spl" border="1" >
		<apex:column value="{!spl.Customer_Name__c}" headerValue="{!$Label.BsureC_Review_Done_Customer_Name}" />
		<apex:column value=" '{!spl.New_Risk_Category__c}' "  headerValue="{!$Label.BsureC_Risk_Category}"   />		
		<apex:column value="{!spl.New_Credit_Limit__c}"  headerValue="{!$Label.BsureC_New_Credit_Limit_c}" />
		<apex:column value="{!spl.Status__c}"  headerValue="{!$Label.BsureC_Review_Done_Review_Status}" />
		<apex:column value="{!spl.Review_Start_Date__c}"  headerValue="{!$Label.BSureC_Review_Start_Date}" />
		<apex:column value="{!spl.Review_Complete_Date__c}"  headerValue="{!$Label.BSureC_Review_Completed_Date}" />
		<apex:column value="{!spl.Created_By__c}"  headerValue="{!$Label.BSureC_Review_Initiator}" />
		<apex:column value="{!spl.Approved_Analyst__c}"  headerValue="{!$Label.BSureC_First_level_approver}" />
		<apex:column value="{!spl.Approved_Manager__c}"  headerValue="{!$Label.BSureC_Second_level_approver}" />
		<apex:column value="{!spl.Approved_Zone_Manager__c}"  headerValue="{!$Label.BSureC_Third_level_approver}" />		
	</apex:pageBlockTable>   
</apex:pageblock> 
</apex:page>