<apex:page controller="BSureC_UserActivityloginDashboard" sidebar="false" tabstyle="Customer_Dashboards__tab">
	<apex:form title="User Login History">
	<style>
        .homeTab .tertiaryPalette {            
            border-color: #35B4E9 !important;
        }
    </style>
    	<script>
			function getCookie(c_name)
			{
				var c_value = document.cookie;
				var c_start = c_value.indexOf(" " + c_name + "=");
				if (c_start == -1)
				{
					c_start = c_value.indexOf(c_name + "=");
				}	
				if (c_start == -1)
				{
					c_value = null;
				}
				else
				{
					c_start = c_value.indexOf("=", c_start) + 1;
					var c_end = c_value.indexOf(";", c_start);
					if (c_end == -1)
					{
						c_end = c_value.length;
					}
					c_value = unescape(c_value.substring(c_start,c_end));
				}
				return c_value;
			}
			
			function setCookie(c_name,value,exdays)
			{
				var exdate=new Date();
				//alert('Came here to set Cookie ');
				exdate.setDate(exdate.getDate() + exdays);
				var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
				//alert('Came here to set c_value ' + c_name + "=" + c_value);
				document.cookie = c_name + "=" + c_value;
				//alert('Came here to set Cookie ' + document.cookie);
			}
			
			function checkCookie()
			{
				var isTnCpage = getCookie("isTandCShown");
				if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
			  	{
			  		//alert("Welcome again " + isTnCpage);
			  	}
				else
			  	{
			  		//alert("Welcome again else " + isTnCpage);
			  		setCookie("isTandCShown",true, null);
			  		var firstQry = window.location;
			  		if(firstQry != "")     
				   	{   
				     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
				   	}
			  	}
			}
		
			var referrerPage = document.referrer;
      		//alert('history===='+history.back(1));
			if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
			{   
			  	var secondqry = window.location;
			  	//alert('secondqry ========  '+encodeURIComponent(secondqry));
				if(secondqry != "")     
			   	{   
			     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
			   	}		  	 
		 	}
		 	else if(document.referrer == "")
		 	{
		 		checkCookie();
		 	}	 	
    	</script>
		<script>
   
        function ValidationCheck(fromId,toId){  
            var fromDate;
            var toDate;   
            
            var currentTime = new Date()
            var month = currentTime.getMonth() + 1
            var day = currentTime.getDate()
            var year = currentTime.getFullYear()
           
            if(document.getElementById(fromId).value != ''){
                fromDate = new Date(document.getElementById(fromId).value);  
            }  
            
            if(document.getElementById(toId).value != ''){
                toDate =  new Date(document.getElementById(toId).value);
            }       
            
                 
            if(fromDate > toDate)
            {
                alert('From Date shold not be greater than To Date');
                return false;
            }
            
           
            if(new Date(month + "/" + day + "/" + year) < new Date(document.getElementById(fromId).value)){
                alert('From Date should not be greater than Today\'s Date ');
                return false;
            }
            
           
            if(new Date(month + "/" + day + "/" + year) < new Date(document.getElementById(toId).value)){
                alert('To Date should not be greater than Today\'s Date ');
                return false;
            }
           return true;
        
        }
    </script>
    <apex:sectionHeader subtitle="Login Activity" />
		<table border="0" width="100%" cellpadding="0" cellspacing="0">
				<tr><apex:pageBlock id="pb1">
				  <input id="hiddenElementId" type="hidden" />
				    <apex:selectList value="{!strZoneId}" size="1" id="zoneId" style="width:150px;">
                        <b style="padding-left: 20px; color: #4A4A56; font-size: 11px">
                        Zone </b> &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;   
                     <apex:selectOptions value="{!ZoneOptions}" />
                        <apex:actionSupport event="onchange" action="{!getSubZones}"
                            rerender="pb1" />
                    </apex:selectList>&nbsp;&nbsp;
                    
                     <apex:selectList value="{!strSubZoneId }" size="1"
                        id="subZoneId" style="width:150px;">
                        <b style="padding-left: 20px; color: #4A4A56; font-size: 11px">
                        Sub Zone </b> &nbsp;&nbsp;&nbsp;
                     <apex:selectOptions value="{!SubZoneOptions}" />
                        <apex:actionSupport event="onchange" action="{!getCountries}"
                            rerender="pb1" />
                    </apex:selectList>&nbsp;&nbsp;
                    
                      <apex:selectList value="{!strCountryId}" size="1"
                        id="countryId" style="width:150px;">
                        <b style="padding-left: 20px; color: #4A4A56; font-size: 11px">
                        Country </b>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                    <apex:selectOptions value="{!CoutryOptions}" />
                    </apex:selectList>&nbsp;&nbsp;<br />
                    <br />
            		      <apex:outputPanel >
                        <b style="padding-left: 20px; color: #4A4A56; font-size: 11px">
                        From Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b>
                        <apex:inputField id="fromDate"
                            value="{!objCustomer.Fiscal_Year_End__c}"></apex:inputField>
                        <b style="padding-left: 29px; color: #4A4A56; font-size: 11px">
                        To Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
                        <apex:inputField id="toDate"
                            value="{!objCustomer.Next_Review_Date__c}"></apex:inputField> 
<!--                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
<!--                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
                    </apex:outputPanel>
                  <apex:outputPanel style="padding-left: 97px; color: #4A4A56; font-size: 11px">
                   <b> <apex:commandbutton style="padding-center: 200px; color: #4A4A56; font-size: 11px;width:120px;"
                            value="Search " action="{!Search}" id="btnSearch"
                            onClick="return ValidationCheck('{!$Component.fromDate}','{!$Component.toDate}')" /></b>
                    </apex:outputPanel>
                    <script>
                window.onload = setFocus();
                function setFocus() {
                    document.getElementById("hiddenElementId").focus();
                }
            </script>  
                </apex:pageBlock>
            </tr>
               
			<tr>
				<td><apex:chart data="{!lstWrapper}" width="400" height="300">
					<apex:axis type="Numeric" position="left" fields="uloginCount"
						title="Login Count" />
					<apex:axis type="Category" position="bottom"
						fields="userloginmonth" title="Login Months" />

					<apex:lineSeries axis="left" fill="true" xField="userloginmonth"
						yField="uloginCount" markerType="cross" markerSize="4"
						markerFill="#FF0000" />
				</apex:chart></td>
			</tr>
		</table>
	</apex:form>
</apex:page>