<apex:page controller="BSureS_SupplierInfoIntermediate" sidebar="false" id="pageId" showHeader="true" tabstyle="Admin_Tool__tab">
	<style>
        .homeTab .tertiaryPalette {            
            border-color: #35B4E9 !important;
        }  
    </style>
    <script>
		function getCookie(c_name)
		{
			var c_value = document.cookie;
			var c_start = c_value.indexOf(" " + c_name + "=");
			if (c_start == -1)
			{
				c_start = c_value.indexOf(c_name + "=");
			}	
			if (c_start == -1)
			{
				c_value = null;
			}
			else
			{
				c_start = c_value.indexOf("=", c_start) + 1;
				var c_end = c_value.indexOf(";", c_start);
				if (c_end == -1)
				{
					c_end = c_value.length;
				}
				c_value = unescape(c_value.substring(c_start,c_end));
			}
			return c_value;
		}
		
		function setCookie(c_name,value,exdays)
		{
			var exdate=new Date();
			//alert('Came here to set Cookie ');
			exdate.setDate(exdate.getDate() + exdays);
			var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
			//alert('Came here to set c_value ' + c_name + "=" + c_value);
			document.cookie = c_name + "=" + c_value;
			//document.cookie = "isTandCShown=true";
			//alert('Came here to set Cookie ' + document.cookie);
		}
		
		function checkCookie()
		{
			var isTnCpage = getCookie("isTandCShown");
			if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
		  	{
		  		//alert("Welcome again " + isTnCpage);
		  	}
			else
		  	{
		  		//alert("Welcome again else " + isTnCpage);
		  		setCookie("isTandCShown",true, null);
		  		var firstQry = window.location;
		  		if(firstQry != "")     
			   	{   
			     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
			   	}
		  	}
		}
	
		var referrerPage = document.referrer;
     		//alert('history===='+history.back(1));
		if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
		{   
		  	var secondqry = window.location;
		  	//alert('secondqry ========  '+encodeURIComponent(secondqry));
			if(secondqry != "")     
		   	{   
		     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
		   	}		  	 
	 	}
	 	else if(document.referrer == "")
	 	{
	 		checkCookie();
	 	}	 	
   	</script>
	<script>
	 window.onload = setFocus();
        function setFocus() 
        {
            document.getElementById("hiddenElementId").focus();
        }
	</script>
	
	<apex:form >
	<apex:sectionHeader title="" subtitle="Step2: Edit Supplier Information" />
		<apex:pageBlock mode="maindetail" id="pb">
			<apex:pageMessages />
	 		<input id="hiddenElementId" type="hidden" />
	 		<center>
				<apex:pageBlockButtons >
		 			<apex:commandButton action="{!UpdateSupStage}"  value="Save Changes"/> 
				</apex:pageBlockButtons>
			</center>
			<apex:pageBlockTable value="{!lstStage}" var="lst" rows="50" id="Stage_table" >
	            <apex:column value="{!lst.Supplier_ID__c}" headerValue="Suppleir ID" />
	            <apex:column value="{!lst.Supplier_Name__c}" headerValue="Supplier Name"/>
	            <apex:column headerValue="{!$Label.BSureS_State}">
	            	<apex:selectList value="{!lst.State_Province__c}" id="SupplierState" size="1" style="width:200px;"> 
	                <apex:selectOptions value="{!SStateList}"/>
	            </apex:selectList>
	            </apex:column>
	            <apex:column headerValue="Analyst">
		            <apex:selectList value="{!lst.Analyst__c}" id="AnalystName" size="1" style="width:200px;"> 
		                <apex:selectOptions value="{!SAnalystList}"/>
		            </apex:selectList>
	            </apex:column>
	            <apex:column headerValue="Buyer">
		            <apex:selectList value="{!lst.BulkUpload_BuyerID__c}" id="BuyerName" size="1" style="width:200px;"> 
		                <apex:selectOptions value="{!SBuyerList}"/>
		            </apex:selectList>
	            </apex:column>
	            <apex:column headerValue="Planned Review Date">
					<apex:inputField value="{!lst.Planned_Review_Date__c}">            		
		            </apex:inputField>
	            </apex:column>
	            <apex:column headerValue="Spend">
            		<apex:inputField value="{!lst.Spend__c}">            		
		            </apex:inputField>
	            </apex:column>
	            <apex:column value="{!lst.Globe_ID__c}" headerValue="Globe ID"/>
			</apex:pageBlockTable>
			
		</apex:pageBlock>
	</apex:form>
</apex:page>