<apex:page standardController="BSureS_Credit_Analysis__c" extensions="BSureS_RatingBasedCreditApproval">
 <apex:pageBlock >   
   
  <apex:pageBlockTable value="{!lstSelectedApprove}" var="creditReview">
 
      
  <apex:column value="{!creditReview.Review_Name__c}"/>
  <apex:column value="{!creditReview.Actual_Review_Start_Date__c}"/>
  <apex:column value="{!creditReview.Expected_Review_End_Date__c}"/>
  <apex:column value="{!creditReview.Rating__c}"/>
  <apex:column value="{!creditReview.Risk_Level__c}"/>
  <apex:column value="{!creditReview.Spend__c}"/>
  <apex:column value="{!creditReview.Review_Status__c}"/>
  </apex:pageBlockTable>
  
  
 
  </apex:pageBlock>
</apex:page>