<apex:page controller="BSureS_UserActivityDashboard" sidebar="false"
    id="page">
    <style>
.homeTab .tertiaryPalette {
    border-color: #35B4E9 !important;
}
</style>
<script>
		function getCookie(c_name)
		{
			var c_value = document.cookie;
			var c_start = c_value.indexOf(" " + c_name + "=");
			if (c_start == -1)
			{
				c_start = c_value.indexOf(c_name + "=");
			}	
			if (c_start == -1)
			{
				c_value = null;
			}
			else
			{
				c_start = c_value.indexOf("=", c_start) + 1;
				var c_end = c_value.indexOf(";", c_start);
				if (c_end == -1)
				{
					c_end = c_value.length;
				}
				c_value = unescape(c_value.substring(c_start,c_end));
			}
			return c_value;
		}
		
		function setCookie(c_name,value,exdays)
		{
			var exdate=new Date();
			//alert('Came here to set Cookie ');
			exdate.setDate(exdate.getDate() + exdays);
			var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
			//alert('Came here to set c_value ' + c_name + "=" + c_value);
			document.cookie = c_name + "=" + c_value;
			//document.cookie = "isTandCShown=true";
			//alert('Came here to set Cookie ' + document.cookie);
		}
		
		function checkCookie()
		{
			var isTnCpage = getCookie("isTandCShown");
			if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
		  	{
		  		//alert("Welcome again " + isTnCpage);
		  	}
			else
		  	{
		  		//alert("Welcome again else " + isTnCpage);
		  		setCookie("isTandCShown",true, null);
		  		var firstQry = window.location;
		  		if(firstQry != "")     
			   	{   
			     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
			   	}
		  	}
		}
	
		var referrerPage = document.referrer;
     		//alert('history===='+history.back(1));
		if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
		{   
		  	var secondqry = window.location;
		  	//alert('secondqry ========  '+encodeURIComponent(secondqry));
			if(secondqry != "")     
		   	{   
		     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
		   	}		  	 
	 	}
	 	else if(document.referrer == "")
	 	{
	 		checkCookie();
	 	}	 	
   	</script>
    <apex:form id="frm">
        <table border="0" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <br />
                <br />
                <apex:pageBlock id="pb1" mode="maindetail">
                    <input id="hiddenElementId" type="hidden" />
                   		<apex:selectList value="{!strZoneId}" size="1" id="zoneId" style="width:150px;">
	                        <b style="padding-left: 20px; color: #4A4A56; font-size: 11px"> Zone </b> &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;   
	                     	<apex:selectOptions value="{!ZoneOptions}" />
	                        <apex:actionSupport event="onchange" action="{!getSubZones}" rerender="pb1" />
                    	</apex:selectList>&nbsp;&nbsp;
            			<apex:selectList value="{!strSubZoneId }" size="1" id="subZoneId" style="width:150px;">
                        	<b style="padding-left: 20px; color: #4A4A56; font-size: 11px"> Sub Zone </b> &nbsp;&nbsp;&nbsp;
                     		<apex:selectOptions value="{!SubZoneOptions}" />
                        	<apex:actionSupport event="onchange" action="{!getCountries}" rerender="pb1" />
                    	</apex:selectList>&nbsp;&nbsp;
            			<apex:selectList value="{!strCountryId}" size="1" id="countryId" style="width:150px;">
	                        <b style="padding-left: 20px; color: #4A4A56; font-size: 11px"> Country </b>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
	                    	<apex:selectOptions value="{!CoutryOptions}" />
                    	</apex:selectList>&nbsp;&nbsp;<br />
                    <br/>
                    <apex:outputPanel >
                        <b style="padding-left: 45px; color: #4A4A56; font-size: 11px"> From Date &nbsp;&nbsp; </b>
                        <apex:inputField id="fromDate" value="{!objCA.Actual_Review_Start_Date__c}" /> 
                        <b style="padding-left: 20px; color: #4A4A56; font-size: 11px"> To Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
                        <apex:inputField id="toDate" value="{!objCA.Expected_Review_End_Date__c}" />
	                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <apex:commandbutton style="width:120px;" value="Search " action="{!Search}" id="btnSearch" />
                    </apex:outputPanel>
                    <script>
                		window.onload = setFocus();
                		function setFocus() {
                    		document.getElementById("hiddenElementId").focus();
                		}
            		</script>
                </apex:pageBlock>
            </tr>
            <tr>
                <br/> <br/>               
                <apex:panelgrid columns="3">
                    <apex:outputpanel >
                        <apex:chart data="{!lstWrapper}" width="320" height="300">
                            <apex:axis type="Numeric" position="left" fields="uloginCount" title="Login Count" />
                            <apex:axis type="Category" position="bottom" fields="userloginmonth" title="Login Months" />
                            <apex:barSeries orientation="vertical" axis="left" highlightLineWidth="4" xPadding="3" 
                            	xField="userloginmonth" yField="uloginCount" />
                            <!--<apex:lineSeries axis="left" fill="true" xField="userloginmonth" yField="uloginCount"  markerType="cross" markerSize="4" markerFill="#FF0000"/>-->
                        </apex:chart>
                    </apex:outputpanel>
                    <apex:outputpanel >
                        <apex:chart data="{!objCommentsList}" width="320" height="300">
                            <apex:axis type="Numeric" position="left" fields="uCommentCount" title="Comments Count" />
                            <apex:axis type="Category" position="bottom" fields="userloginmonth" title="Commented Months" />
                            <apex:barSeries orientation="vertical" axis="left" highlightLineWidth="4" xPadding="3" 
                            	xField="userloginmonth" yField="uCommentCount" />
                            <!--<apex:lineSeries axis="left" fill="true" xField="userloginmonth" yField="uCommentCount"  markerType="cross" markerSize="4" markerFill="#FF0000"/> -->
                        </apex:chart>
                    </apex:outputpanel>
                    <apex:outputpanel >
                        <apex:chart data="{!objDocumentsList}" width="320" height="300">
                            <apex:axis type="Numeric" position="left" fields="uDocumentCount" title="Documents Count" />
                            <apex:axis type="Category" position="bottom" fields="userloginmonth" title="Documents Months" />
                            <apex:barSeries orientation="vertical" axis="left" highlightLineWidth="4" xPadding="3" 
                            	xField="userloginmonth" yField="uDocumentCount" />
                            <!--<apex:lineSeries axis="left" fill="true" xField="userloginmonth" yField="uDocumentCount"  markerType="cross" markerSize="4" markerFill="#FF0000"/>-->
                        </apex:chart>
                    </apex:outputpanel>
                </apex:panelgrid>
            </tr>
        </table>
    </apex:form>
</apex:page>