<apex:page standardController="BSureS_Credit_Analysis__c" extensions="BSureS_MirrorCreditReview" id="pageId" >

<style>
        .homeTab .tertiaryPalette {            
            border-color: #35B4E9 !important;
        }
    </style>

<apex:form id="formId" >
    <script>
        function getCookie(c_name)
        {
            var c_value = document.cookie;
            var c_start = c_value.indexOf(" " + c_name + "=");
            if (c_start == -1)
            {
                c_start = c_value.indexOf(c_name + "="); 
            }   
            if (c_start == -1)
            {
                c_value = null;
            }
            else
            {
                c_start = c_value.indexOf("=", c_start) + 1;
                var c_end = c_value.indexOf(";", c_start);
                if (c_end == -1)
                {
                    c_end = c_value.length;
                }
                c_value = unescape(c_value.substring(c_start,c_end));
            }
            return c_value;
        }
        
        function setCookie(c_name,value,exdays)
        {
            var exdate=new Date();
            //alert('Came here to set Cookie ');
            exdate.setDate(exdate.getDate() + exdays);
            var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
            //alert('Came here to set c_value ' + c_name + "=" + c_value);
            document.cookie = c_name + "=" + c_value;
            //document.cookie = "isTandCShown=true";
            //alert('Came here to set Cookie ' + document.cookie);
        }
        
        function checkCookie()
        {
            var isTnCpage = getCookie("isTandCShown");
            if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
            {
                //alert("Welcome again " + isTnCpage);
            }
            else
            {
                //alert("Welcome again else " + isTnCpage);
                setCookie("isTandCShown",true, null);
                var firstQry = window.location;
                if(firstQry != "")     
                {   
                    window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
                }
            }
        }
    
        var referrerPage = document.referrer;
            //alert('history===='+history.back(1));
        if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
        {   
            var secondqry = window.location;
            //alert('secondqry ========  '+encodeURIComponent(secondqry));
            if(secondqry != "")     
            {   
                window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
            }            
        }
        else if(document.referrer == "")
        {
            checkCookie();
        }
        </script>
        <script>
        function funSaveandContinue(saveCR)
    	{
    		var strSave = saveCR;
    		if(strSave == 'true'){
    			alert('Parent Review is copied for the selected child supplier(s) , Please select related Topics/Files/Links ');
    		}else if(strSave == 'false'){
    			alert('Parent Review does not have any related Topics/Files/Links');
	        }
    	}     
    </script>
    <apex:pageMessages />
    <apex:outputlabel value="{!str}" escape="false"></apex:outputlabel>
    </apex:form> 
    <apex:form id="frmnew">
    
    <script>
    var strselectbool='';
    var strselectboolcustomers='';
    var vcuserid;
   	function checkAll(cb)
    {   
     strselectboolcustomers='';
     var sel;
     var inputElem = document.getElementsByTagName("input");
     
	     for(var i=0; i<inputElem.length; i++)
	     {       
		     if(inputElem[i].id.indexOf("checkcust")!=-1)
		     {       
		     inputElem[i].checked = cb.checked;
		     sel+=','+inputElem[i].checked;
		     
		     }
	     }
     strselectboolcustomers=sel;
    }
    function custselect(cid,cname,cb)
 	{
 		
	   vcuserid=cid;
	   strselectboolcustomers='';
	   inputElem = document.getElementsByTagName("input");
	  for(var i=1; i<inputElem.length; i++)
      {
          strselectboolcustomers+=','+inputElem[i].checked;
      }
 	}
 	function Custempty()
    {
  		/*alert('Function Called');
  		var dc = document.getElementById('pgdv');
  		
  		alert('FDT>>'+dc);
  		dc.style.display='none';
  		
  		var dvmg = document.getElementById('divmsg');
  		alert('dvg>>'+dvmg);
		dvmg.style.display='block';
  		alert('dvg>>'+dvmg);
  		*/
  		
  		if(strselectboolcustomers.indexOf("true")==-1)
      	{
          alert('Please select atleast one Topic/File/Link');
      	}
       	else
       	{
       		saveandsubmitApproval1();
       	}
    }
 	function funrating()   
    {
        var vrating= document.getElementById("{!$Component.pageId:frmnew:pbId:pbsId:pbsiratingId:rating}").value;
        visibilityNextRDate(vrating);
        
    }
    function saveReview(){
    	
    	var vreviewName= document.getElementById("{!$Component.pageId:frmnew:pbId:pbsitem:pbsiReviewName:reviewName}").value;
    	var vactualStDate= document.getElementById("{!$Component.pageId:frmnew:pbId:pbsitem:pbsiReviewStrdate:actualReviewStrdate}").value;
    	var vexpReviewEndDate= document.getElementById("{!$Component.pageId:frmnew:pbId:pbsitem:pbsiReviewExpReviewEnddate:expReviewEndDate}").value;
    	
    	var vrating= document.getElementById("{!$Component.pageId:frmnew:pbId:pbsId:pbsiratingId:rating}").value;
    	var vriskLevel= document.getElementById("{!$Component.pageId:frmnew:pbId:pbsId:pbsiriskLevelId:riskLevel}").value;
    	var vspendNextReviewDate= document.getElementById("{!$Component.pageId:frmnew:pbId:pbsId:pbNRDate:nrdatevalue}").value;
    	
    	var vspend= document.getElementById("{!$Component.pageId:frmnew:pbId:pbsId:pbSpend:spend}").value;
    	var vspendStDate= document.getElementById("{!$Component.pageId:frmnew:pbId:pbsId:pbSpendStrDate:spendStrDate}").value;
    	var vspendEndDate= document.getElementById("{!$Component.pageId:frmnew:pbId:pbsId:pbSpendEndDate:spendenddate}").value;
		var vtoday = '{!strTodayDate}';
			
    	if(vreviewName == ''){
    		alert('Please Enter Review Name');
    		return false;
    	}
    	else if (vactualStDate == ''){
    		alert('Enter Actual Review Start Date.');
    		return false;
    	}
    	else if(vactualStDate != '' && Date.parse(vactualStDate) < Date.parse(vtoday)){
    		
    		alert('Actual Review Start Date should not be Past Date. ');
    		return false;
    	}
    	else if (vexpReviewEndDate == ''){
    		alert('Enter Expected Review End Date. ');
    		return false;
    	}
    	else if (vexpReviewEndDate !='' && Date.parse(vexpReviewEndDate) < Date.parse(vtoday)){
    		alert('Expected Review End Date should not be Past Date. ');
    		return false;
    	}
    	else if ((vactualStDate != '' && vexpReviewEndDate != '') && (Date.parse(vactualStDate) > Date.parse(vexpReviewEndDate))){
    		alert('Actual Review Start Date cannot be more than Expected Review End Date. ');
    		return false;
    	}
    	else if (vrating =='' || vrating == '-None-'){
    		alert('Enter Rating.');
    		return false;
    	}
    	else if (vriskLevel =='' || vriskLevel == '-None-'){
    		alert('Enter Risk Level.');
    		return false;
    	}
    	else if (vspend == ''){
    		alert('Enter Spend Amount');
    		return false;
    	}
    	else if (vspendStDate == ''){
    		alert('Enter Spend Start Date. ');
    		return false;
    	}
    	else if (vspendEndDate == ''){
    		alert('Enter Spend End Date. ');
    		return false;
    	}
    	else if((vspendStDate != '' && vspendEndDate != '') && (Date.parse(vspendStDate) > Date.parse(vspendEndDate)))
        {
            alert('Spend Start Date cannot be more than Spend End Date. ');
        }
        else if(vspendNextReviewDate == '' && vrating != 'Inactive')
        {
           alert('Enter Future Review Date ');
        }
        else if(vspendNextReviewDate != '' && Date.parse(vspendNextReviewDate) < Date.parse(vtoday) )
        {
            alert('Future Review Date should not be Past Date. ');
        } 
    	else{
    		submitApproval();
    	}
    	
    }
    
    </script> 
    
    <apex:outputPanel id="opMain" rendered="{!blnMainPB}">
    <apex:pageblock id="pbId" title="Financial Review" mode="maindetail"  >
    
    <apex:pageBlockSection title="Credit Dates" columns="2" id="pbsitem" rendered="{!blnCreditdisplay}" >
        
            <apex:pageBlockSectionItem id="pbsiReviewName">
                <apex:outputpanel >
                <apex:outputlabel value="Review Name" ><font color="red" size="3">*</font></apex:outputlabel>
                
                </apex:outputpanel>
                <apex:outputpanel >
                <apex:inputField value="{!CAInfo.Review_Name__c}" style="width:200px;" id="reviewName" />
                
                </apex:outputpanel>
            </apex:pageBlockSectionItem>
            
            <apex:pageblockSectionItem rendered="{!blnHiddenStyle}"/>
            <apex:pageblockSectionItem id="pbsiReviewStrdate">
                <apex:outputpanel >
                    <apex:outputlabel value="Actual Review Start Date" ><font color="red" size="3">*</font></apex:outputlabel>
                    
                </apex:outputpanel>
                <apex:outputpanel >
                    <apex:inputField value="{!CAInfo.Actual_Review_Start_Date__c}" style="width:200px;" id="actualReviewStrdate" />
                    
                </apex:outputpanel> 
            </apex:pageblockSectionItem>
             
            <apex:pageblockSectionItem id="pbsiReviewExpReviewEnddate">
                <apex:outputpanel >
                    <apex:outputlabel value="Expected Review End Date" ><font color="red" size="3">*</font></apex:outputlabel>
                    
                </apex:outputpanel> 
                <apex:outputpanel >
                    <apex:inputField value="{!CAInfo.Expected_Review_End_Date__c}"  style="width:200px;" id="expReviewEndDate" />
                    
                </apex:outputpanel>
            </apex:pageblockSectionItem>
            
            </apex:pageBlockSection>
            
            <apex:pageBlockSection columns="2" title="Credit Information" id="pbsId" rendered="{!blnCreditdisplay}" >
            
            <apex:pageblockSectionItem id="pbsiratingId">
                    <apex:outputpanel >
                        <apex:outputlabel value="Rating" ><font color="red" size="3">*</font></apex:outputlabel>
                        <!--<apex:outputlabel value="Rating" rendered="{!!blnTextdisplay}"></apex:outputlabel>
                    --></apex:outputpanel>
                    <apex:outputpanel id="Ratingpanel"> 
                        <apex:inputField value="{!CAInfo.Rating__c}" style="width:200px;" id="rating" onchange="funrating()" />
                        </apex:outputpanel>
            </apex:pageblockSectionItem> 
            
            <apex:pageblockSectionItem id="pbsiriskLevelId">
                    <apex:outputpanel >
                        <apex:outputlabel value="Risk Level" ><font color="red" size="3">*</font></apex:outputlabel>
                        
                    </apex:outputpanel>
                    <apex:outputpanel >
                        <apex:inputField value="{!CAInfo.Risk_Level__c}"  style="width:200px;" id="riskLevel"/>
                        </apex:outputpanel>  
            </apex:pageblockSectionItem>
            
            <apex:pageblockSectionItem id="pbNRDate" >
                <apex:outputpanel id="panelId"> 
                    <apex:outputlabel value="Future Review Date" id="label1"><font color="red" size="3">*</font></apex:outputlabel>
                    <!--<apex:outputlabel value="Future Review Date" rendered="{!blnTextdisplayFRD}" id="label2"></apex:outputlabel>
                --></apex:outputpanel> 
                <apex:outputpanel >
                    <apex:inputField value="{!CAInfo.Next_Review_Date__c}" id="nrdatevalue" style="width:200px;" />
                    
               </apex:outputpanel>   
            </apex:pageblockSectionItem>
            
            <apex:pageblockSectionItem id="pbSpend">
                <apex:outputpanel >
                    <apex:outputlabel value="Spend" ><font color="red" size="3">*</font></apex:outputlabel>
                </apex:outputpanel> 
                <apex:outputpanel >
                    <apex:inputField value="{!CAInfo.Spend__c}"  style="width:200px;" rendered="{!blnTextdisplay}" id="spend"/>
                    </apex:outputpanel>
                  
            </apex:pageblockSectionItem>
            
            <apex:pageblockSectionItem id="pbSpendStrDate">
                <apex:outputpanel >
                    <apex:outputlabel value="Spend Start Date" ><font color="red" size="3">*</font></apex:outputlabel>
                </apex:outputpanel> 
                <apex:outputpanel >
                    <apex:inputField value="{!CAInfo.Spend_Start_Date__c}" style="width:200px" rendered="{!blnTextdisplay}" id="spendStrDate" />
                </apex:outputpanel>
            </apex:pageblockSectionItem>
            
            <apex:pageblockSectionItem id="pbSpendEndDate">
                <apex:outputpanel >
                    <apex:outputlabel value="Spend End Date" ><font color="red" size="3">*</font></apex:outputlabel>
                </apex:outputpanel>
                <apex:outputpanel >
                    <apex:inputField value="{!CAInfo.Spend_End_Date__c}" style="width:200px" id="spendenddate" />
                    
                </apex:outputpanel>
            </apex:pageblockSectionItem>
             <apex:pageblockSectionItem >
                <apex:outputlabel value="External Link"><font color="white" size="3">&nbsp;</font></apex:outputlabel>
                <apex:outputpanel >
                    <apex:inputField value="{!CAInfo.Add_Links__c}"  style="width:200px"/>
                    
                </apex:outputpanel>
            </apex:pageblockSectionItem>
            
            <apex:pageblockSectionItem />
            
            <apex:pageblockSectionItem >
                <apex:outputlabel value="Comments "></apex:outputlabel> 
                <apex:outputpanel >
                <apex:inputField value="{!CAInfo.Comment__c}"  style="width:400px;height:80px;"  id="comments"/>
                </apex:outputpanel> 
            </apex:pageblockSectionItem>
           
        </apex:pageBlockSection>
         
         
         
        <apex:pageBlockSection columns="1" id="pbSave" rendered="{!blnCreditdisplay}">
            <apex:pageblockSectionItem >
                <apex:outputpanel >
                    <center>
                        <apex:commandbutton value="Create Review and Continue"  onclick="saveReview();" style="width:175px;" reRender="formId">
                        </apex:commandButton>
                        <apex:commandbutton value="Cancel" action="{!Cancel}" style="width:175px;" reRender="frmnew" >
                        </apex:commandButton>
                    </center>
                </apex:outputpanel>
            </apex:pageblockSectionItem>
        </apex:pageBlockSection>
        
        <apex:actionFunction action="{!submitApproval}" name="submitApproval" reRender="frmnew,formId" >
            </apex:actionFunction>
            
        <apex:pageblocksection rendered="{!blnDocdisplay}">
        
        <apex:pageBlockTable value="{!lstCreditdoc}" var="Attach" style="border-style:solid;width:100%;border-color:gray;">
        <apex:column >
        <apex:facet name="header">
        <apex:inputCheckbox onclick="checkAll(this)">Multi Select
         <apex:actionSupport event="onclick" onsubmit="checkAll(this)"/> 
        </apex:inputCheckbox></apex:facet>
        <apex:inputcheckbox value="{!Attach.Mirror_Selection__c}" id="checkcust" selected="false" onclick="javascript:custselect('{!Attach.Id}','{!Attach.Id}',this);"/>
        </apex:column>
        <apex:column value="{!Attach.Type__c}" headervalue="Type" ></apex:column>
        <apex:column value="{!Attach.Title__c}" headervalue="Title" ></apex:column>
        
        <apex:column headervalue="Createdby" value="{!Attach.CreatedBy.Name}"></apex:column>
        </apex:pageBlockTable>
        </apex:pageblocksection>
        
        <apex:pageBlockSection columns="1" id="pbSaveandSubmit" rendered="{!blnDocdisplay}">
            <apex:pageblockSectionItem >
                <apex:outputpanel >
                    <center>
                        <apex:commandbutton value="Save Topics/Files/Links"  style="width:175px;" onclick="javascript:Custempty();" reRender="frmnew" >
                        </apex:commandButton>
                        <apex:actionFunction action="{!saveandsubmitApproval}" name="saveandsubmitApproval1" reRender="frmnew"></apex:actionFunction>
                        <apex:commandbutton value="Cancel" action="{!Cancel}" style="width:175px;" >
                        </apex:commandButton>
                        </center>
                </apex:outputpanel> 
            </apex:pageblockSectionItem>
        </apex:pageBlockSection>
        
        <apex:actionFunction action="{!visibilityNextRDate}" name="visibilityNextRDate" reRender="nrdatevalue,nrdatevalue1,panelId,panelId2">
            <apex:param assignTo="{!vrating}" name="vrating" value=""/> 
        </apex:actionFunction>
</apex:pageblock>
</apex:outputPanel>
   
<apex:outputPanel id="opConfirmMsg1" rendered="{!rensuccessfullassign}" >
<apex:pageBlock >
        <apex:outputlabel style="font-weight:bold;font-size:15px;color:#000000;" >
        <br/><br/>
        <apex:outputtext value="{!$Label.BSureS_Mirrorreview_Confirm_Msg}"/><br/><br/>
        <center><apex:commandbutton value="Goto parent review" action="{!Cancel}"/></center>
        </apex:outputlabel>
</apex:pageBlock>
</apex:outputPanel>

<apex:outputPanel >
<apex:pageBlock id="opConfirmMsg2" rendered="{!rensuccessCR}">
        <apex:outputlabel style="font-weight:bold;font-size:15px;color:#000000;" >
        <br/><br/><apex:outputtext value="{!$Label.BSureS_Mirrorreview_ConfirmMsg}" /><br/><br/>
        <center><apex:commandbutton value="Goto parent review" action="{!Cancel}"/></center>
        </apex:outputlabel>
</apex:pageblock>
</apex:outputPanel>

</apex:form> 
</apex:page>