<apex:page standardController="BSureS_Credit_Analysis__c"  extensions="BSureS_PerformCreditAnalysis" id="pageId" sidebar="false" >
    <style>
        .homeTab .tertiaryPalette {            
            border-color: #35B4E9 !important;
        }
    </style>

<apex:form id="formId">
    <script>
        function getCookie(c_name)
        {
            var c_value = document.cookie;
            var c_start = c_value.indexOf(" " + c_name + "=");
            if (c_start == -1)
            {
                c_start = c_value.indexOf(c_name + "=");
            }   
            if (c_start == -1)
            {
                c_value = null;
            }
            else
            {
                c_start = c_value.indexOf("=", c_start) + 1;
                var c_end = c_value.indexOf(";", c_start);
                if (c_end == -1)
                {
                    c_end = c_value.length;
                }
                c_value = unescape(c_value.substring(c_start,c_end));
            }
            return c_value;
        }
        
        function setCookie(c_name,value,exdays)
        {
            var exdate=new Date();
            //alert('Came here to set Cookie ');
            exdate.setDate(exdate.getDate() + exdays);
            var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
            //alert('Came here to set c_value ' + c_name + "=" + c_value);
            document.cookie = c_name + "=" + c_value;
            //document.cookie = "isTandCShown=true";
            //alert('Came here to set Cookie ' + document.cookie);
        }
        
        function checkCookie()
        {
            var isTnCpage = getCookie("isTandCShown");
            if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
            {
                //alert("Welcome again " + isTnCpage);
            }
            else
            {
                //alert("Welcome again else " + isTnCpage);
                setCookie("isTandCShown",true, null);
                var firstQry = window.location;
                if(firstQry != "")     
                {   
                    window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
                }
            }
        }
    
        var referrerPage = document.referrer;
            //alert('history===='+history.back(1));
        if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
        {   
            var secondqry = window.location;
            //alert('secondqry ========  '+encodeURIComponent(secondqry));
            if(secondqry != "")     
            {   
                window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
            }            
        }
        else if(document.referrer == "")
        {
            checkCookie();
        }       
    </script>
    <script> 
        var textReadonly;
        var vRCDate;
        function funrating()   
        {
            alert('Hiiii');
            var vrating= document.getElementById("{!$Component.pageId:frmnew:pbId:pbsId:pbsiratingId:rating}").value;
            var vlevel =document.getElementById("{!$Component.pageId:frmnew:pbId:pbsId:pbriskLevelId:riskLevel}").value;
            alert('vrating=========='+vlevel+'*********'+vrating);
            visibilityNextRDate(vlevel+"~"+vrating);
            
        }
        function funrating1()
        {
        	alert('Hiiii222');
            var vrating1= document.getElementById("{!$Component.pageId:frmnew:pbId:pbsId1:pbsiratingId1:rating1}").value;
            var vlevel1 =document.getElementById("{!$Component.pageId:frmnew:pbId:pbsId1:pbriskLevelId1:riskLevel1}").value;
            alert('vrating1========'+vrating1);
            visibilityNextRDate(vlevel1+"~"+vrating1);
        }
        
        function cancelfun()
        {
            var conf = confirm("Are you sure you want to navigate away without saving data?");
            if(conf == false)
            {
                 return false;
            }
        } 
        window.onload = setFocus
        function setFocus() 
        {
        document.getElementById("{!$Component.pageId:frmnew:pbId:txtHiddenContactId}").focus();
        }
        
        function fnSave(str,saveonly){
            var onlySave =  saveonly;
            //alert(onlySave);
            if(onlySave == 'true'){
                alert('It saves only credit review information,If you want to send for approval you need to click on save and submit for approval');
                window.location = '/apex/BSureS_ViewPerformCreditAnalysis?Id='+str;
            }
            else{
                window.location = '/apex/Bsures_viewSupplierDetails?Id='+str;
            }
            
        }
        
      function submitForApproval()
      {
        document.getElementById("{!$Component.pageId:frmnew:pbId:pbSave:pbSISave:saveSubmit}").disabled = true;
        submitApproval();
            
        
      
      }
    </script>
    <apex:pageMessages />
    <apex:outputlabel value="{!str}" escape="false"></apex:outputlabel>
    </apex:form> 
    <apex:form id="frmnew"> 
    <apex:pageblock id="pbId" title="Financial Review" mode="maindetail">
        <apex:pageBlockSection columns="1" title="Supplier Information" id="pbscId"> 
            <c:BSureS_SupplierDetials supplierId="{!strSupplierId}" id="scId"/>  
        </apex:pageBlockSection>
        
        <apex:pageBlockSection columns="2" title="Experian Credit Report Data" rendered="{!blnExpSect}"> 
            <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Report Date" />
                 <apex:outputPanel >
                     <apex:outputText value="{0,date,MM/dd/yyyy}">
                     <apex:param value="{!basicInfo.Report_Date__c}" />
                 </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Bankruptcy" />
                 <apex:outputPanel >
                     <apex:outputText value="{!basicInfo.Bankruptcy__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Industry DBT" />
                 <apex:outputPanel >
                     <apex:outputText value="{!basicInfo.Industry_DBT__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Derogatory Legal Filings" />
                 <apex:outputPanel >
                     <apex:outputText value="{!basicInfo.Legal_Filings__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Company DBT" />
                 <apex:outputPanel >
                     <apex:outputText value="{!basicInfo.Company_DBT__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Tax Lien filings" />
                 <apex:outputPanel >
                     <apex:outputText value="{!basicInfo.Tax_Lien_filings__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Date of Incorporation" />
                 <apex:outputPanel >
                     <apex:outputText value="{0,date,MM/dd/yyyy}">
                     <apex:param value="{!basicInfo.Date_of_Incorporation__c}" />
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Sum of legal filings" />
                 <!-- <apex:outputPanel >
                     <apex:outputText value="{!basicInfo.Sum_legal_filings__c}">
                     </apex:outputText>
                 </apex:outputPanel> -->
                 <apex:outputPanel >
                    <apex:outputPanel rendered="{!IF(basicInfo.Sum_legal_filings__c > 99,true,false)}">
                       <apex:outputText value="{0,number, $,000.00}">
                            <apex:param value="{!FLOOR(basicInfo.Sum_legal_filings__c)}" />
                        </apex:outputText>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!IF(basicInfo.Sum_legal_filings__c <= 99 && basicInfo.Sum_legal_filings__c > 9,true,false)}">
                        <apex:outputText value="{0,number, $,00.00}">
                            <apex:param value="{!FLOOR(basicInfo.Sum_legal_filings__c)}" />
                        </apex:outputText>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!IF(basicInfo.Sum_legal_filings__c <= 9,true,false)}">
                        <apex:outputText value="{0,number, $,0.00}">
                            <apex:param value="{!FLOOR(basicInfo.Sum_legal_filings__c)}" />
                        </apex:outputText>
                    </apex:outputPanel>
                </apex:outputPanel>
             </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem >
                  <apex:outputLabel value="Highest credit amount extended" />
                  <!-- <apex:outputPanel >
                     <apex:outputText value="{!basicInfo.Highest_amt_extended__c}">
                     </apex:outputText>
                 </apex:outputPanel> -->
                    <apex:outputPanel >
                        <apex:outputPanel rendered="{!IF(basicInfo.Highest_amt_extended__c > 99,true,false)}">
                           <apex:outputText value="{0,number, $,000.00}">
                                <apex:param value="{!FLOOR(basicInfo.Highest_amt_extended__c)}" />
                            </apex:outputText>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!IF(basicInfo.Highest_amt_extended__c <= 99 && basicInfo.Highest_amt_extended__c > 9,true,false)}">
                            <apex:outputText value="{0,number, $,00.00}">
                                <apex:param value="{!FLOOR(basicInfo.Highest_amt_extended__c)}" />
                            </apex:outputText>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!IF(basicInfo.Highest_amt_extended__c <= 9,true,false)}">
                            <apex:outputText value="{0,number, $,0.00}">
                                <apex:param value="{!FLOOR(basicInfo.Highest_amt_extended__c)}" />
                            </apex:outputText>
                        </apex:outputPanel>
                    </apex:outputPanel>
              </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Fraud Alerts" />
                 <apex:outputPanel >
                     <apex:outputText value="{!basicInfo.Fraud_Alerts__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="SIC Code" />
                 <apex:outputPanel >
                     <apex:outputText value="{!basicInfo.SIC_Code__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Judgment filings" />
                 <apex:outputPanel >
                     <apex:outputText value="{!basicInfo.Judgment_filings__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Number of Employees" />
                 <!-- <apex:outputPanel >
                     <apex:outputText value="{!basicInfo.Number_of_Employees__c}">
                     </apex:outputText>
                 </apex:outputPanel> -->
                 <apex:outputPanel >
                    <apex:outputPanel rendered="{!IF(basicInfo.Number_of_Employees__c > 99,true,false)}">
                       <apex:outputText value="{0,number, ,000}">
                            <apex:param value="{!FLOOR(basicInfo.Number_of_Employees__c)}" />
                        </apex:outputText>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!IF(basicInfo.Number_of_Employees__c <= 99 && basicInfo.Number_of_Employees__c > 9,true,false)}">
                        <apex:outputText value="{0,number, ,00}">
                            <apex:param value="{!FLOOR(basicInfo.Number_of_Employees__c)}" />
                        </apex:outputText>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!IF(basicInfo.Number_of_Employees__c <= 9,true,false)}">
                        <apex:outputText value="{0,number, ,0}">
                            <apex:param value="{!FLOOR(basicInfo.Number_of_Employees__c)}" />
                        </apex:outputText>
                    </apex:outputPanel>
                </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="UCC filings" />
                 <apex:outputPanel >
                     <apex:outputText value="{!basicInfo.UCC_filings__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Ultimate Parent" />
                 <apex:outputPanel >
                     <apex:outputText value="{!basicInfo.Ultimate_Parent__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
          </apex:pageBlockSection>
        <apex:pageBlockSection columns="2" title="Experian Credit Report Data" rendered="{!!blnExpSect}">
            <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Report Date" />
                 <apex:outputPanel >
                     <apex:outputText value="{0,date,MM/dd/yyyy}">
                     <apex:param value="{!CAInfo.Report_Date__c}" />
                 </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Bankruptcy" />
                 <apex:outputPanel >
                     <apex:outputText value="{!CAInfo.Bankruptcy__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Industry DBT" />
                 <apex:outputPanel >
                     <apex:outputText value="{!CAInfo.Industry_DBT__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Derogatory Legal Filings" />
                 <apex:outputPanel >
                     <apex:outputText value="{!CAInfo.Legal_Filings__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Company DBT" />
                 <apex:outputPanel >
                     <apex:outputText value="{!CAInfo.Company_DBT__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Tax Lien filings" />
                 <apex:outputPanel >
                     <apex:outputText value="{!CAInfo.Tax_Lien_filings__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Date of Incorporation" />
                 <apex:outputPanel >
                     <apex:outputText value="{0,date,MM/dd/yyyy}">
                     <apex:param value="{!CAInfo.Date_of_Incorporation__c}" />
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Sum of legal filings" />
                 <!-- <apex:outputPanel >
                     <apex:outputText value="{!CAInfo.Sum_legal_filings__c}">
                     </apex:outputText>
                 </apex:outputPanel> -->
                 <apex:outputPanel >
                    <apex:outputPanel rendered="{!IF(CAInfo.Sum_legal_filings__c > 99,true,false)}">
                       <apex:outputText value="{0,number, $,000.00}">
                            <apex:param value="{!FLOOR(CAInfo.Sum_legal_filings__c)}" />
                        </apex:outputText>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!IF(CAInfo.Sum_legal_filings__c <= 99 && CAInfo.Sum_legal_filings__c > 9,true,false)}">
                        <apex:outputText value="{0,number, $,00.00}">
                            <apex:param value="{!FLOOR(CAInfo.Sum_legal_filings__c)}" />
                        </apex:outputText>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!IF(CAInfo.Sum_legal_filings__c <= 9,true,false)}">
                        <apex:outputText value="{0,number, $,0.00}">
                            <apex:param value="{!FLOOR(CAInfo.Sum_legal_filings__c)}" />
                        </apex:outputText>
                    </apex:outputPanel>
                </apex:outputPanel>
             </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem >
                  <apex:outputLabel value="Highest credit amount extended" />
                  <!-- <apex:outputPanel >
                     <apex:outputText value="{!CAInfo.Highest_amt_extended__c}">
                     </apex:outputText>
                 </apex:outputPanel> -->
                    <apex:outputPanel >
                        <apex:outputPanel rendered="{!IF(CAInfo.Highest_amt_extended__c > 99,true,false)}">
                           <apex:outputText value="{0,number, $,000.00}">
                                <apex:param value="{!FLOOR(CAInfo.Highest_amt_extended__c)}" />
                            </apex:outputText>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!IF(CAInfo.Highest_amt_extended__c <= 99 && CAInfo.Highest_amt_extended__c > 9,true,false)}">
                            <apex:outputText value="{0,number, $,00.00}">
                                <apex:param value="{!FLOOR(CAInfo.Highest_amt_extended__c)}" />
                            </apex:outputText>
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!IF(CAInfo.Highest_amt_extended__c <= 9,true,false)}">
                            <apex:outputText value="{0,number, $,0.00}">
                                <apex:param value="{!FLOOR(CAInfo.Highest_amt_extended__c)}" />
                            </apex:outputText>
                        </apex:outputPanel>
                    </apex:outputPanel>
              </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Fraud Alerts" />
                 <apex:outputPanel >
                     <apex:outputText value="{!CAInfo.Fraud_Alerts__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="SIC Code" />
                 <apex:outputPanel >
                     <apex:outputText value="{!CAInfo.SIC_Code__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Judgment filings" />
                 <apex:outputPanel >
                     <apex:outputText value="{!CAInfo.Judgment_filings__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Number of Employees" />
                 <!-- <apex:outputPanel >
                     <apex:outputText value="{!CAInfo.Number_of_Employees__c}">
                     </apex:outputText>
                 </apex:outputPanel> -->
                 <apex:outputPanel >
                    <apex:outputPanel rendered="{!IF(CAInfo.Number_of_Employees__c > 99,true,false)}">
                       <apex:outputText value="{0,number, ,000}">
                            <apex:param value="{!FLOOR(CAInfo.Number_of_Employees__c)}" />
                        </apex:outputText>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!IF(CAInfo.Number_of_Employees__c <= 99 && CAInfo.Number_of_Employees__c > 9,true,false)}">
                        <apex:outputText value="{0,number, ,00}">
                            <apex:param value="{!FLOOR(CAInfo.Number_of_Employees__c)}" />
                        </apex:outputText>
                    </apex:outputPanel>
                    <apex:outputPanel rendered="{!IF(CAInfo.Number_of_Employees__c <= 9,true,false)}">
                        <apex:outputText value="{0,number, ,0}">
                            <apex:param value="{!FLOOR(CAInfo.Number_of_Employees__c)}" />
                        </apex:outputText>
                    </apex:outputPanel>
                </apex:outputPanel>
             </apex:pageBlockSectionItem>
             <apex:pageBlockSectionItem >
                 <apex:outputLabel value="UCC filings" />
                 <apex:outputPanel >
                     <apex:outputText value="{!CAInfo.UCC_filings__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
              <apex:pageBlockSectionItem >
                 <apex:outputLabel value="Ultimate Parent" />
                 <apex:outputPanel >
                     <apex:outputText value="{!CAInfo.Ultimate_Parent__c}">
                     </apex:outputText>
                 </apex:outputPanel>
             </apex:pageBlockSectionItem>
          </apex:pageBlockSection>
        <apex:inputhidden id="txtHiddenContactId"  />
        <apex:pageBlockSection title="Credit Dates" columns="2" id="pbsitem">
        
            <apex:pageBlockSectionItem >
                <apex:outputpanel >
                <apex:outputlabel value="Review Name" rendered="{!blnTextdisplay}"><font color="red" size="3">*</font></apex:outputlabel>
                <apex:outputlabel value="Review Name" rendered="{!!blnTextdisplay}"></apex:outputlabel>
                </apex:outputpanel>
                <apex:outputpanel >
                <apex:inputField value="{!CAInfo.Review_Name__c}" style="width:200px;" rendered="{!blnTextdisplay}"/>
                <apex:outputlabel value="{!CAInfo.Review_Name__c}" style="width:200px;" rendered="{!!blnTextdisplay}"/>
                </apex:outputpanel>
            </apex:pageBlockSectionItem>
            
            <apex:pageblockSectionItem >
                <apex:outputlabel value="Planned Review Date" ></apex:outputlabel>
                <apex:outputlabel value="{!strplannedReviewDate}" />
             </apex:pageblockSectionItem> 
             
            <apex:pageblockSectionItem id="sectionRCDid" rendered="{!blnReviewCompleteDate}">
                <apex:outputlabel value="Review Complete Date"  rendered="true"></apex:outputlabel> 
                <apex:outputText value="{0,date,MM/dd/yyyy}" >
                    <apex:param value="{!CAInfo.Review_Complete_Date__c}" />
                </apex:outputText>
                <!--<apex:inputField value="{!CAInfo.Review_Complete_Date__c}" id="RCDid" style="width:200px;"/>
                -->
            </apex:pageblockSectionItem> 
            
             
             <apex:pageblockSectionItem rendered="{!blnHiddenStyle}"/>
             
            <apex:pageblockSectionItem >
                <apex:outputpanel >
                    <apex:outputlabel value="Actual Review Start Date" rendered="{!blnTextdisplay}"><font color="red" size="3">*</font></apex:outputlabel>
                    <apex:outputlabel value="Actual Review Start Date" rendered="{!!blnTextdisplay}"></apex:outputlabel>
                </apex:outputpanel>
                <apex:outputpanel >
                    <apex:inputField value="{!CAInfo.Actual_Review_Start_Date__c}" style="width:200px;" rendered="{!blnTextdisplay}"/>
                    <apex:outputText value="{0,date,MM/dd/yyyy}" rendered="{!!blnTextdisplay}">
                        <apex:param value="{!CAInfo.Actual_Review_Start_Date__c}"  />
                    </apex:outputText>
                </apex:outputpanel> 
            </apex:pageblockSectionItem>
             
            <apex:pageblockSectionItem >
                <apex:outputpanel >
                    <apex:outputlabel value="Expected Review End Date" rendered="{!blnTextdisplay}"><font color="red" size="3">*</font></apex:outputlabel>
                    <apex:outputlabel value="Expected Review End Date" rendered="{!!blnTextdisplay}"></apex:outputlabel>
                </apex:outputpanel> 
                <apex:outputpanel >
                    <apex:inputField value="{!CAInfo.Expected_Review_End_Date__c}"  style="width:200px;" rendered="{!blnTextdisplay}"/>
                    <apex:outputText value="{0,date,MM/dd/yyyy}" rendered="{!!blnTextdisplay}">
                        <apex:param value="{!CAInfo.Expected_Review_End_Date__c}" />
                    </apex:outputText>
                </apex:outputpanel>
            </apex:pageblockSectionItem> 
            
            <!--<apex:pageblockSectionItem > 
                <apex:outputlabel value="Review Period End Date"><font color="red" size="3">*</font></apex:outputlabel> 
                <apex:inputField value="{!CAInfo.Review_Period__c}"  style="width:200px;"/> 
            </apex:pageblockSectionItem>
            
            -->
            
            <!--<apex:pageblockSectionItem id="NRDate" rendered="{!showDate}">
                <apex:outputlabel value="Next Review Date"></apex:outputlabel> 
                <apex:inputField value="{!CAInfo.Next_Review_Date__c}" id="nrdatevalue" style="width:200px;"/> 
            </apex:pageblockSectionItem>
            
            <apex:pageblockSectionItem id="pbsitemreadonly" rendered="{!!showDate}" > 
                <apex:outputlabel value="Next Review Date"></apex:outputlabel>
            -->
            
            <script>
                //vRCDate = document.getElementById("{!$Component.pageId:frmnew:pbId:pbsitem:sectionRCDid:RCDid}");
                //alert('vRCDate==========='+vRCDate);
                //vRCDate.disabled = true;
                //vRCDate.style.color ="Black";
                //textReadonly = document.getElementById("{!$Component.pageId:frmnew:pbId:pbsitem:pbsitemreadonly:nextrdateROnly}");
                //textReadonly.disabled=true;
                
            </script>
        
        </apex:pageBlockSection>
        <apex:pageBlockSection columns="1">     
            <apex:pageblockSectionItem >
            <apex:outputpanel rendered="{!visibilityCreditDateBtns}">
            
            <center>
                <apex:commandButton value="Save Credit Dates Only"  action="{!CASave}" style="width:150px;"/> &nbsp;&nbsp;
                <apex:commandButton value="{!$Label.BSureS_Cancel}" action="{!cancel}" style="width:150px;" onclick="return cancelfun()"/>
            </center>
            
            </apex:outputpanel>
            </apex:pageblockSectionItem>
            
        </apex:pageBlockSection>
        
        <apex:pageBlockSection columns="2" title="Credit Information" id="pbsId">
            
            <apex:pageblockSectionItem id="pbsiratingId">
                    <apex:outputpanel >
                        <apex:outputlabel value="Rating" rendered="{!blnTextdisplay}"><font color="red" size="3">*</font></apex:outputlabel>
                        <apex:outputlabel value="Rating" rendered="{!!blnTextdisplay}"></apex:outputlabel>
                    </apex:outputpanel>
                    <apex:outputpanel id="Ratingpanel">
                        <apex:inputField value="{!CAInfo.Rating__c}" style="width:200px;" id="rating"  rendered="{!blnratingVisible}" onchange="funrating()"/>
                        <!--<apex:outputlabel value="{!strRating}" rendered="{!!blnratingVisible}"/>
                        -->
                        <apex:outputpanel rendered="{!!blnratingVisible}">
                        <script>
                        document.write('{!strRating}');
                        </script>
                        </apex:outputpanel>
                    </apex:outputpanel>
            </apex:pageblockSectionItem> 
            
            <apex:pageblockSectionItem id="pbriskLevelId">
                    <apex:outputpanel >
                        <apex:outputlabel value="Risk Level" rendered="{!blnTextdisplay}"><font color="red" size="3">*</font></apex:outputlabel>
                        <apex:outputlabel value="Risk Level" rendered="{!!blnTextdisplay}"></apex:outputlabel>
                    </apex:outputpanel>
                    <apex:outputpanel >
                        <apex:inputField value="{!CAInfo.Risk_Level__c}"  style="width:200px;" rendered="{!blnTextdisplay}" onchange="funrating()" id="riskLevel" />
                        <!--<apex:outputlabel value="{!CAInfo.Risk_Level__c}"  style="width:200px;" rendered="{!!blnTextdisplay}"/>
                        -->
                        <apex:outputpanel rendered="{!!blnTextdisplay}">
                        <script>
                            document.write('{!strRiskLevelName}');
                        </script>
                        </apex:outputpanel> 
                    </apex:outputpanel>  
            </apex:pageblockSectionItem>
            
            <apex:pageblockSectionItem id="NRDate" >
                <apex:outputpanel id="panelId"> 
                    <apex:outputlabel value="Future Review Date" rendered="{!blnTextdisplayFRD}" id="label1"><font color="red" size="3">*</font></apex:outputlabel>
                    <apex:outputlabel value="Future Review Date" rendered="{!!blnTextdisplayFRD}" id="label2"></apex:outputlabel>
                </apex:outputpanel> 
                <apex:outputpanel >
                    <apex:inputField value="{!CAInfo.Next_Review_Date__c}" id="nrdatevalue" style="width:200px;" rendered="{!blnFutureReviewdateV}"/>
                    <apex:outputlabel value="{!strFutureReviewdate}" rendered="{!!blnFutureReviewdateV}"/>
                </apex:outputpanel>   
            </apex:pageblockSectionItem>
            
            <apex:pageblockSectionItem >
                <apex:outputpanel >
                    <apex:outputlabel value="Spend" rendered="{!blnTextdisplay}"><font color="red" size="3">*</font></apex:outputlabel>
                    <apex:outputlabel value="Spend" rendered="{!!blnTextdisplay}"></apex:outputlabel>
                </apex:outputpanel> 
                <apex:outputpanel >
                    <apex:inputField value="{!CAInfo.Spend__c}"  style="width:200px;" rendered="{!blnTextdisplay}"/>
                    <!-- <apex:outputlabel value="{!CAInfo.Spend__c}"  style="width:200px;" rendered="{!!blnTextdisplay}"/> -->
                    <apex:outputPanel rendered="{!!blnTextdisplay}">
                            <apex:outputPanel rendered="{!IF(CAInfo.Spend__c > 99,true,false)}">
                                <apex:outputText value="{0,number, $,000.00}">
                                    <apex:param value="{!FLOOR(CAInfo.Spend__c)}" />
                                </apex:outputText>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!IF(CAInfo.Spend__c <= 99 && CAInfo.Spend__c > 9,true,false)}">
                                <apex:outputText value="{0,number, $,00.00}">
                                    <apex:param value="{!FLOOR(CAInfo.Spend__c)}" />
                                </apex:outputText>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!IF(CAInfo.Spend__c <= 9,true,false)}">
                                <apex:outputText value="{0,number, $,0.00}">
                                    <apex:param value="{!FLOOR(CAInfo.Spend__c)}" />
                                </apex:outputText>
                            </apex:outputPanel>
                        </apex:outputPanel>
                
                
                </apex:outputpanel>
                 
            </apex:pageblockSectionItem>
            
            <!-- 
            <apex:pageblockSectionItem >
                <apex:outputlabel value="Review Status"><font color="red" size="3">*</font></apex:outputlabel> 
                <apex:inputField value="{!CAInfo.Review_Status__c}"  style="width:200px;"/> 
            </apex:pageblockSectionItem>
             -->
             
           
            
            <apex:pageblockSectionItem >
                <apex:outputpanel >
                    <apex:outputlabel value="Spend Start Date" rendered="{!blnTextdisplay}"><font color="red" size="3">*</font></apex:outputlabel>
                    <apex:outputlabel value="Spend Start Date" rendered="{!!blnTextdisplay}"></apex:outputlabel>
                </apex:outputpanel> 
                <apex:outputpanel >
                    <apex:inputField value="{!CAInfo.Spend_Start_Date__c}" style="width:200px" rendered="{!blnTextdisplay}"/>
                    <apex:outputlabel value="{!strSpendStartDate}" rendered="{!!blnTextdisplay}"/>
                </apex:outputpanel>
            </apex:pageblockSectionItem>
            
            <apex:pageblockSectionItem >
                <apex:outputpanel >
                    <apex:outputlabel value="Spend End Date" rendered="{!blnTextdisplay}"><font color="red" size="3">*</font></apex:outputlabel>
                    <apex:outputlabel value="Spend End Date" rendered="{!!blnTextdisplay}"></apex:outputlabel>
                </apex:outputpanel>
                <apex:outputpanel >
                    <apex:inputField value="{!CAInfo.Spend_End_Date__c}" style="width:200px" rendered="{!blnTextdisplay}"/>
                    <apex:outputlabel value="{!strSpendEndDate}" rendered="{!!blnTextdisplay}"/>
                </apex:outputpanel>
            </apex:pageblockSectionItem>
             <apex:pageblockSectionItem >
                <apex:outputlabel value="External Link"><font color="white" size="3">&nbsp;</font></apex:outputlabel>
                <apex:outputpanel >
                    <apex:inputField value="{!CAInfo.Add_Links__c}" rendered="{!blnTextdisplay}" style="width:200px"/>
                    <apex:outputlabel value="{!CAInfo.Add_Links__c}" rendered="{!!blnTextdisplay}" />
                </apex:outputpanel>
            </apex:pageblockSectionItem>
             
            <apex:pageblockSectionItem />
            <apex:pageblockSectionItem >
                <apex:outputlabel value="Comments "></apex:outputlabel> 
                <apex:outputpanel >
                <apex:inputField value="{!CAInfo.Comment__c}"  style="width:400px;height:80px;" rendered="{!blnTextdisplay}" id="comments"/>
                <apex:outputpanel rendered="{!!blnTextdisplay}" >
                <script>
                    document.write('{!strComments}');
                </script>
                </apex:outputpanel>
                </apex:outputpanel> 
            </apex:pageblockSectionItem>
        </apex:pageBlockSection>
         
        <apex:pageBlockSection columns="1" id="pbSave">
            <apex:pageblockSectionItem id="pbSISave">
                <apex:outputpanel >
                    <center>
                    <!--  
                        <apex:commandbutton value="Save"  action="{!submitApproval}" style="width:175px;" reRender="formId" rendered="{!blnSavebtn}" >
                        <apex:param name="prmcustSaveOnly" value="true" assignTo="{!strSaveonly}" />
                        </apex:commandButton>
                        -->
                        <apex:actionStatus id="saveStatus">
                            <apex:facet name="stop">
                                <apex:commandButton value="Save" action="{!submitApproval}" status="saveStatus" rerender="formId" style="width:175px;"  rendered="{!blnSavebtn}">
                                <apex:param name="prmcustSaveOnly" value="true" assignTo="{!strSaveonly}" />
                                 </apex:commandButton>
                            </apex:facet>
                            <apex:facet name="start">
                                <apex:commandButton value="Saving..." disabled="true" status="saveStatus"/>
                            </apex:facet>
                        </apex:actionStatus>
                        <apex:commandbutton value="Save and Submit for Approval" id="saveSubmit" style="width:175px;"  reRender="formId" rendered="{!blnSubmitApprovebtns}" onclick="javascript:submitForApproval();" >
                        </apex:commandbutton>
                        
                        <apex:actionfunction action="{!submitApproval}" name="submitApproval"  >
                        <apex:param assignTo="{!strSaveonly}" name="prmcustSaveOnly" value="false"/>
                        </apex:actionfunction>
                        
                        </center>
                </apex:outputpanel>
            </apex:pageblockSectionItem>
        </apex:pageBlockSection>
        
       
       
        
        <apex:outputpanel rendered="{!visibilityApproveBtns}">
            <apex:pageBlockSection title="Approve Credit Analysis" columns="2" id="pbsId1">
                
                <apex:pageblockSectionItem id="pbsiratingId1">
                    <apex:outputlabel value="Rating"><font color="red" size="3">*</font></apex:outputlabel>
                    <apex:inputField value="{!CAInfo.Rating__c}" style="width:200px;" id="rating1" onchange="funrating1()"/>
                 </apex:pageblockSectionItem> 
                 
                 <apex:pageblockSectionItem id="pbriskLevelId1">
                    <apex:outputlabel value="Risk Level"><font color="red" size="3">*</font></apex:outputlabel>
                    <apex:inputField value="{!CAInfo.Risk_Level__c}"  style="width:200px;" onchange="funrating1()" id="riskLevel1"/>
                 </apex:pageblockSectionItem>
                 
                 <apex:pageblockSectionItem >
                    <apex:outputlabel value="Spend"><font color="red" size="3">*</font></apex:outputlabel>
                    <apex:inputField value="{!CAInfo.Spend__c}"  style="width:200px;" />
                 </apex:pageblockSectionItem>
                 
                  <apex:pageblockSectionItem id="NRDate" >
                     <apex:outputpanel id="panelId2"> 
                        <apex:outputlabel value="Future Review Date" rendered="{!blnTextdisplayFRDMA}" id="label1"><font color="red" size="3">*</font></apex:outputlabel>
                        <apex:outputlabel value="Future Review Date" rendered="{!!blnTextdisplayFRDMA}" id="label2"></apex:outputlabel>
                    </apex:outputpanel> 
                    <!--<apex:outputlabel value="Future Review Date"><font color="red" size="3">*</font></apex:outputlabel>
                    --> 
                    <apex:outputpanel >
                        <apex:inputField value="{!CAInfo.Next_Review_Date__c}" id="nrdatevalue1" style="width:200px;" />
                    </apex:outputpanel>
                </apex:pageblockSectionItem>
                
                <apex:pageblockSectionItem >
                    <apex:outputlabel value="Spend Start Date"><font color="red" size="3">*</font></apex:outputlabel>
                    <apex:inputField value="{!CAInfo.Spend_Start_Date__c}" style="width:200px"/>
                </apex:pageblockSectionItem>
            
               <apex:pageblockSectionItem >
                <apex:outputlabel value="Spend End Date"><font color="red" size="3">*</font></apex:outputlabel>
                <apex:inputField value="{!CAInfo.Spend_End_Date__c}" style="width:200px"/>
               </apex:pageblockSectionItem>
                
                <apex:pageblockSectionItem >
                    <apex:outputlabel value="Approve Comments" />     
                    <apex:inputField value="{!CAInfo.Approve_Comments__c}" style="width:300px; height :80px"/>
                </apex:pageblockSectionItem>
                
                <apex:pageblockSectionItem />
                <apex:pageblockSectionItem >
               </apex:pageblockSectionItem>
            </apex:pageBlockSection> 
           
        </apex:outputpanel> 
         <apex:outputpanel rendered="{!visibilityApproveBtns}">
                <center>
                        <apex:commandbutton value="Approve" action="{!Approved}" style="width:100px;"/> &nbsp;&nbsp;
                        <!--<apex:commandbutton value="Reject" action="{!Rejected}" style="width:100px;"/> &nbsp;&nbsp;
                        --><apex:commandButton value="{!$Label.BSureS_Cancel}" action="{!cancel}" style="width:100px;" onclick="return cancelfun()"/> &nbsp;&nbsp;
                </center>         
          </apex:outputpanel>    
            
        <apex:outputpanel rendered="{!vsblCancelbtn}">
        <center>
                <apex:commandButton value="{!$Label.BSureS_Cancel}" action="{!cancel}" style="width:120px;" /> &nbsp;
        </center>       
        </apex:outputpanel>
        
        <apex:actionFunction action="{!visibilityNextRDate}" name="visibilityNextRDate" reRender="nrdatevalue,nrdatevalue1,panelId,panelId2">
            <apex:param assignTo="{!vrating}" name="vrating" value=""/> 
        </apex:actionFunction>
        
    </apex:pageblock>  
    
</apex:form> 
</apex:page>