<apex:page controller="BSureS_ReviewsDone" id="page"  sidebar="false" tabstyle="BSureS_Reports__tab">
    
    <script>
		function getCookie(c_name)
		{
			var c_value = document.cookie;
			var c_start = c_value.indexOf(" " + c_name + "=");
			if (c_start == -1)
			{
				c_start = c_value.indexOf(c_name + "=");
			}	
			if (c_start == -1)
			{
				c_value = null;
			}
			else
			{
				c_start = c_value.indexOf("=", c_start) + 1;
				var c_end = c_value.indexOf(";", c_start);
				if (c_end == -1)
				{
					c_end = c_value.length;
				}
				c_value = unescape(c_value.substring(c_start,c_end));
			}
			return c_value;
		}
		
		function setCookie(c_name,value,exdays)
		{
			var exdate=new Date();
			//alert('Came here to set Cookie ');
			exdate.setDate(exdate.getDate() + exdays);
			var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
			//alert('Came here to set c_value ' + c_name + "=" + c_value);
			document.cookie = c_name + "=" + c_value;
			//document.cookie = "isTandCShown=true";
			//alert('Came here to set Cookie ' + document.cookie);
		}
		
		function checkCookie()
		{
			var isTnCpage = getCookie("isTandCShown");
			if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
		  	{
		  		//alert("Welcome again " + isTnCpage);
		  	}
			else
		  	{
		  		//alert("Welcome again else " + isTnCpage);
		  		setCookie("isTandCShown",true, null);
		  		var firstQry = window.location;
		  		if(firstQry != "")     
			   	{   
			     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
			   	}
		  	}
		}
	
		var referrerPage = document.referrer;
     		//alert('history===='+history.back(1));
		if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
		{   
		  	var secondqry = window.location;
		  	//alert('secondqry ========  '+encodeURIComponent(secondqry));
			if(secondqry != "")     
		   	{   
		     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
		   	}		  	 
	 	}
	 	else if(document.referrer == "")
	 	{
	 		checkCookie();
	 	}	 	
   	</script>
    <script>
        
            
        var zoneElement ;  
        var oldonload = window.onload;
        if (typeof window.onload != 'function')
        {     
            window.onload = oldonload;
        }
        else
        {  
            window.onload = function() 
            {     
                if(oldonload) 
                {      
                    oldonload(); 
                }    
                removeSerchbox();
                setFocus();
            }  
        } 
        function removeSerchbox()
        {  
            var a = [];
            var re = new RegExp('\\bsearchCell\\b');
            var els =document.getElementsByTagName("td");
            for(var i=0,j=els.length; i<j; i++)
                if(re.test(els[i].className))
                    a.push(els[i]);
            var parent=a[0];
            parent.style.display='none';
        } 
        
        function setFocus() 
        {
            document.getElementById("hiddenElementId").focus();
        }
        
    </script> 
    <script> 
            function isNumberKey(evt)
            {
             var charCode = (evt.which) ? evt.which : event.keyCode
             if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
    
             return true;
            }
            function checkValidation(fromId,toId) {             
                var fromDate;
                var toDate;                 
                var currentTime = new Date()
                var month = currentTime.getMonth() + 1 
                var day = currentTime.getDate()
                var year = currentTime.getFullYear()                            
                
                 
                if(document.getElementById(fromId).value != ''){
                    var valid = isDate(document.getElementById(fromId).value);                  
                    if(valid == false){
                        alert('{!$Label.BSureS_From_Date_is_not_valid}');
                        return false;
                    }
                }
                if(document.getElementById(toId).value != ''){
                    var valid = isDate(document.getElementById(toId).value);                    
                    if(valid == false){
                        alert('{!$Label.BSureS_To_Date_is_not_valid}');
                        return false;
                    } 
                }
                
                if(document.getElementById(fromId).value != ''){
                    fromDate = new Date(document.getElementById(fromId).value);
                }
                if(document.getElementById(fromId).value == '' )
                {
                    alert('{!$Label.BSureS_Please_enter_From_Date}');
                    return false;
                }                           
                if(document.getElementById(toId).value != ''){
                    toDate =  new Date(document.getElementById(toId).value);
                }
                
                if(new Date(month + "/" + day + "/" + year) < fromDate){                    
                    alert('{!$Label.BSureS_FromDate_should_not_be_greater_than_Today_s_Date}');
                    return false;
                } 
                
                if(document.getElementById(toId).value == '' )
                {
                    alert('{!$Label.BSureS_Please_enter_To_Date}');
                    return false;
                }
                    
                if(new Date(month + "/" + day + "/" + year) < toDate){
                    alert('{!$Label.BSureS_To_Date_should_not_be_greater_than_Today_s_Date}');
                    return false;
                } 
                if(fromDate > toDate)
                {
                    alert('{!$Label.BSureS_From_Date_shold_not_be_greater_than_To_Date}');
                    return false;
                }
                
                SearchAction();
                
                return false;               
            } 
            function funSearchSuppliers()
            {       
                //alert(vsupplier_name.value);  
                //var vdocId = document.getElementById('page:frm:SupplierName').value;                      
                window.open('/apex/BSureS_SupplierSearch?supName='+ '','mywindow','width=1000,height=700,top=30,left=100,toolbar=no,scrollBars=auto,resizable=no');
                return false;
            } 
            function isDate(txtDate){
                
            var currVal = txtDate;
            if(currVal == '')
                return false;
            
            var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/; //Declare Regex
            var dtArray = currVal.match(rxDatePattern); // is format OK?
            
            if (dtArray == null) 
                return false;
            
            //Checks for mm/dd/yyyy format.
            dtMonth = dtArray[1];
            dtDay= dtArray[3];
            dtYear = dtArray[5];   
            if (dtMonth < 1 || dtMonth > 12) 
                return false;               
            else if (dtDay < 1 || dtDay > 31)               
                return false;           
            else if ((dtMonth==4 || dtMonth==6 || dtMonth==9 || dtMonth==11) && dtDay ==31) 
                return false;
            else if (dtMonth == 2) 
            {
                var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));
                if (dtDay> 29 || (dtDay ==29 && !isleap)) 
                     return false;
            }
            return true;
        }
        
        
        </script>
        <style type="Text/css">
            .msg {color:red;}   
            .headers{ font-weight: bold; font-size:120%;}
            .homeTab .tertiaryPalette {border-color: #35B4E9 !important;}
            .customPopup{ 
            background-color: white;
            border-style: solid; 
            border-width: 4px;
            left: 50%; 
            padding:10px;
            position: absolute;
            z-index: 9999;
            /* These are the 3 css properties you will need to tweak so the pop 
            up displays in the center of the screen. First set the width. Then set 
            margin-left to negative half of what the width is. You can also add 
            the height property for a fixed size pop up.*/
            width: 500px;
            margin-left: -250px; 
            top:100px;
        } 
        </style>
         
    <apex:sectionheader title=""  subtitle="{!$Label.BsureS_Reviews_Done_Report}" />
    <table width="100%">
            <tr>
                <td align="center">
                    <apex:messages styleClass="msg"/>
                </td>
                <td align="right">
                  <apex:outputLabel value="*" styleClass="msg"/><apex:outputLabel value="Mandatory"/>
                </td>
                 <td width="30%"  style="text-decoration:none;" height="10%">
                    <input id="hiddenElementId" type="hidden" />
                </td>
            </tr> 
        </table>
    <hr></hr>   
    <apex:outputLabel value="{!$Label.BSureS_Search_Criteria}" styleClass="headers"/>
    <apex:form id="frm">
        <br/> 
        <table>
            <tr>
                <td style="padding-left:25px;">
                    <apex:outputlabel value="{!$Label.BsureS_Completed_Review_Period}" style="font-weight:bold;" />
                </td>
                <td style="padding-left:6px;">
                    <apex:outputlabel value="{!$Label.BSureS_Supplier_Information}" style="font-weight:bold;" />
                </td>
                <td style="padding-left:22px;">
                    <apex:outputlabel value="{!$Label.BSureS_Region_Information}" style="font-weight:bold;padding-top:10px;" />
                </td>
            </tr>           
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>
                                <b style="padding-left:20px;color:#4A4A56;font-size:11px"> {!$Label.BSureS_From_Date}  <apex:outputLabel value="*" styleclass="msg"/> </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <apex:inputtext id="fromDate" value="{!strFromDate}" onfocus="DatePicker.pickDate(false, this, false);" style="width:100px;" onKeyPress="return isNumberKey(this);" />
                                <span class="dateFormat"> [&nbsp;<a href="javascript:DatePicker.insertDate('{!strTodayDate}', '{!$Component.fromDate}', true);">{!strTodayDate} </a>&nbsp;]</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b style="padding-left:20px;color:#4A4A56;font-size:11px"> {!$Label.BSureS_To_Date} <apex:outputLabel value="*" styleclass="msg" /></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <apex:inputtext id="toDate" value="{!strToDate}" onfocus="DatePicker.pickDate(false, this, false);" style="width:100px;" />
                                <span class="dateFormat"> [&nbsp;<a href="javascript:DatePicker.insertDate('{!JSINHTMLENCODE(strTodayDate)}', '{!JSINHTMLENCODE($Component.toDate)}', true);">{!strTodayDate} </a>&nbsp;]</span>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <apex:outputPanel rendered="{!showeditrecs}" styleClass="customPopup" >
                                        <apex:pageblock mode="maindetail">
                                    <apex:pageBlockSection columns="6">
                                        <apex:outputlabel value="Search"/>
                                        <apex:inputText value="{!strAnalystSearch}" />
                                        <apex:commandButton value="GO" action="{!searchBtn}" rerender="userList"/>
                                    </apex:pageBlockSection>                                
                                    <apex:pageBlockTable value="{!lstAnalystUser}" var="assAnalyst" id="userList">
                                        <apex:column headerValue="{!$Label.BSureS_User}" >
                                            <apex:commandLink value="{!assAnalyst.Name}" action="{!closepopup}" >
                                                <apex:param name="Analystid" value="{!assAnalyst.Name}"/>
                                            </apex:commandLink> 
                                        </apex:column>
                                    </apex:pageBlockTable>                              
                                    <apex:pageBlockButtons location="bottom" >
                                        <apex:commandButton action="{!closepopupBtn}"  value="{!$Label.BSureS_Close}"/> 
                                     </apex:pageBlockButtons>
                                </apex:pageblock>
                             </apex:outputPanel>    
                                <b style="color:#4A4A56;font-size:11px"> {!$Label.BSureS_Supplier} </b>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <apex:inputText id="SupplierName"  value="{!strSupplierName}" maxlength="100" style="width:150px;" onClick="javascript:funDefaultClear();" onblur="javascript: funDefaultText();">
                                                <c:BSureS_AutoComplete autocomplete_textbox="{!$Component.SupplierName}" objectname="BSureS_Basic_Info__c" additionalfield="Supplier_Name__c" />
                                            </apex:inputText>
                                    <apex:inputhidden value="{!strSupplierId}" Id="SupplierID"  />
                                <b> &nbsp; or &nbsp; </b>
                                <img src="/s.gif" alt="alt" class="lookupIcon" onclick="return funSearchSuppliers();" onblur="this.className = 'lookupIcon';" onfocus="this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';" onmouseover="this.className = 'lookupIconOn';" title=" Search"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <apex:outputLabel value="{!$Label.BSureS_User}" style="color:#4A4A56;font-size:11px;font-weight:bold;" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <apex:inputText id="Analyst" value="{!strAnalystName}" maxlength="100" style="width:150px;" >
                                    <c:BSureS_AutoComplete autocomplete_textbox="{!$Component.Analyst}" objectname="User" additionalfield="Name" UserLookup="ALL" />
                                </apex:inputText> 
                                <apex:commandLink action="{!showBuyerDetails}">
                                    <img src="/s.gif" alt="Vendor ID Lookup (New Window)" class="lookupIcon"  onblur="this.className = 'lookupIcon';"  onfocus="this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" title=" Lookup (New Window)"/>
                                </apex:commandLink>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td>
                                <br/>
                                <apex:selectList value="{!strZoneId}" size="1" id="zoneId" style="width:148px;">
                                    <b style="padding-left:20px;color:#4A4A56;font-size:11px"> {!$Label.BSureS_Zone}  </b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <apex:selectOptions value="{!ZoneOptions}"  />
                                    <apex:actionSupport event="onchange"  action="{!getSubZones}" rerender="frm"   />
                                    <script> zoneElement = document.getElementById('{!JSENCODE($Component.zoneId)}'); </script>                    
                                </apex:selectList> 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                 <apex:selectList value="{!strSubZoneId }" size="1" id="subZoneId" style="width:148px;">
                                    <b style="padding-left:20px;color:#4A4A56;font-size:11px"> {!$Label.BSureS_Sub_Zone}  </b>  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; <apex:selectOptions value="{!SubZoneOptions}" /> 
                                    <apex:actionSupport event="onchange"  action="{!getCountries}" rerender="frm"  />
                                </apex:selectList>  
                            </td>
                        </tr>
                        <tr>
                            <td>
                                 <apex:selectList value="{!strCountryId}" size="1"   id="countryId" style="width:148px;">
                                        <b style="padding-left:20px;color:#4A4A56;font-size:11px"> {!$Label.BSureS_Country}  </b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; <apex:selectOptions value="{!CoutryOptions}" />                                       
                                </apex:selectList>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <apex:panelgrid columns="3" cellpadding="2" cellspacing="0" style="padding-left:295px;">
                <apex:commandbutton value="{!$Label.Search}"   onClick="return checkValidation('{!JSINHTMLENCODE($Component.fromDate)}','{!JSINHTMLENCODE($Component.toDate)}')" />                     
                <apex:commandbutton value="{!$Label.BSureS_Export_To_Excel}"   action="{!ExportToExcel}" disabled="{!(lstCAPagination.size = 0)}"  />
                <apex:Commandbutton value="{!$Label.BSureS_Cancel}" action="{!Cancel}" />
        </apex:panelgrid> 
        <apex:actionfunction name="SearchAction" action="{!Search}" rerender="pb,frm" status="counterStatus" />
        <apex:actionStatus Id="counterStatus" >
                <apex:facet name="start">
                 <apex:Image value="{!$Resource.AjaxAnimation}" style="padding-left:375px;" />  
               </apex:facet>
               <apex:facet name="stop" />              
        </apex:actionstatus>
        <apex:pageblock id="pb"  title="{!$Label.BSureS_Results}"  >
              <div align="right" style="display:{!IF(NOT(ISNULL(totallistsize)),'block','none')}">
                 <b><font size="1pt" >{!$Label.BSureS_Page} &nbsp;<apex:outputLabel value="{!pageNumber}"/>&nbsp;{!$Label.BSureS_of}&nbsp;<apex:outputLabel value="{!totalPageNumber}"/>&nbsp;&nbsp;</font></b>
                 <font size="1pt">{!$Label.BSureS_Results}&nbsp;<apex:outputLabel value="{!PrevPageNumber}"/>&nbsp;{!$Label.BSureS_to}&nbsp;<apex:outputLabel value="{!NxtPageNumber}"/>&nbsp;{!$Label.BSureS_of}&nbsp;<apex:outputLabel value="{!totallistsize}"/>&nbsp;&nbsp;</font>
                 <apex:commandButton value="{!$Label.BSureS_First}" action="{!FirstbtnClick}" disabled="{!previousButtonEnabled}" reRender="pb"></apex:commandButton>
                 <apex:commandButton value="<< {!$Label.BSureS_Previous}" action="{!previousBtnClick}" disabled="{!previousButtonEnabled}" reRender="pb"></apex:commandButton>
                 <apex:commandButton value="{!$Label.BSureS_Next} >>" action="{!nextBtnClick}"  disabled="{!nextButtonDisabled}" reRender="pb"></apex:commandButton>
                 <apex:commandButton value="{!$Label.BSureS_Last}"  action="{!LastbtnClick}"  disabled="{!nextButtonDisabled}" reRender="pb"></apex:commandButton>&nbsp;&nbsp;
              </div>   
            <apex:outputtext value="{!$Label.BSureS_There_are_no_Completed_Reviews_that_match_your_search_criteria}" style="font-weight:bold;font-size:15px;color:red;" rendered="{!(lstCreditAnalysis.size = 0)}" />
            <apex:pageblocktable value="{!lstCAPagination}" var="Ca" rendered="{!(lstCreditAnalysis.size > 0)}" >
                 <apex:column >
                    <apex:outputlink value="/{!Ca.Supplier_ID__c}"  target="_blank" > {!Ca.Supplier_ID__r.Supplier_Name__c} </apex:outputlink>
                     <apex:facet name="header">
                       <apex:commandLink value="{!$Label.BSureS_Supplier_Name}" action="{!Sort}"   rerender="pb"  >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression== 'Supplier_ID__r.Supplier_Name__c',true,false))}" styleClass="sortDesc" title="Sorted Descending" alt="Sorted Descending" />
                                <apex:image url="/s.gif"  rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Supplier_ID__r.Supplier_Name__c',true,false))}" styleClass="sortAsc" title="Sorted Ascending" alt="Sorted Ascending" />
                         <apex:param value="Supplier_ID__r.Supplier_Name__c" name="sortExpression" assignTo="{!sortExpression}" ></apex:param>
                       </apex:commandLink> 
                     </apex:facet>
                </apex:column>  
                <apex:column value="{!Ca.Supplier_ID__r.Globe_ID__c}"  >
                     <apex:facet name="header">
                       <apex:commandLink value="{!$Label.BSureS_Globe_ID}" action="{!Sort}"   rerender="pb"  >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression== 'Supplier_ID__r.Globe_ID__c',true,false))}" styleClass="sortDesc" title="Sorted Descending" alt="Sorted Descending" />
                                <apex:image url="/s.gif"  rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Supplier_ID__r.Globe_ID__c',true,false))}" styleClass="sortAsc" title="Sorted Ascending" alt="Sorted Ascending" />
                         <apex:param value="Supplier_ID__r.Globe_ID__c" name="sortExpression" assignTo="{!sortExpression}" ></apex:param>
                       </apex:commandLink> 
                     </apex:facet>
                </apex:column>  
                <apex:column value="{!Ca.Supplier_ID__r.BSureS_Country__r.Name}"  >
                     <apex:facet name="header">
                       <apex:commandLink value="{!$Label.BSureS_Country}" action="{!Sort}"   rerender="pb"  >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression== 'Supplier_ID__r.BSureS_Country__r.Name',true,false))}" styleClass="sortDesc" title="Sorted Descending" alt="Sorted Descending" />
                                <apex:image url="/s.gif"  rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Supplier_ID__r.BSureS_Country__r.Name',true,false))}" styleClass="sortAsc" title="Sorted Ascending" alt="Sorted Ascending" />
                         <apex:param value="Supplier_ID__r.BSureS_Country__r.Name" name="sortExpression" assignTo="{!sortExpression}" ></apex:param>
                       </apex:commandLink> 
                     </apex:facet>
                </apex:column>  
                <apex:column value="{!Ca.Supplier_ID__r.Analyst__r.Name}"  >
                     <apex:facet name="header">
                       <apex:commandLink value="{!$Label.BSureS_Analyst}" action="{!Sort}"   rerender="pb"  >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression== 'Supplier_ID__r.Analyst__r.Name',true,false))}" styleClass="sortDesc" title="Sorted Descending" alt="Sorted Descending" />
                                <apex:image url="/s.gif"  rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Supplier_ID__r.Analyst__r.Name',true,false))}" styleClass="sortAsc" title="Sorted Ascending" alt="Sorted Ascending" />
                         <apex:param value="Supplier_ID__r.Analyst__r.Name" name="sortExpression" assignTo="{!sortExpression}" ></apex:param>
                       </apex:commandLink> 
                     </apex:facet> 
                </apex:column>      
                <apex:column value="{!Ca.Review_Status__c}"  >
                     <apex:facet name="header">
                       <apex:commandLink value="{!$Label.BSureS_Review_Status}" action="{!Sort}"   rerender="pb"  >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression== 'Review_Status__c',true,false))}" styleClass="sortDesc" title="Sorted Descending" alt="Sorted Descending" />
                                <apex:image url="/s.gif"  rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Review_Status__c',true,false))}" styleClass="sortAsc" title="Sorted Ascending" alt="Sorted Ascending" />
                         <apex:param value="Review_Status__c" name="sortExpression" assignTo="{!sortExpression}" ></apex:param>
                       </apex:commandLink>  
                     </apex:facet> 
                </apex:column>   
                <apex:column >
                     <apex:outputtext value="${0,number,###,###,###,##0.00}" escape="false">
                            <apex:param value="{!Ca.Spend__c}"/> 
                     </apex:outputtext>
                     <apex:facet name="header">
                       <apex:commandLink value="{!$Label.BSureS_Spend}" action="{!Sort}"   rerender="pb"  >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression== 'Spend__c',true,false))}" styleClass="sortDesc" title="Sorted Descending" alt="Sorted Descending" />
                                <apex:image url="/s.gif"  rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Spend__c',true,false))}" styleClass="sortAsc" title="Sorted Ascending" alt="Sorted Ascending" />
                         <apex:param value="Spend__c" name="sortExpression" assignTo="{!sortExpression}" ></apex:param>
                       </apex:commandLink> 
                     </apex:facet>
                </apex:column>   
                <apex:column value="{!Ca.Rating_Type__c}"  >                            
                </apex:column>
                <apex:column value="{!Ca.Supplier_ID__r.Reviewed_by__c}"  >
                     <apex:facet name="header">
                       <apex:commandLink value="{!$Label.BSureS_Reviewed_By}" action="{!Sort}"   rerender="pb"  >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression== 'Supplier_ID__r.Reviewed_by__c',true,false))}" styleClass="sortDesc" title="Sorted Descending" alt="Sorted Descending" />
                                <apex:image url="/s.gif"  rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Supplier_ID__r.Reviewed_by__c',true,false))}" styleClass="sortAsc" title="Sorted Ascending" alt="Sorted Ascending" />
                         <apex:param value="Supplier_ID__r.Reviewed_by__c" name="sortExpression" assignTo="{!sortExpression}" ></apex:param>
                       </apex:commandLink> 
                     </apex:facet> 
                </apex:column>
                <apex:column value="{!Ca.LastModifiedDate}"  >
                     <apex:facet name="header">
                       <apex:commandLink value="{!$Label.BSureS_Reviewed_Date}" action="{!Sort}"   rerender="pb"  >
                            <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression== 'LastModifiedDate',true,false))}" styleClass="sortDesc" title="Sorted Descending" alt="Sorted Descending" />
                                <apex:image url="/s.gif"  rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='LastModifiedDate',true,false))}" styleClass="sortAsc" title="Sorted Ascending" alt="Sorted Ascending" />
                         <apex:param value="LastModifiedDate" name="sortExpression" assignTo="{!sortExpression}" ></apex:param>
                       </apex:commandLink> 
                     </apex:facet>
                </apex:column>
            </apex:pageblocktable>
        </apex:pageblock>
    </apex:form>    
</apex:page>