<apex:page controller="BSureC_MassTransferOfOwnership" sidebar="false" action="{!submit}">
<style type="text/css">
        .headers
        { 
            font-weight: bold; 
            font-size:140%;
            font-family: Arial,"Times New Roman",Georgia,Serif;
        }
        .titles
        { 
            font-weight: bold; 
            font-size:110%;
            font-family: Arial,"Times New Roman",Georgia,Serif;
        }
        .tableRow 
        {
            background: white;
            border: 1px solid #999;
            font-size: 12px;
            font-family: Arial,"Times New Roman",Georgia,Serif;
        }
        .innerTableRow
        {
            border-top-style:solid;
            border-top-width:1px;
            font-size: 12px;
            font-family: Arial,"Times New Roman",Georgia,Serif;
        }   
        body .bPageBlock .pbBody .pbSubheader 
        {
            border-width: 2px 0 0;
            border-style: solid;
            color: #27282E !important;
            padding: 4px 3px;
            font-family: Arial,"Times New Roman",Georgia,Serif;
        }
        .homeTab .tertiaryPalette {            
            border-color: #35B4E9 !important;
        }
                
    </style>
    
    <script>
                function getCookie(c_name)
                {
                        var c_value = document.cookie;
                        var c_start = c_value.indexOf(" " + c_name + "=");
                        if (c_start == -1)
                        {
                                c_start = c_value.indexOf(c_name + "=");
                        }       
                        if (c_start == -1)
                        {
                                c_value = null;
                        }
                        else
                        {
                                c_start = c_value.indexOf("=", c_start) + 1;
                                var c_end = c_value.indexOf(";", c_start);
                                if (c_end == -1)
                                {
                                        c_end = c_value.length;
                                }
                                c_value = unescape(c_value.substring(c_start,c_end));
                        }
                        return c_value;
                }
                
                function setCookie(c_name,value,exdays)
                {
                        var exdate=new Date();
                        //alert('Came here to set Cookie ');
                        exdate.setDate(exdate.getDate() + exdays);
                        var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
                        //alert('Came here to set c_value ' + c_name + "=" + c_value);
                        document.cookie = c_name + "=" + c_value;
                        //document.cookie = "isTandCShown=true";
                        //alert('Came here to set Cookie ' + document.cookie);
                }
                
                function checkCookie()
                {
                        var isTnCpage = getCookie("isTandCShown");
                        if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
                        {
                                //alert("Welcome again " + isTnCpage);
                        }
                        else
                        {
                                //alert("Welcome again else " + isTnCpage);
                                setCookie("isTandCShown",true, null);
                                var firstQry = window.location;
                                if(firstQry != "")     
                                {   
                                window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
                                }
                        }
                }
        
                var referrerPage = document.referrer;
                //alert('history===='+history.back(1));
                if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
                {   
                        var secondqry = window.location;
                        //alert('secondqry ========  '+encodeURIComponent(secondqry));
                        if(secondqry != "")     
                        {   
                        window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
                        }                        
                }
                else if(document.referrer == "")
                {
                        checkCookie();
                }               
        </script>
<apex:form >
<table width="100%">
            <tr>
               <td style="font-size:20px; font-weight:bold; color:#086496;"><apex:image value="{!$Resource.BSureC_Logo}" height="25" width="25"/><b>Transfer of ownership</b></td>
               </tr>
               </table><br/>  
               <b><apex:outputlabel value="Step 2: Select Role to Identify Customer" style="font-size:15px;"/></b>             
<apex:pageblock mode="mainDetail">
<br/>
<apex:pageBlockSection title="For a Credit User" collapsible="false"  Rendered="{!RenCreditUser}" >
<apex:pageblocktable value="{!lst_Wrap_CustInfo}" var="CustInfo">
<apex:column headerValue="Role (# of Customers)">
<apex:commandlink value="{!CustInfo.str_Profilename}" action="{!CreditCustomers}">
      <apex:param name="prmUserID" value="{!CustInfo.str_userID}"/>
      <apex:param name="prmProfilename" value="{!CustInfo.str_Profile}"/>
      <apex:param name="prmProfilenameval" value="{!CustInfo.str_Profilename}"/>
</apex:commandlink>&nbsp;({!CustInfo.int_CustID})
</apex:column>
</apex:pageblocktable>
<center><apex:outputLabel rendered="{!bolNoCreditCustomers}"><font color="Red">No customers with this profile</font></apex:outputLabel>
</center>
</apex:pageBlockSection>
<apex:pageBlockSection title="For a Non-Credit User" collapsible="false" Rendered="{!RenNonCreditUser}">
<apex:pageblocktable value="{!lst_Wrap_CustInfoNonCredit}" var="CustInfo"  >
<apex:column headerValue="Role (# of Customers)">
<apex:commandlink value="{!CustInfo.str_Profile}" action="{!NonCreditCustomers}">
      <apex:param name="prmUserID" value="{!CustInfo.str_userID}"/>
      <apex:param name="prmProfilename" value="{!CustInfo.str_Profile}"/>
      <apex:param name="prmProfilenameval" value="{!CustInfo.str_Profilename}"/>
</apex:commandlink>&nbsp;({!CustInfo.int_CustID})
</apex:column>
</apex:pageblocktable>
<center><apex:outputLabel rendered="{!bolNoNonCreditCustomers}"><font color="Red">No customers with this profile</font></apex:outputLabel>
</center>
</apex:pageBlockSection>
<center><input value="Back" type="button" onclick="history.back();" class="btn"/></center>
</apex:pageblock>
<apex:pagemessages rendered="{!finalsubmit}"/>
</apex:form>
</apex:page>