<apex:page controller="BSureS_SupplierStatusReport" sidebar="false"  tabstyle="BSureS_Reports__tab" readOnly="true">
<style>
        .homeTab .tertiaryPalette {            
            border-color: #35B4E9 !important;
        }
        .underlineheaders
        { 
            font-weight: bold; 
            font-size:140%;
            text-decoration:underline;
        }
        .headers
        { 
            font-weight: bold; 
            font-size:110%;
        }
         .customPopup{ 
              background-color: white;
              border-style: solid; 
              border-width: 4px;
              left: 50%; 
              padding:10px;
              position: absolute;
              z-index: 9999;
              /* These are the 3 css properties you will need to tweak so the pop 
              up displays in the center of the screen. First set the width. Then set 
              margin-left to negative half of what the width is. You can also add 
              the height property for a fixed size pop up.*/
              width: 500px;
              margin-left: -250px; 
              top:100px;
          } 
        
</style>
<script>
        function getCookie(c_name)
        {
            var c_value = document.cookie;
            var c_start = c_value.indexOf(" " + c_name + "=");
            if (c_start == -1)
            {
                c_start = c_value.indexOf(c_name + "=");
            }   
            if (c_start == -1)
            {
                c_value = null;
            }
            else
            {
                c_start = c_value.indexOf("=", c_start) + 1;
                var c_end = c_value.indexOf(";", c_start);
                if (c_end == -1)
                {
                    c_end = c_value.length;
                }
                c_value = unescape(c_value.substring(c_start,c_end));
            }
            return c_value;
        }
        
        function setCookie(c_name,value,exdays)
        {
            var exdate=new Date();
            //alert('Came here to set Cookie ');
            exdate.setDate(exdate.getDate() + exdays);
            var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
            //alert('Came here to set c_value ' + c_name + "=" + c_value);
            document.cookie = c_name + "=" + c_value;
            //document.cookie = "isTandCShown=true";
            //alert('Came here to set Cookie ' + document.cookie);
        }
        
        function checkCookie()
        {
            var isTnCpage = getCookie("isTandCShown");
            if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
            {
                //alert("Welcome again " + isTnCpage);
            }
            else
            {
                //alert("Welcome again else " + isTnCpage);
                setCookie("isTandCShown",true, null);
                var firstQry = window.location;
                if(firstQry != "")     
                {   
                    window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
                }
            }
        }
    
        var referrerPage = document.referrer;
            //alert('history===='+history.back(1));
        if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
        {   
            var secondqry = window.location;
            //alert('secondqry ========  '+encodeURIComponent(secondqry));
            if(secondqry != "")     
            {   
                window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
            }            
        }
        else if(document.referrer == "")
        {
            checkCookie();
        }       
    </script>
<Script language="javascript" type="text/javascript">
    function removeSerchbox()
    {  
       var a = [];
       var re = new RegExp('\\bsearchCell\\b');
       var els =document.getElementsByTagName("td");
       for(var i=0,j=els.length; i<j; i++)
        if(re.test(els[i].className))
        a.push(els[i]);
        var parent=a[0];
       parent.style.display='none';
    } 
    var oldonload = window.onload;
    if (typeof window.onload != 'function')
    {     
       window.onload = oldonload;
    }
    else
    {  window.onload = function() 
       {     
          if(oldonload) 
          {      
             oldonload(); 
          }    
          removeSerchbox();
       }  
    } 
</Script>
<apex:form id="searchform" > 
<apex:actionStatus id="status1">
        <apex:facet name="start">
            <div style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.75; z-index: 1000; background-color: black;">
                &nbsp;
            </div>
            <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 30% 50%">
                <img src="/img/loading.gif" />
            </div>
        </apex:facet>
    </apex:actionStatus>
<apex:sectionHeader subtitle="{!$Label.BsureS_Supplier_Status_Report}" /> 

<!--<table width="80%" >
<tr height="21px">
    <td valign="middle" align="right"><apex:commandbutton value="Export" action="{!ExportCSV}" style="float:center"/></td>
</tr>
</table>
-->
<hr></hr>
<apex:pageBlock id="pb1" mode="maindetail">
    <table width='100%'>
    <tr>
        <td colspan="3"><apex:outputLabel value="Search Criteria" styleClass="headers"/></td>
    </tr>
    <tr/><tr/>
    <tr>
    <td width="20%">
    </td>
        <td width="30%" >
            <apex:panelGrid >
            <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Region Information</b>
            </apex:panelGrid>
            <apex:panelGrid columns="3">
                <apex:outputlabel >
                    <b style="padding-left:20px;color:#4A4A56;font-size:11px"> Zone  </b>
                </apex:outputlabel>
                <apex:selectList value="{!strZoneId}" size="1" id="zoneId" style="width:150px;">
                         <apex:selectOptions value="{!ZoneOptions}" />
                         <apex:actionSupport event="onchange"  action="{!getSubZones}" rerender="pb1" status="status1"  />
                </apex:selectList>&nbsp;<br/>
                
                <apex:outputlabel > 
                    <b style="padding-left:20px;color:#4A4A56;font-size:11px"> Sub Zone  </b> 
                </apex:outputlabel>
                <apex:selectList value="{!strSubZoneId }" size="1" id="subZoneId" style="width:150px;">
                         <apex:selectOptions value="{!SubZoneOptions}" />
                         <apex:actionSupport event="onchange"  action="{!getCountries}" rerender="pb1" status="status1" />
                </apex:selectList>&nbsp;<br/>
                
                <apex:outputlabel >
                    <b style="padding-left:20px;color:#4A4A56;font-size:11px"> Country  </b>
                </apex:outputlabel>
                <apex:selectList value="{!strCountryId}" size="1"   id="countryId" style="width:150px;">
                        <apex:selectOptions value="{!CoutryOptions}" />
                </apex:selectList>
            
            </apex:panelGrid>
        </td>
        <td width="30%">
            <apex:panelGrid >
            <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Supplier Information</b>
            </apex:panelGrid>
            <apex:panelGrid columns="1">
                <apex:outputpanel />
                <apex:outputpanel />
                <apex:outputpanel >
                    <apex:outputLabel ><b style="padding-left:20px;color:#4A4A56;font-size:11px">Category Name </b></apex:outputLabel>
                    <apex:selectList value="{!strSelectedCategory}" size="1"> 
                            <apex:selectOptions value="{!CategoryList}"/>
                    </apex:selectList>
                </apex:outputpanel>
                <apex:outputpanel >
                    <apex:outputLabel value="{!$Label.BsureS_Buyer}" style="padding-left:20px;color:#4A4A56;font-size:11px;font-weight:bold;"/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <apex:inputText id="Analyst" value="{!strAnalystName}" maxlength="100" style="width:40%" >
                        <c:BSureS_AutoComplete autocomplete_textbox="{!$Component.Analyst}" objectname="User" additionalfield="Name" profilename="BSureS_Buyer"></c:BSureS_AutoComplete>
                    </apex:inputText> 
                    <apex:commandLink action="{!showBuyerDetails}">
                        <img src="/s.gif" alt="Vendor ID Lookup (New Window)" class="lookupIcon"  onblur="this.className = 'lookupIcon';"  onfocus="this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" title=" Lookup (New Window)"/>
                    </apex:commandLink>
                     <apex:outputPanel rendered="{!showeditrecs}" styleClass="customPopup" >
                         <apex:pageblock mode="maindetail">
                             <apex:pageBlockSection columns="6">
                                 <apex:outputlabel value="Search"/>
                                 <apex:inputText value="{!strAnalystSearch}" />
                                 <apex:commandButton value="GO" action="{!searchBtn}" rerender="userList"/>
                             </apex:pageBlockSection>                                
                             <apex:pageBlockTable value="{!lstAnalystUser}" var="assAnalyst" id="userList">
                                 <apex:column headerValue="Buyer" >
                                     <apex:commandLink value="{!assAnalyst.Name}" action="{!closepopup}" >
                                         <apex:param name="Analystid" value="{!assAnalyst.Name}"/>
                                     </apex:commandLink> 
                                 </apex:column>
                             </apex:pageBlockTable>                              
                             <apex:pageBlockButtons location="bottom" >
                                 <apex:commandButton action="{!closepopupBtn}"  value="Close"/> 
                              </apex:pageBlockButtons>
                         </apex:pageblock>
                     </apex:outputPanel>
                </apex:outputpanel>
            </apex:panelGrid>
        </td> 
        <td width="20%">
    </td>
    </tr>   
    </table>    
    <table width='100%'>
        <tr> 
           <td>
            <center>
                <apex:commandbutton value="Search "  action="{!Search}" style="width:100px;" rerender="pb1,ssrid" status="status1"/>&nbsp; &nbsp;
                <apex:commandbutton value="Export to Excel "  action="{!ExportCSV}" style="width:100px;" rendered="{!(lstsuplInfo.size > 0)}" status="status1" /> &nbsp; &nbsp;
                <apex:commandbutton value="Cancel" action="{!Cancel}" style="width:100px;" />
            </center>
           </td>
        </tr> 
    </table>
</apex:pageBlock>
</apex:form>

<apex:form id="ssrid">
    <apex:pageBlock title=" Results"  id="pbid">
        
        
        
        <apex:outputText rendered="{!(lstsuplInfo.size = 0)}" value="There are no Suppliers to display." style="Padding-left:0px; color:Red; font-size:17px; font-weight: bold;" styleClass="msg" />
        <apex:outputpanel id="pnlsearch" rendered="{!!(lstsuplInfo.size = 0)}" >
        <div align="right" style="display:{!IF(NOT(ISNULL(totallistsize)),'block','none')}">
             <b><font size="1pt" >Page &nbsp;<apex:outputLabel value="{!pageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totalPageNumber}"/>&nbsp;&nbsp;</font></b>
             <font size="1pt">Results&nbsp;<apex:outputLabel value="{!PrevPageNumber}"/>&nbsp;to&nbsp;<apex:outputLabel value="{!NxtPageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totallistsize}"/>&nbsp;&nbsp;</font>
             <apex:commandButton value="First" action="{!FirstbtnClick}" disabled="{!previousButtonEnabled}" reRender="pbid"></apex:commandButton>
             <apex:commandButton value="<< Previous" action="{!previousBtnClick}" disabled="{!previousButtonEnabled}" reRender="pbid"></apex:commandButton>
             <apex:commandButton value="Next >>" action="{!nextBtnClick}"  disabled="{!nextButtonDisabled}" reRender="pbid"></apex:commandButton>
             <apex:commandButton value="Last"  action="{!LastbtnClick}"  disabled="{!nextButtonDisabled}" reRender="pbid"></apex:commandButton>&nbsp;&nbsp;
        </div>  
        
        
        <table border="0" width="100%">
        <tr height="21px" >
            <td width="20%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    <apex:commandLink action="{!SortData}" value="Supplier Name" 
                        style="text-decoration:none" >
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression=='Supplier_Name__c',true,false))}" styleClass="sortDesc"  alt="Sorted Descending" ></apex:image>
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Supplier_Name__c',true,false))}" styleClass="sortAsc"   alt="Sorted Ascending" ></apex:image>
                        
                        <apex:param value="Supplier_Name__c" name="column" assignTo="{!sortExpression}" />
                    </apex:commandLink>
                </b>
            </td>
            <td width="8%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    <apex:commandLink action="{!SortData}" style="text-decoration:none" value="Category Name">
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression=='Supplier_Category_Name__c',true,false))}" styleClass="sortDesc"  alt="Sorted Descending" ></apex:image>
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Supplier_Category_Name__c',true,false))}" styleClass="sortAsc"   alt="Sorted Ascending" ></apex:image>
                        <apex:param value="Supplier_Category_Name__c" name="column" assignTo="{!sortExpression}" />
                    </apex:commandLink>
                </b>
            </td>
            <td width="6%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    Ownership
                </b> 
            </td>
            <td width="6%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    Globe ID
                </b> 
            </td>
            <td width="8%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    Ultimate Owner 
                </b> 
            </td>
            <td width="6%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    Tag
                </b> 
            </td>
            <td width="9%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    <apex:commandLink action="{!SortData}" style="text-decoration:none" value="Review Status">
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression=='Review_Status__c',true,false))}" styleClass="sortDesc"  alt="Sorted Descending" ></apex:image>
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Review_Status__c',true,false))}" styleClass="sortAsc"   alt="Sorted Ascending" ></apex:image>
                        <apex:param value="Review_Status__c" name="column" assignTo="{!sortExpression}" />
                    </apex:commandLink>
                </b>
            </td>
            <td width="10%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    Expected Review End Date
                </b> 
            </td>
            <td width="5%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    Rating
                </b> 
            </td>
            <td width="5%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    Risk
                </b> 
            </td>
            <td width="7%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    Spend
                </b> 
            </td>
            <td width="5%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    Countries
                </b> 
            </td>
            <td width="5%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    Parent Company
                </b> 
            </td>
            <!-- <td width="12%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    Review Complete Date
                </b> 
            </td>
            <td width="15%" bgcolor="#F3F1F3" valign="middle">
                <b>
                    <apex:commandLink action="{!SortData}" style="text-decoration:none" value="Analyst Name">
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection=='ASC',true,false),IF(sortExpression=='Analyst_Name__c',true,false))}" styleClass="sortDesc"  alt="Sorted Descending" ></apex:image>
                        <apex:image url="/s.gif" rendered="{!AND(IF(sortDirection!='ASC',true,false),IF(sortExpression=='Analyst_Name__c',true,false))}" styleClass="sortAsc"   alt="Sorted Ascending" ></apex:image>
                        <apex:param value="Analyst_Name__c" name="column" assignTo="{!sortExpression}" />
                    </apex:commandLink>
                </b>
            </td> -->
            <!--<td width="12%" bgcolor="#F3F1F3" valign="middle"><b>City</b>
            </td>
            <td width="13%" bgcolor="#F3F1F3" valign="middle"><b>State</b>
            </td>
            --><td width="21%" bgcolor="#F3F1F3" valign="middle"><b>Buyers</b>
            </td>
        </tr> 
        <apex:repeat value="{!lstSupplierPagination}" var="supl">
            <tr height="21px" valign="middle">
                <td>
                    <apex:outputlink value="/apex/Bsures_viewSupplierDetails?id={!supl.supplId}" target="_blank">{!supl.supplName}</apex:outputlink>
                </td>
                <td>
                    <apex:outputtext value="{!supl.supplCategoryname}"/>
                </td>
                <td>
                    <apex:outputtext value="{!supl.Ownership}"/>
                </td>
                <td>
                    <apex:outputtext value="{!supl.supplGlobeId}"/>
                </td>
                <td>
                    <apex:outputtext value="{!supl.UltimateOwner}"/>
                </td>
                <td>
                    <apex:outputtext value="{!supl.Tag}"/>
                </td>
                <td>
                    <apex:outputtext value="{!supl.suppReviewStatus}"/>
                </td>
                <td>
                    <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                        <apex:param value="{!supl.crdStaExpRevEndDat}" /> 
                    </apex:outputText>
                </td>
                <td>
                    <apex:outputtext value="{!supl.lasReviwRating}"/>
                </td>
                <td>
                    <apex:outputtext value="{!supl.risk}"/>
                </td>
                <td>
                    <!-- <apex:outputText value="$ {0,number, {!currencyFormatts[len(Text(supl.spend))]}}" rendered="{!IF(supl.spend!=0,true,false)}">
                      <apex:param value="{!supl.spend}" />
                    </apex:outputText> -->
                    <apex:outputPanel >
                            <apex:outputPanel rendered="{!IF(supl.spend > 99,true,false)}">
                                <apex:outputText value="{0,number, $,000.00}">
                                    <apex:param value="{!FLOOR(supl.spend)}" />
                                </apex:outputText>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!IF(supl.spend <= 99 && supl.spend > 9,true,false)}">
                                <apex:outputText value="{0,number, $,00.00}">
                                    <apex:param value="{!FLOOR(supl.spend)}" />
                                </apex:outputText>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!IF(supl.spend <= 9,true,false)}">
                                <apex:outputText value="{0,number, $,0.00}">
                                    <apex:param value="{!FLOOR(supl.spend)}" />
                                </apex:outputText>
                            </apex:outputPanel>
                        </apex:outputPanel>
                </td>
                <td>
                    <apex:outputtext value="{!supl.SupplierCountries}"/>
                </td>
                <td>
                    <apex:outputtext value="{!supl.ParentSupplierName}"/>
                </td>
                <!-- <td>
                    <apex:outputText value="{0,date,MM'/'dd'/'yyyy}">
                        <apex:param value="{!supl.lasReviwComplDate}" /> 
                    </apex:outputText>
                </td>
                <td>
                    <apex:outputtext value="{!supl.suppAnalystName}"/>
                </td> -->
                <!--<td>
                    <apex:outputtext value="{!supl.supplCity}"/>
                </td>
                <td>
                    <apex:outputtext value="{!supl.supplState}"/>
                 </td>
                -->
                <td>
                    <apex:outputtext value="{!supl.strBuyerCSV}" />
                </td>  
            </tr>
        </apex:repeat>
        </table>
        
         <div align="right" style="display:{!IF(NOT(ISNULL(totallistsize)),'block','none')}">
             <b><font size="1pt" >Page &nbsp;<apex:outputLabel value="{!pageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totalPageNumber}"/>&nbsp;&nbsp;</font></b>
             <font size="1pt">Results&nbsp;<apex:outputLabel value="{!PrevPageNumber}"/>&nbsp;to&nbsp;<apex:outputLabel value="{!NxtPageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totallistsize}"/>&nbsp;&nbsp;</font>
             <apex:commandButton value="First" action="{!FirstbtnClick}" disabled="{!previousButtonEnabled}" reRender="pbid"></apex:commandButton>
             <apex:commandButton value="<< Previous" action="{!previousBtnClick}" disabled="{!previousButtonEnabled}" reRender="pbid"></apex:commandButton>
             <apex:commandButton value="Next >>" action="{!nextBtnClick}"  disabled="{!nextButtonDisabled}" reRender="pbid"></apex:commandButton>
             <apex:commandButton value="Last"  action="{!LastbtnClick}"  disabled="{!nextButtonDisabled}" reRender="pbid"></apex:commandButton>&nbsp;&nbsp;
    </div> 
       
    </apex:outputpanel> 
    </apex:pageBlock>
</apex:form>  
</apex:page>