<apex:page standardController="BSureS_Assigned_Buyers__c" extensions="BSureS_AssignNonCreditUser" tabstyle="Supplier_Information__tab">
<style type="text/css">	 
	.homeTab .tertiaryPalette {            
	    border-color: #35B4E9 !important;
	}  
</style>
<style type="text/css">
       .customPopup{ 
            background-color: white;
            border-style: solid; 
            border-width: 4px;
            left: 50%; 
            padding:10px;
            position: absolute;
            z-index: 9999;
            /* These are the 3 css properties you will need to tweak so the pop 
            up displays in the center of the screen. First set the width. Then set 
            margin-left to negative half of what the width is. You can also add 
            the height property for a fixed size pop up.*/
            width: 500px;
            margin-left: -250px; 
            top:100px;
        } 
</style> 
<script>
		function getCookie(c_name)
		{
			var c_value = document.cookie;
			var c_start = c_value.indexOf(" " + c_name + "=");
			if (c_start == -1)
			{
				c_start = c_value.indexOf(c_name + "=");
			}	
			if (c_start == -1)
			{
				c_value = null;
			}
			else
			{
				c_start = c_value.indexOf("=", c_start) + 1;
				var c_end = c_value.indexOf(";", c_start);
				if (c_end == -1)
				{
					c_end = c_value.length;
				}
				c_value = unescape(c_value.substring(c_start,c_end));
			}
			return c_value;
		}
		
		function setCookie(c_name,value,exdays)
		{
			var exdate=new Date();
			//alert('Came here to set Cookie ');
			exdate.setDate(exdate.getDate() + exdays);
			var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
			//alert('Came here to set c_value ' + c_name + "=" + c_value);
			document.cookie = c_name + "=" + c_value;
			//document.cookie = "isTandCShown=true";
			//alert('Came here to set Cookie ' + document.cookie);
		}
		
		function checkCookie()
		{
			var isTnCpage = getCookie("isTandCShown");
			if (isTnCpage != null && isTnCpage != "" && isTnCpage == "true")
		  	{
		  		//alert("Welcome again " + isTnCpage);
		  	}
			else
		  	{
		  		//alert("Welcome again else " + isTnCpage);
		  		setCookie("isTandCShown",true, null);
		  		var firstQry = window.location;
		  		if(firstQry != "")     
			   	{   
			     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(firstQry);  
			   	}
		  	}
		}
	
		var referrerPage = document.referrer;
     		//alert('history===='+history.back(1));
		if (referrerPage.indexOf("frontdoor") >= 0 || referrerPage.indexOf("contentDoor") >= 0)
		{   
		  	var secondqry = window.location;
		  	//alert('secondqry ========  '+encodeURIComponent(secondqry));
			if(secondqry != "")     
		   	{   
		     	window.location= "/apex/TermsAndConditions?startURL=" + encodeURIComponent(secondqry);  
		   	}		  	 
	 	}
	 	else if(document.referrer == "")
	 	{
	 		checkCookie();
	 	}	 	
   	</script>
<script>
	
	function cancelfun()
	{
	    var conf = confirm("Are you sure you want to navigate away without saving data?");
	    if(conf == false)
	    {
	
	         return false;
	    }
	}
	function deletefun()
	{
		var conf = confirm("Are you sure?");
		if(conf == false)
		{
			return false;
		}
	}
	function removeSerchbox()
	{  
	   var a = [];
	   var re = new RegExp('\\bsearchCell\\b');
	   var els =document.getElementsByTagName("td");
	   for(var i=0,j=els.length; i<j; i++)
	    if(re.test(els[i].className))
	    a.push(els[i]);
	    var parent=a[0];
	   parent.style.display='none';
	} 
      var oldonload = window.onload;
    if (typeof window.onload != 'function')
    {     
       window.onload = oldonload;
    }
    else
    {  window.onload = function() 
       {     
          if(oldonload) 
          {      
             oldonload(); 
          }    
          removeSerchbox();
       }  
    }
</script>
<apex:sectionHeader subtitle="New Buyer" title=""  />
<apex:form >
<apex:pageMessages />
	<apex:pageBlock id="pb" mode="maindetail"  >
		<apex:pageBlockSection columns="1" title="Supplier Information" id="pbs1"> 
		        <c:BSureS_SupplierDetials supplierId="{!strCurrentSupplierId}" />  
		</apex:pageBlockSection>
		<apex:pageblockSection title="Assign Non-Credit user" columns="1"> 
		    <apex:pageblockSectionItem >
		            <apex:outputlabel >{!$Label.BSureS_BName}<font color="red" size="3">*</font></apex:outputlabel>
		            <apex:outputpanel >
		                <apex:inputText value="{!strbuyer}" id="buyerid" disabled="true"
		                rendered="{!$ObjectType.BSureS_Assigned_Buyers__c.fields.Buyer_Name__c.Createable ||
						           !$ObjectType.BSureS_Assigned_Buyers__c.fields.Buyer_Name__c.Updateable||
								   !$ObjectType.Contact.fields.FirstName.Accessible||
								   !$ObjectType.Contact.fields.LastName.Accessible}"/> 
		                <apex:commandLink action="{!showBuyerDetails}">
		                    <img src="/s.gif" alt="Vendor ID Lookup (New Window)" class="lookupIcon"  onblur="this.className = 'lookupIcon';"  onfocus="this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" title=" Lookup (New Window)"/>
		                </apex:commandLink>
		            </apex:outputpanel>
		    </apex:pageblockSectionItem> 
		</apex:pageblockSection> 
	</apex:pageBlock>
	<apex:outputPanel rendered="{!showeditrecs}" styleClass="customPopup" >
    	<apex:pageblock mode="maindetail" Title="Add Buyer">
	        <table style="padding-left:80px;">
	       		<tr>
	       			<td>  
	       				<apex:outputlabel value="{!$Label.BSureS_Search}"/>
	       			</td>
	       			<td>
	       				<apex:inputText value="{!strSearchBuyer}" rendered="{!$ObjectType.Contact.fields.Name.Accessible}"/>
	       				<apex:commandButton value="{!$Label.BSureS_GO}" action="{!searchBtn}" rerender="userList,optpanel"/>
	       			</td>
	       		</tr>
	       	</table>
	        <apex:outputpanel id="optpanel">
	        	<apex:outputtext value="No Records Found"  rendered="{!(userList.size = 0 )}" style="color:red;padding-left:150px;font-weight:Bold;" />
	        </apex:outputpanel>
	        <apex:pageBlockTable value="{!userList}" var="assbuyer" id="userList" >        	
	            <apex:column headerValue="{!$Label.BSureS_NameOnly}" >
	                <apex:commandLink value="{!assbuyer.Name}" action="{!closepopup}" >
	                    <apex:param name="buyerid" value="{!assbuyer.id}"/>
	                </apex:commandLink> 
	            </apex:column>
	            <apex:column headerValue="{!$Label.BSureS_Email}" >
	                <apex:outputText value="{!assbuyer.Email}"/>
	            </apex:column>
	          <!--  
	            <apex:column headerValue="{!$Label.BSureS_Zone}" >
	                <apex:outputText value="{!assbuyer.Zone_Name__c}"/>
	            </apex:column>
	            <apex:column headerValue="{!$Label.BSureS_SubZone}" >   
	                <apex:outputText value="{!assbuyer.Sub_Zone_Name__c}"/> 
	            </apex:column>
	            <apex:column headerValue="{!$Label.BSureS_Country}" >   
	                <apex:outputText value="{!assbuyer.Country_Name__c}"/> 
	            </apex:column>
	            -->
	        </apex:pageBlockTable>
         	<apex:pageBlockButtons location="bottom" style="padding-left:75px;" >
                <apex:commandButton action="{!closepopupBtn}"  value="{!$Label.BSureS_Cancel}"   /> 
            </apex:pageBlockButtons>
   	 	</apex:pageblock>
	</apex:outputPanel>
	<center>
 	<apex:commandButton value="{!$Label.BSureS_Save}" action="{!buyerSave}" /> &nbsp;
 	<apex:commandButton value="{!$Label.BSureS_Cancel}" action="{!cancel}" onclick="return cancelfun()"/> &nbsp;
</center> 
</apex:form> 
</apex:page>