<apex:page controller="CustomPagination" tabStyle="Contact">
    <apex:form >        
    	<apex:pageBlock title="Contact Pagination " >                 
    		<apex:pageBlockButtons >              
    			<apex:commandButton value="<<" action="{!beginning}" disabled="{!DisablePrevious}"/>
              	<apex:commandButton value="<" action="{!previous}" disabled="{!DisablePrevious}"/>
              	<apex:commandButton value=">" action="{!next}" disabled="{!DisableNext}"/>
              	<apex:commandButton value=">>" action="{!last}" disabled="{!DisableNext}"/>            
			</apex:pageBlockButtons>             
			<apex:pageBlockTable value="{!ContactsToShow}" var="con">
                <apex:column value="{!con.Supplier_Name__c}"/>                  
                <apex:column headerValue="Analyst Name">
                    <apex:outputField value="{!con.Analyst_Name__c}"/>
                </apex:column>                              
			</apex:pageBlockTable>                     
		</apex:pageBlock>
    </apex:form>
</apex:page>