<apex:component Controller="BSureC_CommonInfoSection" allowDML="true" id="componentId" access="global">
<style type="text/css">
        .headers
        { 
            font-weight: bold; 
            font-size:140%;
        }
        .Subheaders 
        { 
            font-weight: bold; 
            font-size:110%;
            padding-left:5%;
        } 
        .titles
        { 
            font-weight: bold; 
            font-size:110%;
        }
        .tableRow 
        {
              background: white;
              border: 1px solid #999;
              font-size: 12px;
        }
        .msg
        { 
            font-weight: bold; 
            font-size:14px;
            color: red;
        }
        .homeTab .tertiaryPalette 
        { 
            border-color: #35B4E9 !important;
        }  
    </style>
    <script> 
     var linktitle;
     var linkDocTypeId;
     var linkvalue;
     var vCustomer_name;
     var vlinkTitle;
     var vfineName;
     var vattId;
     var checkid;
     var vDocId;
     var leftCnt;
     var rightCnt;
     var SelDocs='';
     var vstrSelectedDocs;
     
        function funSearchAttachs(){            
            var vdocId = document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksection:linkdoc:linkdoctype:DocType').value;                      
            window.open('/apex/BSureC_AttachmentsList?custId='+'{!JSENCODE(strCustomerId)}'+'&docId='+vdocId+'&ObjectName='+'{!JSENCODE(strObject)}','mywindow','width=1000,height=600,top=200,left=100,toolbar=no,scrollBars=auto,resizable=no');
            return false;
        }
        function funSearchCustomers()
        {       
            //alert(vCustomer_name.value);  
            //var vdocId = document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksection:linkdoc:linkdoctype:DocType').value;                        
            window.open('/apex/BSureC_CustomerSearch?CustName='+ '','mywindow','width=1000,height=700,top=30,left=100,toolbar=no,scrollBars=auto,resizable=no');
            return false;
        }  
        function funSearchAttach(msgid)
        {
            vstrSelectedDocs.value= SelDocs;
            if((vCustomer_name.value == '' || vCustomer_name.value == 'Start typing your customer name') && SelDocs!='')
            {
                alert('Please enter Customer name to search for attachments');
                document.getElementById(msgid).value='';
            }
            else if(SelDocs=='' && vCustomer_name.value!='' && vCustomer_name.value!='Start typing your customer name')
            {
                alert('Please select Document types to search for attachments');
                document.getElementById(msgid).value='';
            }
            else if(SelDocs=='' && (vCustomer_name.value=='Start typing your customer name' || vCustomer_name.value==''))
            {
                alert('Please enter Customer name and select Document types to search for attachments');
                document.getElementById(msgid).value='';
            }  
        } 
        function funComplete(searchbtnId)
        {
            //alert('compelte');
            document.getElementById(searchbtnId).value= 'Search for Attachments';
        }
        
        function ShowPostFields(bToggle)
        {
            //alert('bToggle Value - ' + bToggle);
            if(bToggle == 'true')
            {
                //alert('In If Value - ' + bToggle);
                document.getElementById('pageId:cId:componentId:formId:pbTopic:pbAttachs').style.display = "none";
            }
            else
            {
                //alert('In else Value - ' + bToggle);
                document.getElementById('pageId:cId:componentId:formId:pbTopic:pbAttachs').style.display = "block"; 
            }           
        }
        function funlink(attfileName,atttitle,attId,docId,cb)
        {
            vfineName = attfileName;
            vlinkTitle = atttitle;     
            //vattId    = attId;
            vDocId  = docId;    
            if(cb.checked)
            {
                vattId  = attId;
            }
            else
            {
                vattId = '';
            }                                        
            var inputElem = document.getElementsByTagName("input");
            for(var i=1; i<inputElem.length; i++)
            {
                if(inputElem[i].id.indexOf("checkedone")!=-1)
                {
                    if(inputElem[i].name!=cb.name)
                    {
                        inputElem[i].checked=false;
                    }
                }
            }
        } 
        
        function funSelectAttach()
        {   
            //alert('Test:'+vattId);
            if(vattId!=undefined && vattId!='')
            {                            
                document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksection:seclink:seclink1:TitleName').value= vlinkTitle;
                document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksection:pblinkitmsrc:pblinkitmsrcid:source').value= vlinkTitle;
                document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksection:pblinkitemlink:pblinkitemlinklnk:link').value= vfineName;
                document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksection:linkdoc:linkdoctype:DocType').value = vDocId;
                document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksection:pblinkitmsrc:pblinkitmsrcid:attachID').value = vattId;             
                document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksection:pblinkitemlink:pblinkitemlinklnk:hiddenlink').value=document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksection:pblinkitemlink:pblinkitemlinklnk:link').value;
                ShowPostFields('true');
                 vattId='';
            }
            else
            {
                alert('Please select the check box');
            }
        }
        
        
        function addToList()
        {
            //alert('Add');
            if(rightCnt!=null) 
            {
                var iCnt=0;
                while(iCnt<rightCnt.options.length) 
                {
                    if((rightCnt.options[iCnt]!=null) && (rightCnt.options[iCnt].value=="")) 
                    {
                        rightCnt.options[iCnt]=null;
                    }
                    iCnt++;
                }
            }
                
            var count=0;
            var i=0;
            var len = rightCnt.options.length;
            
            if(len==null || len=='') 
            {
                len=0;
            }
            if (leftCnt.options.length == 0)
                alert("No Field is available to select");
            else
            {
                while(i<leftCnt.options.length)
                {
                    if((leftCnt.options[i].selected))
                    {
                        rightCnt.options[len++] = new Option(leftCnt.options[i].text,leftCnt.options[i].value);
                        leftCnt.options[i] =null;
                        count++;
                        if(i!=0 && i>0) 
                        {
                            i=i-1;
                        }    
                    }
                    else 
                    {
                        i++;
                    }   
                }
                SelDocs = '';
                for(i=0;i<rightCnt.options.length;i++)
                {
                    //alert(rightCnt.options[i].value);
                    SelDocs += rightCnt.options[i].value + ',';
                }
                
            }
        }
        
        function removeFromList()
        {
            //alert('remove');
            if(leftCnt!=null) 
            {
                var iCnt=0;
                while(iCnt<leftCnt.options.length) 
                {
                    if((leftCnt.options[iCnt]!=null) && (leftCnt.options[iCnt].value=="")) 
                    {
                        leftCnt.options[iCnt]=null;
                    }
                    iCnt++;
                }
            }
            var count=0;
            var i=0;
            len = leftCnt.options.length;
                    
            if(len==null || len=="") 
            {
                len=0;
            }
            if (rightCnt.options.length == 0)
                alert("No Field is available to select");
            else
            {
                while(i<rightCnt.options.length)
                {
                    if(rightCnt.options[i].selected) 
                    {
                        var length1 = leftCnt.options.length;
                        leftCnt.options[length1] = new Option(rightCnt.options[i].text,rightCnt.options[i].value);
                        rightCnt.options[i] =null;
                        count++;
                        i=0;
                    } 
                    else 
                    {
                        i++;
                    }
                }
                SelDocs = '';
                for(i=0;i<rightCnt.options.length;i++)
                {
                    //alert(rightCnt.options[i].value);
                    SelDocs += rightCnt.options[i].value + ',';
                }
                //alert('SelDocs : ' + SelDocs);
                if(count==0)
                    alert("Please select a field to remove from Selected Fields List");
            }
        }
        
        window.onload = function() {
            document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksCustSection:pblinksCusttitle:pblinksCustName:CustName').value='Start typing your customer name';
            document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksCustSection:pblinksCusttitle:pblinksCustName:CustName').style.font='italic 12px arial,serif';
            document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksCustSection:pblinksCusttitle:pblinksCustName:CustName').style.color='#848484';
        };
        
        function funDefaultClear()
        {
            var custText=document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksCustSection:pblinksCusttitle:pblinksCustName:CustName').value;
            if(custText=='Start typing your customer name')
            {
                document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksCustSection:pblinksCusttitle:pblinksCustName:CustName').value='';
                document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksCustSection:pblinksCusttitle:pblinksCustName:CustName').style.font='';
                document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksCustSection:pblinksCusttitle:pblinksCustName:CustName').style.color='';
                //alert('cust');
            }
        }
        
        function funDefaultText()
        {
            var custText=document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksCustSection:pblinksCusttitle:pblinksCustName:CustName').value;
            if(custText=='')
            {
                document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksCustSection:pblinksCusttitle:pblinksCustName:CustName').value='Start typing your customer name';
                document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksCustSection:pblinksCusttitle:pblinksCustName:CustName').style.font='italic 12px arial,serif';
                document.getElementById('pageId:cId:componentId:formId:pbTopic:pblinksCustSection:pblinksCusttitle:pblinksCustName:CustName').style.color='#848484';
            }
        }   
     </script>
    <apex:attribute name="Object" assignTo="{!strObject}" description="This is Dynamic Object " type="string" />
    <apex:form id="frmDetails" >
      <br/>
        <apex:image url="{!$Resource.MainDiscussion}" width="25" height="25"></apex:image>
            <apex:outputLabel value="{!$Label[CustomLabel]}" styleClass="headers"></apex:outputLabel>
            <div>
            <table width="100%">
            <br/>
            <tr>
                <td align="left">
                    <apex:outputLabel value="{!strSubHeader}" styleClass="Subheaders"></apex:outputLabel>
                </td>                
                <td align="right">
                    <apex:outputLabel value="*" styleClass="msg"/><apex:outputLabel value="Mandatory"/>
                </td>
            </tr>
            <tr>
                <td align="left" colspan="2">
                    <apex:pagemessages />
                </td>   
            </tr>
            </table>
            </div>
    </apex:form>
            
   <apex:form id="formId">         
            <apex:pageblock id="pbTopic" mode="maindetail">
                <apex:pageBlockSection title="{!$Label.CustomerInfo}" columns="1">                             
                    <c:BSureC_CustomerDetials customerId="{!strCustomerId}" />
                </apex:pageBlockSection>
                
                <apex:pageBlockSection id="pbsection1" title="{!$Label.NewTopicTitle}" columns="1"  rendered="{!isTopic}" >
                    <apex:pageBlockSectionItem >
                        <apex:pageBlockSectionItem >
                        <apex:outputLabel >
                            <b>{!$Label.Title}</b>
                        </apex:outputLabel>
                        <apex:outputLabel value="*" styleClass="msg"/>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                        <apex:inputText id="TitleName" value="{!strTitle}" maxlength="100" style="width:75%" />
                         </apex:pageBlockSectionItem>
                    </apex:pageBlockSectionItem>
                   <!--  <apex:pageBlockSectionItem >
                        <apex:pageBlockSectionItem >
                        <apex:outputLabel >
                            <b>{!$Label.Doctype}</b>
                        </apex:outputLabel>
                        <apex:outputLabel value="*" styleClass="msg"/>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                        <apex:selectList size="1" value="{!strDoctypeid}" id="DocType" style="width:50%">
                            <apex:selectOptions value="{!lstDocTypes}" />   
                        </apex:selectList>     
                         </apex:pageBlockSectionItem>                
                    </apex:pageBlockSectionItem> -->
                    <apex:pageBlockSectionItem >
                        <apex:pageBlockSectionItem >
                        <apex:outputLabel >
                            <b>{!$Label.Description}</b>
                        </apex:outputLabel>
                        <apex:outputLabel value="*" styleClass="msg"/>
                        </apex:pageBlockSectionItem>
                        <apex:panelgroup >
                            <table width="76%"><tr><td>
                            <apex:inputTextArea richtext="true" id="Desc" value="{!strComments}"  style="width:1000px"  rows="10"/>
                            </td></tr></table>
                        </apex:panelgroup>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel >
                            <b>{!$Label.Source}:</b>
                        </apex:outputLabel>
                        <apex:inputText id="source" value="{!strSrc}" maxlength="100" style="width:75%" />
                    </apex:pageBlockSectionItem>  
                    <apex:pageBlockSectionItem >
                        <apex:pageBlockSectionItem >
                            <apex:outputLabel >
                                <b>{!$Label.Attachment}</b>
                            </apex:outputLabel>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:inputFile value="{!topic_filebody}" filename="{!topic_fileName}" filesize="{!topic_filesize}" size="62" />
                            <apex:outputLink value="{!topic_fileUrl}" id="thetopicLink" target="_blank">{!topic_oldfileName}</apex:outputLink> 
                        </apex:pageBlockSectionItem>  
                    </apex:pageBlockSectionItem>              
            </apex:pageBlockSection>            
                       
       
            <apex:pageBlockSection title="{!$Label.NewFileTitle}" columns="1"  rendered="{!isFile}">                             
                    <apex:pageBlockSectionItem >
                        <apex:pageBlockSectionItem >
                        <apex:outputLabel >
                            <b>{!$Label.Title}</b>
                        </apex:outputLabel>
                        <apex:outputLabel value="*" styleClass="msg"/>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                        <apex:inputText id="TitleName" value="{!strTitle}" maxlength="100" style="width:75%" />
                         </apex:pageBlockSectionItem>
                    </apex:pageBlockSectionItem>             
                    <apex:pageBlockSectionItem >
                        <apex:pageBlockSectionItem >
                        <apex:outputLabel >
                            <b>{!$Label.Doctype}</b>
                        </apex:outputLabel>
                        <apex:outputLabel value="*" styleClass="msg"/>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                        <apex:selectList size="1" value="{!strDoctypeid}" id="DocType" style="width:50%">
                            <apex:selectOptions value="{!lstDocTypes}" />   
                        </apex:selectList>     
                         </apex:pageBlockSectionItem>                
                    </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:pageBlockSectionItem >
                    <apex:outputLabel >
                        <b>{!$Label.NewFileTitle}</b>
                    </apex:outputLabel>
                    <apex:outputLabel value="*" styleClass="msg"/>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                    <apex:inputFile value="{!m_fileBody}" filename="{!m_fileName}" filesize="{!fsize}" size="62" />
                    <apex:outputLink value="{!fileURL}" id="theLink">{!fileName}</apex:outputLink> 
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >
                        <b>{!$Label.Source}</b>
                    </apex:outputLabel>
                    <apex:inputText id="source"  value="{!strSrc}" maxlength="100" style="width:75%" />
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection id="pblinksCustSection" title="Step 1: Search for Document" rendered="{!isLink}" columns="1">
                 <apex:pageBlockSectionItem id="pblinksCusttitle">
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="{!$Label.CustomerName}" />
                        <apex:outputLabel value="*" styleClass="msg"/>
                     </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem id="pblinksCustName">
                        <apex:inputText id="CustName" value="{!strCustomerName}" maxlength="100" style="height100%; width:420px;" onClick="javascript:funDefaultClear();" onblur="javascript: funDefaultText();" >
                        <c:BSureC_AutoComplete autocomplete_textbox="{!$Component.CustName}" objectname="BSureC_Customer_Basic_Info__c" additionalfield="Customer_Name__c"/>
                        </apex:inputText>
                        <b>&nbsp;&nbsp; or &nbsp;&nbsp;
                        </b>
                        <img src="/s.gif" alt="alt" class="lookupIcon" onclick="return funSearchCustomers();" onblur="this.className = 'lookupIcon';" onfocus="this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';" onmouseover="this.className = 'lookupIconOn';" title=" Search"/>              
                    <script>vCustomer_name=document.getElementById('{!$Component.CustName}');</script>                  
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >                    
                     <apex:outputpanel >
                        <apex:outputLabel value="{!$Label.BSureS_SelectDocTypes}" />
                        <apex:outputLabel value="*" styleClass="msg"/>
                    </apex:outputpanel>                   
                    <apex:outputpanel id="pnldoctypes">
                    <table width="70%" align="left" border="0">
                        <tr>
                            <td  align="left">
                                <apex:selectList value="{!strLeftDocTypes}" id="strLeftDocTypes" style="width:300px;"  multiselect="true" size="4" >
                                    <apex:selectOptions value="{!lstLeftDocTypes}" />   
                                </apex:selectList>
                            </td>
                            <td>
                                <table align="left">
                                    <tr height="10"></tr>
                                    <tr>
                                        <td>
                                            <apex:image url="{!$Resource.ForwardArrow}" style="cursor:pointer;cursor:hand;" onclick="javascript:addToList()">
                                                
                                            </apex:image>
                                        </td>
                                    </tr>
                                    <tr height="5"></tr>
                                    <tr>
                                        <td>
                                            <apex:image url="{!$Resource.BackwardArrow}" style="cursor:pointer;cursor:hand;" onclick="javascript:removeFromList();">
                                                
                                            </apex:image>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td  align="right">
                                <apex:selectList value="{!strRightDocTypes}" id="strRightDocTypes" style="width:300px;"  multiselect="true" size="4" >
                                    <apex:selectOptions value="{!lstRightDocTypes}" />   
                                </apex:selectList>
                                <apex:inputHidden id="strSelectedDocs" value="{!strSelectedDocs}"></apex:inputHidden>
                                <script>
                                vstrSelectedDocs=document.getElementById("{!$Component.strSelectedDocs}");
                                </script>
                            </td>
                        </tr>
                    </table>
                    <script>
                        leftCnt=document.getElementById("{!$Component.strLeftDocTypes}");
                        rightCnt=document.getElementById("{!$Component.strRightDocTypes}");
                    </script>  
                     </apex:outputpanel>                     
                </apex:pageBlockSectionItem>
                <apex:outputpanel style="padding-left:580px;" rendered="{!isLink}">                 
                    
                 <apex:actionStatus id="mySaveStatus1">
                 <apex:facet name="stop">
                     <apex:commandButton value="{!$Label.BSureC_Search}" status="mySaveStatus1" action="{!SearchResults}" rerender="optID" id="SearchAttId" style="cursor:pointer;cursor:hand; " onClick="funSearchAttach('{!JSINHTMLENCODE($Component.msgid)}');"></apex:commandButton>
                 </apex:facet>
                 <apex:facet name="start">
                     <apex:outputPanel >
                           <apex:image value="{!$Resource.AjaxAnimation}" style="height: 15px;"/>
                           <apex:commandButton value="Searching for Documents..." status="mySaveStatus1" disabled="true"/>
                       </apex:outputPanel>
                   </apex:facet>
                </apex:actionStatus>   
                </apex:outputpanel>
               
             </apex:pageBlockSection>
            <apex:outputpanel id="optID" rendered="{!isLink}">
                <apex:pageBlock title="Search Results" id="pbAttachs" rendered="{!pbAttach}" >  
                    <div align="right" style="display:{!IF(NOT(ISNULL(totallistsize)),'block','none')}">
                                     <b><font size="1pt" >Page &nbsp;<apex:outputLabel value="{!pageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totalPageNumber}"/>&nbsp;&nbsp;</font></b>
                                     <font size="1pt">Results&nbsp;<apex:outputLabel value="{!PrevPageNumber}"/>&nbsp;to&nbsp;<apex:outputLabel value="{!NxtPageNumber}"/>&nbsp;of&nbsp;<apex:outputLabel value="{!totallistsize}"/>&nbsp;&nbsp;</font>
                                     <apex:commandButton value="First" action="{!FirstbtnClick}" disabled="{!previousButtonEnabled}" reRender="optID"></apex:commandButton>
                                     <apex:commandButton value="<< Previous" action="{!previousBtnClick}" disabled="{!previousButtonEnabled}" reRender="optID"></apex:commandButton>
                                     <apex:commandButton value="Next >>" action="{!nextBtnClick}"  disabled="{!nextButtonDisabled}" reRender="optID"></apex:commandButton>
                                     <apex:commandButton value="Last"  action="{!LastbtnClick}"  disabled="{!nextButtonDisabled}" reRender="optID"></apex:commandButton>&nbsp;&nbsp;
                                 </div>     
                    <apex:pageBlockTable value="{!lstAttachPagination}" var="Attach" style="border-style:solid;width:100%;border-color:gray;">
                        <apex:column value="{!Attach.Id}" headervalue="ID" rendered="false"></apex:column>
                        <apex:column value="{!MapCreditObject[Attach.ParentId].Customer_ID__r.Customer_Name__c}" headervalue="Customer Name"></apex:column>
                        <apex:column headervalue="File Name(Click on link to download)" >
                            <apex:outputLink value="{!URLFOR($Action.Attachment.Download, Attach.id)}"  target="_blank" id="theLink">{!Attach.Name}</apex:outputLink>
                        </apex:column> 
                        <apex:column headervalue="{!$Label.SectionName}" value="{!MapObjectName[Attach.ParentId]}">           
                        </apex:column>
                        <apex:column headervalue="{!$Label.Title}" value="{!MapCreditObject[Attach.ParentId].TitleDescription__c}">           
                        </apex:column>
                        <apex:column headervalue="{!$Label.Doctype}" value="{!MapCreditObject[Attach.ParentId].Document_Type_Name__c}">           
                        </apex:column>  
                        <apex:column headerValue="{!$Label.BSureC_MarkSeclected}">
                            <apex:inputCheckbox id="checkedone" onclick="javascript:funlink('{!JSENCODE(Attach.Name)}','{!JSENCODE(MapCreditObject[Attach.ParentId].TitleDescription__c)}','{!JSENCODE(Attach.ParentId)}','{!JSENCODE(MapCreditObject[Attach.ParentId].Document_Type__c)}',this);">                     
                            </apex:inputCheckbox>
                            <script>
                            checkid = document.getElementById("{!$Component.checkedone}").value;                    
                            </script>
                        </apex:column>
                    </apex:pageBlockTable>  
                    <br/>
                    
                    <table width="100%">
                    <tr>
                        <td align="center">
                            <input type="button" value="{!$Label.BSureC_Select_Document}" id="Select" style="cursor:pointer;cursor:hand;" onClick="funSelectAttach();" />
                        </td>
                    </tr>
                   </table>
                </apex:pageBlock> 
                <table width="75%">
                    <tr>
                        <td align="center">         
                        <apex:outputText id="msgid" rendered="{!pbAttachNotFound}" value="There are no attachments to display." style="Padding-left:250px;" styleClass="msg" />
                        </td>
                    </tr>
                </table>
            </apex:outputpanel>
                        
            <apex:pageBlockSection id="pblinksection" title="{!$Label.NewLinkTitle}" columns="1" rendered="{!isLink}">                             
                <apex:pageBlockSectionItem Id="seclink">
                        <apex:pageBlockSectionItem >
                        <apex:outputLabel >
                            <b>{!$Label.Title}</b>
                        </apex:outputLabel>
                        <apex:outputLabel value="*" styleClass="msg"/>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem Id="seclink1" >
                        <apex:inputText id="TitleName" value="{!strTitle}" maxlength="100" style="width:75%" />
                         <script>
                            linktitle = document.getElementById("{!$Component.TitleName}"); 
                        </script>
                         </apex:pageBlockSectionItem>
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem id="linkdoc">
                        <apex:pageBlockSectionItem >
                        <apex:outputLabel >
                            <b>{!$Label.Doctype}</b>
                        </apex:outputLabel>
                        <apex:outputLabel value="*" styleClass="msg"/>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem id="linkdoctype">
                        <apex:selectList size="1" value="{!strDoctypeid}" id="DocType" style="width:50%">
                            <apex:selectOptions value="{!lstDocTypes}" />   
                        </apex:selectList>    
                         <script>
                            linkDocTypeId = document.getElementById("{!$Component.DocType}"); 
                        </script>  
                         </apex:pageBlockSectionItem>                
                    </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem id="pblinkitemlink">                     
                        <apex:pageBlockSectionItem >
                            <apex:outputLabel >
                                <b>{!$Label.Link}</b>
                            </apex:outputLabel> 
                            <apex:outputLabel value="*" styleClass="msg"/>
                        </apex:pageBlockSectionItem>    
                        <apex:pageBlockSectionItem id="pblinkitemlinklnk">
                            <apex:panelgroup id="Pgr">
                                <apex:inputText id="link" value="{!strLink}"  style="width:50%; height:100%;" disabled="true"/>
                                <apex:inputHidden value="{!strhiddenLink}" id="hiddenlink" />
                                 <script>
                                 linkvalue = document.getElementById("{!$Component.link}");
                                </script>
                            </apex:panelgroup> 
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="pblinkitmsrc">
                    <apex:outputLabel >
                        <b>{!$Label.Source}</b>
                    </apex:outputLabel>
                     <apex:pageBlockSectionItem id="pblinkitmsrcid">
                    <apex:inputText id="source"  value="{!strSrc}" maxlength="100" style="width:75%;" disabled="true" />
                    <apex:inputHidden value="{!strattachid}" id="attachID" />                                       
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSectionItem>                
            </apex:pageBlockSection>
              <apex:pageBlockButtons location="bottom" style="padding-left:170px;">
                <apex:commandButton value="{!$Label.Submit}" id="Save" style="cursor:pointer;cursor:hand;" action="{!SaveDetails}" onclick="return checkTitle();" />                   
                <apex:commandButton value="{!$Label.Cancel}" id="Cancel" style="cursor:pointer;cursor:hand;" immediate="true" action="{!Cancel}"/>
            </apex:pageBlockButtons>
             <script>
                function checkTitle(){                  
                    if(linktitle.value == ''){
                        alert('Title is Mandatory');
                        return false;
                    }else if(linkDocTypeId.value == ''){
                        alert('Document Type is Mandatory');
                        return false;
                    }else if(linkvalue.value == ''){  
                        alert('Link is Mandatory');
                        return false;
                    }
                    return true;
                    
                }
            </script>
        </apex:pageblock>        
    </apex:form>
    </apex:component>