<apex:component controller="BSureS_MassTransferComponent">
    <!-- JQuery Files -->
    <apex:includeScript value="{!URLFOR($Resource.jQueryui22, '/js/jquery-1.7.1.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.jQueryui22, '/js/jquery-ui-1.8.18.custom.min.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.jQueryui22,'/css/smoothness/jquery-ui-1.8.18.custom.css')}"/>
    <!-- Attributes Required For Component -->
    <apex:attribute name="objectname" description="The object name you want to look for." type="String" required="true"/>
    <apex:attribute name="additionalfield" description="Any additional fields you'd like to search and include in the display." type="String" required="false"/>
    <apex:attribute name="profilename" description="To filter on the basis of profile name and include in the display." type="String" required="false"/>
    <apex:attribute name="ProfileIDs" description="To filter on the basis of profile name and include in the display." type="String" required="false"/>
    <apex:attribute name="CustIDs" description="To filter on the basis of profile name and include in the display." type="String" required="false"/>
    <apex:attribute name="autocomplete_textbox" description="The ID for the Autocomplete List Textbox." type="String" required="true"/>
    <apex:attribute name="uid" description="The ID for the Autocomplete List Textbox." type="String" required="false"/>
    <!-- CSS Style -->
    <style>
    .ui-autocomplete-loading {background: white url({!$Resource.AjaxAnimation}) right center no-repeat;}
    li  {
        list-style-type: none; 
    }
    </style>
    
     <!-- Java script -->
  <script type="text/javascript">
    var j$ = jQuery.noConflict();
    j$(document).ready(function() 
    {

        var sObjects;
        var queryTerm;

        j$(esc('{!JSENCODE(autocomplete_textbox)}')).autocomplete({
            minLength: 1,
            source: function(request, response) {
                        queryTerm = request.term;
                        BSureS_MassTransferComponent.findSObjects("{!JSENCODE(objectname)}", request.term, "{!JSENCODE(additionalfield)}", "{!JSENCODE(profilename)}","{!JSENCODE(ProfileIDs)}" ,"{!JSENCODE(uid)}","{!JSENCODE(CustIDs)}",function(result, event){
                            if(event.type == 'exception') 
                            {
                                  alert(event.message);
                            } else 
                            {
                                 sObjects = result;
                                 response(sObjects);
                            }
                        });
                   },
            focus: function( event, ui ) {
                    //alert("{!JSENCODE(objectname)}");
                    if("{!JSENCODE(objectname)}"=="User")
                    {
                        j$(esc('{!JSENCODE(autocomplete_textbox)}')).val( ui.item.Name );
                    }
                    return false;
                    },
            select: function( event, ui ) {
                        if("{!JSENCODE(objectname)}"=="User")
                        {
                            j$(esc('{!JSENCODE(autocomplete_textbox)}')).val( ui.item.Name );
                        }
                        j$(esc('{!JSENCODE(autocomplete_textbox)}_lkid')).val( ui.item.Id );
                        j$(esc('{!JSENCODE(autocomplete_textbox)}_lkold')).val( ui.item.Name );
                        if (event.keyCode == 13) { 
                            event.preventDefault();
                        }
                        return false;
                    }, 
         })
         .data( "autocomplete" )._renderItem = function( ul, item ) {
            var entry; // = item.Name;
            if("{!additionalfield}" !='')
            {
                j$.each("{!additionalfield}".split(",") , function(key, value) {
                    entry = item[value];
                });
            }
            //entry = entry + "</a>";
            //entry = entry.replace(queryTerm, "<b>" + queryTerm + "</b>");
            entry = entry.replace( new RegExp( "(" + queryTerm + ")" , "gi" ), "<strong>$1</strong>" );
            //alert(entry);
            return j$( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + entry + "</a>")
                .appendTo( ul );
        };
    });

    function esc(myid) 
    {
           return '#' + myid.replace(/(:|\.)/g,'\\\\$1');
    }

  </script>
         

</apex:component>