<apex:component Controller="BSureCCustomerInfoCompController">
	<style>
b,span {
	color: #4A4A56 !important;
	font-size: 100% !important;
	font-family: Arial, Helvetica, sans-serif !important;
}
</style>

	<apex:attribute name="comCustObj"
		description="This is the customer value for the component."
		type="BSureC_Customer_Basic_Info__c" assignTo="{!objCUstInfo}"
		required="true" />

	<apex:pageBlockSection columns="2" collapsible="false">
		<apex:pageBlockSectionItem >
			<apex:outputLabel value="{!$Label.CustomerID}"></apex:outputLabel>
			<apex:outputLabel value="{!objCUstInfo.Customer_ID__c}"></apex:outputLabel>
		</apex:pageBlockSectionItem>
		<apex:pageBlockSectionItem >
			<apex:outputLabel value="{!$Label.CustomerGrpID}"></apex:outputLabel>
			<apex:outputLabel value="{!objCUstInfo.Customer_Group_Id__c}"></apex:outputLabel>
		</apex:pageBlockSectionItem>
		<apex:pageBlockSectionItem >
			<apex:outputLabel value="{!$Label.CustomerName}"></apex:outputLabel>
			<apex:outputLabel value="{!objCUstInfo.Customer_Name__c}"></apex:outputLabel>
		</apex:pageBlockSectionItem>
	</apex:pageBlockSection>

</apex:component>