<apex:component >
<apex:attribute name="lowerLimit" type="integer" description="Number by which you need to make year start. Accept 100 max"/>
<apex:attribute name="higherLimit" type="integer" description="Number by which you need to make year end. Accept 100 max"/>
<apex:attribute name="startYear" type="integer" description="Year by which you need to make start year.If given lowerLimit/higherLimit ignored. Must be less than endYear. Difference between startYear/endYear must not exceed 300."/>
<apex:attribute name="endYear" type="integer" description="Year by which you need to make end year.If given lowerLimit/higherLimit ignored. Must be greater than startYear. Difference between startYear/endYear must not exceed 300."/>
<script src="{!$Resource.datepicker_extend}"></script>
<script>
    $(function(){
        
        var PRELIMIT = parseInt("{!lowerLimit}");
        var POSTLIMIT = parseInt("{!higherLimit}");
        var startYear = parseInt("{!startYear}");
        var endYear =  parseInt("{!endYear}");
        
        if(!startYear && PRELIMIT){
            startYear = $("#calYearPicker option:first").val();            
            endYear = $("#calYearPicker option:last").val();
            if(PRELIMIT <= 100){
                for(var i = 1; i <= PRELIMIT; i++){
                     $("#calYearPicker").prepend("<option value='" + --startYear +"'>" + startYear + "</option>");
                }
            }
            if(POSTLIMIT <= 100){
                for(var i = 1; i <= POSTLIMIT; i++){
                     $("#calYearPicker").append("<option value='" + ++endYear +"'>" + endYear + "</option>");
                }
            }
        }else{
            
            if(!endYear){
                startYear = $("#calYearPicker option:last").val();
            }
            if(endYear - startYear <= 300){
                $("#calYearPicker option").remove();
                for(var i = startYear; i <= endYear;){
                    $("#calYearPicker").append("<option value='" + i +"'>" + i++ + "</option>");
                }
            }
        }
    });
</script>
</apex:component>